<div class="main-gestion-doc-public">
    <div fxLayout="row">
        <svg-icon key="flechaRetorno"></svg-icon>
        <span class="enlace">
        <a [routerLink]="['']">{{textos.generales.inicio}}</a>
    </span>
        <mat-icon class="icono">
            keyboard_arrow_right
        </mat-icon>
        <span class="enlace">
        <a [routerLink]="['/documentos']" [routerLinkActive]="['link-activo']">{{textos.gestion_docu_publicos.documentosPublicaciones}}</a>
    </span>
    </div>

    <div class="filtro" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="58px">
        <span fxFlex="50" style="text-align: right; font-family: OpenSans, sans-serif;">{{textos.gestion_docu_publicos.filtrarPor}}</span>
        <div class="box" fxFlex>
            <form [formGroup]="formFiltro">
                <mat-form-field appearance="outline">
                    <mat-label>{{textos.gestion_docu_publicos.pais}}</mat-label>
                    <mat-select formControlName="pais" multiple (valueChange)=" bPais.value = ''" class="asdasd">
                        <input class="campo-buscar" [formControl]="buscarPais" matInput placeholder="{{textos.gestion_docu_publicos.buscar}}" #bPais value="">
                        <mat-option disableRipple #option [ngClass]="optionPais(item.id, option)" [ngClass]="{'ocultar': !mostrar(buscarPais.value, item.descripcion),'option-selected' : option._getAriaSelected()}" [value]="item" *ngFor="let item of paisesList">
                            {{getDescripcionPais(item)}}
                            <span class="cantidad">{{item.cantidad}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icono-select">
                        expand_more
                    </mat-icon>
                </mat-form-field>
            </form>
        </div>
        <div class="box" fxFlex>
            <form [formGroup]="formFiltro">
                <mat-form-field appearance="outline">
                    <mat-label>{{textos.gestion_docu_publicos.categoria}}</mat-label>
                    <mat-select formControlName="categoria" multiple (valueChange)=" bTipo.value=''">
                        <input class="campo-buscar" [formControl]="buscarCategoria" matInput placeholder="{{textos.gestion_docu_publicos.buscar}}" #bTipo value="">
                        <mat-option [ngClass]="optionTipo(item.id, option)" [ngClass]="{'ocultar': !mostrar(buscarCategoria.value, item.descripcion),'option-selected' : option._getAriaSelected()}" #option [value]="item" *ngFor="let item of categoriaList">
                            {{getDescripcionCategoria(item)}}
                            <span class="cantidad">{{item.cantidad}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icono-select">
                        expand_more
                    </mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="end" *ngIf="mostrarLimpiarFiltro()">
        <mat-accordion fxFlex>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{textos.gestion_docu_publicos.resumen_filtro}}
                    </mat-panel-title>
                    <mat-panel-description fxLayout="row" fxLayoutAlign="end">

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <div fxFlex="50">
                        <h4>{{textos.gestion_docu_publicos.pais}}</h4>
                        <mat-chip-list class="chips" #chipList>
                            <mat-chip [removable]="true" (removed)="removePais(item.id)" *ngFor="let item of paisesInput">
                                {{getDescripcionPais(item)}}
                                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div fxFlex="50">
                        <h4>Categoría:</h4>
                        <mat-chip-list class="chips" #chipListTipo>
                            <mat-chip [removable]="true" (removed)="removeCategoria(item.id)" *ngFor="let item of categoriaInput">
                                {{getDescripcionCategoria(item)}}
                                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                        <button (click)="limpiarFiltro()" class="btn-noticias">Limpiar</button>
                    </div>
                </div>

                <p style="text-align: center;">{{textos.gestion_docu_publicos.docuEncontrados}}: <span>{{configPaginador.totalItems}}</span></p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div fxLayout="row" fxLayoutAlign="start none">
        <a class="nuevo-registro" (click)="abrirEditar()" fxFlex="20">
            <svg-icon key="masNuevo" class="iconoMas"></svg-icon>
            {{textos.gestion_docu_publicos.nuevoItem}}
        </a>
    </div>

    <div fxLayout="row wrap" style="margin-top: 20px;">
        <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.gt-xs="33" class="documentos" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let documento of documentos| paginate: configPaginador">
            <app-tarjeta-documentos #card (mouseover)="card.over = true" (mouseleave)="card.over = false" class="tarjeta-documento" [documento]="documento" [listaPaises]="paisesListIdioma" [listaCategorias]="categoriasListIdioma">
            </app-tarjeta-documentos>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end" style="margin-top:100px;">
        <pagination-template #p="paginationApi" [id]="configPaginador.id" (pageChange)="pageChanged($event)">
            <div class="custom-pagination" fxLayout="row">
                <div *ngIf="!p.isFirstPage()" class="pagination-previous" [class.disabled]="p.isFirstPage()" (click)="p.previous()">
                    <span> 
                <mat-icon class="flecha">
                    keyboard_arrow_left
                </mat-icon>
             </span>
                </div>
                <div class="page-number" (click)="p.setCurrent(page.value)" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                    <div *ngIf="p.getCurrent() === page.value">
                        <span>{{ page.label }}</span>
                    </div>
                </div>
                <div *ngIf="!p.isLastPage()" class="pagination-next" [class.disabled]="p.isLastPage()" (click)="p.next()">
                    <span *ngIf="!p.isLastPage()" (click)="p.next()"> 
                <mat-icon class="flecha">
                    keyboard_arrow_right
                </mat-icon>
             </span>
                </div>
            </div>
        </pagination-template>
    </div>
</div>