$color-naranja: #f07e00;
$color-gris: #949494;
$color-azul: #0099cc;
.card-evento {
    margin-top: 2rem;
    border-radius: 13px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfcfc;
    width: 285px;
    height: 411px;
    padding: 9px 11px 9px 22px;
    cursor: pointer;
    .card-content {
        height: 93%;
        .resumen-evento {
            height: 79%
        }
    }
    article {
        .rectangulo {
            width: 63px;
            height: 44px;
            border-radius: 21px;
            background-color: #949494;
            position: absolute;
            z-index: 99;
            top: -20px;
            left: 75%;
        }
    }
    h1 {
        font-family: OpenSans-Bold, sans-serif;
        color: $color-naranja;
        font-weight: bold;
        font-size: 20px;
        margin: 0;
        line-height: 1.25;
        letter-spacing: 0.2px;
        height: 1.5rem;
        width: 12.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h1:hover {
        overflow: visible;
    }
    h2 {
        font-family: OpenSans, sans-serif;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.18px;
        line-height: 1;
        text-align: left;
        color: $color-naranja;
        width: 12.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-parrafo {
        font-family: OpenSans-Bold, sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-wrap: anywhere;
        height: 230px;
    }
    .fecha,
    .fecha2 {
        font-family: OpenSans, sans-serif;
        height: 40px;
        text-align: center;
        position: absolute;
        width: 80%;
        z-index: 99;
        .dia {
            background-color: $color-naranja;
            width: 40%;
            color: white;
            min-width: 30px;
            .numero {
                font-size: 18px;
                font-weight: bold;
                position: relative;
                margin: 0 auto;
                top: 10%;
            }
            .mes {
                font-family: OpenSans-Regular, sans-serif;
                font-size: 12px;
                margin: 0 auto;
                top: 10%;
            }
        }
        .estado {
            width: 60%;
            border-radius: 0 5px 5px 0;
            height: 100%;
            position: relative;
            right: 3px;
            margin: auto;
            min-width: 100px;
            p {
                font-size: 18px;
                font-weight: bold;
                color: #ffffff;
                position: relative;
                top: 23%;
            }
        }
        #triangulo {
            border-top: 20px solid $color-naranja;
            border-bottom: 20px solid $color-naranja;
        }
    }
    .fecha {
        .estado {
            background-color: $color-gris;
        }
        #triangulo {
            border-right: 20px solid $color-gris;
        }
    }
    .fecha2 {
        .estado {
            background-color: $color-azul;
        }
        #triangulo {
            border-right: 20px solid $color-azul;
        }
    }
    .detalle-fecha {
        margin-bottom: 12px;
        margin-left: -24px;
    }
    .card-fecha {
        position: relative;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.18px;
        hr {
            background-color: $color-naranja;
            height: 2px;
            width: 77px;
            border: none;
            margin-left: 0;
        }
    }
    .ubicacion {
        height: 49px;
        margin-top: 0.5rem;
    }
}

.div-card {
    height: 290px;
}

.fechas {
    font-size: 18px;
    font-weight: normal!important;
    font-style: normal;
    line-height: 1.25px;
}

.div-calendario {
    background-color: gray;
}

.calendario {
    position: relative;
    top: 6px;
    left: 17px;
    font-size: 31px;
}

.evento {
    position: relative;
    .administrar {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: #d6d6d696;
        border-radius: 13px;
        .opciones-admin {
            position: absolute;
            top: calc(50% - 20px);
        }
    }
}

.opcion {
    text-align: center;
    .opcion-icono {
        font-size: 40px;
    }
    .ico-editar,
    .ico-eliminar {
        cursor: pointer;
    }
    .ico-eliminar {
        filter: invert(20%) sepia(73%) saturate(1498%) hue-rotate(202deg) brightness(102%) contrast(91%);
    }
}

.editar {
    border-right: 0.5px solid #004a9c;
}

@media screen and (max-width:800px) {
    .card-evento {
        margin-top: 0;
        max-width: 285px;
        width: 100%;
        min-width: 158px;
        height: 460px;
        padding: 10px 19px 39px 15px;
        .card-content {
            height: 100%;
        }
        article {
            .rectangulo {
                width: 43px;
                height: 31px;
            }
        }
        h1 {
            font-size: 1rem;
            line-height: 1.13;
            letter-spacing: 0.16px;
            height: 2.5rem;
            width: 7.75rem;
        }
        h2 {
            font-size: 0.875rem;
            letter-spacing: 0.14px;
            height: 35px;
        }
        .card-parrafo {
            font-size: 1rem;
            line-height: 1.13;
            letter-spacing: 0.16px;
            height: 230px;
        }
        .fecha,
        .fecha2 {
            height: 2rem;
            width: 100%;
            .dia {
                background-color: $color-naranja;
                width: 40%;
                color: white;
                min-width: 30px;
                .numero {
                    font-size: 1rem;
                    font-weight: bold;
                    position: relative;
                    margin: 0 auto;
                    height: 1rem;
                }
                .mes {
                    font-family: OpenSans-Regular, sans-serif;
                    font-size: 12px;
                    margin: 0 auto;
                    top: 10%;
                }
            }
            .estado {
                p {
                    font-size: 1rem;
                }
            }
            #triangulo {
                border-top: 15px solid $color-naranja;
                border-bottom: 15px solid $color-naranja;
            }
        }
        .fecha {
            #triangulo {
                border-right: 15px solid $color-gris;
            }
        }
        .fecha2 {
            #triangulo {
                border-right: 15px solid $color-azul;
            }
        }
        .detalle-fecha {
            margin-left: -13px;
        }
        .card-fecha {
            font-size: 1rem;
            letter-spacing: 0.16px;
            hr {
                background-color: $color-naranja;
                height: 2px;
                width: 77px;
                border: none;
                margin-left: 0;
            }
        }
        .ubicacion {
            height: 35px;
            margin-top: 0.5rem;
        }
    }
    .calendario {
        top: 4px;
        left: 11px;
        font-size: 22px;
    }
    .fechas {
        font-size: 1rem;
        line-height: 1.13;
        letter-spacing: 0.16px;
    }
}