<div *ngIf="textos">
    <div fxLayout="row" fxLayoutAlign="end">
        <mat-icon mat-dialog-close>
            close
        </mat-icon>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <form class="formulario" [formGroup]="formRegistro">
            <h1 class="titulo">{{(editar)? textos.admin_usuarios.nuevo_usuario.editar:textos.admin_usuarios.nuevo_usuario.titulo}}</h1>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{textos.admin_usuarios.nuevo_usuario.c_email}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input formControlName="email" class="campo" type="email" placeholder="{{textos.admin_usuarios.nuevo_usuario.correo_ele}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco2"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(email.invalid && email.touched) ||(email.invalid && submit)">
                        <span class="mensaje" *ngIf="email.errors.required">{{textos.admin_usuarios.nuevo_usuario.v_email_1}}</span>
                        <span class="mensaje" *ngIf="email.errors.pattern">{{textos.admin_usuarios.nuevo_usuario.v_email_2}}</span>
                    </div>
                    <div class="validacion" *ngIf="errorUsuarioRegistrado && !email.touched">
                        <span class="mensaje">{{textos.admin_usuarios.nuevo_usuario.v_email_3}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{textos.admin_usuarios.nuevo_usuario.c_nombres}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="name" type="text" placeholder="{{textos.admin_usuarios.nuevo_usuario.ingres_nombre}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(name.invalid && name.touched) || (name.invalid && submit)">
                        <span class="mensaje" *ngIf="name.errors.required">{{textos.admin_usuarios.nuevo_usuario.v_nombres_1}}</span>
                        <span class="mensaje" *ngIf="name.invalid && !name.errors.required">{{textos.admin_usuarios.nuevo_usuario.v_nombres_2}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{textos.admin_usuarios.nuevo_usuario.c_apellidos}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="last_name" type="text" placeholder="{{textos.admin_usuarios.nuevo_usuario.ingres_apellid}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(lastName.invalid && lastName.touched) || (lastName.invalid && submit)">
                        <span class="mensaje" *ngIf="lastName.errors.required">{{textos.admin_usuarios.nuevo_usuario.v_apellidos_1}}</span>
                        <span class="mensaje" *ngIf="lastName.invalid && !lastName.errors.required">{{textos.admin_usuarios.nuevo_usuario.v_apellidos_2}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{textos.admin_usuarios.nuevo_usuario.c_pais_1}}</div>
                <div fxFlex="70">
                    <div class="box">
                        <mat-form-field appearance="outline">
                            <mat-select required formControlName="idPais" placeholder="{{textos.admin_usuarios.nuevo_usuario.c_pais_1}}">
                                <input class="campo-buscar" matInput placeholder="{{textos.admin_usuarios.buscar}}">
                                <mat-option style="color: #001737 !important;">
                                    {{textos.admin_usuarios.nuevo_usuario.c_pais_2}}
                                </mat-option>
                                <mat-option [value]="pais.id" *ngFor="let pais of paises">
                                    {{pais.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="icono-select">
                                expand_more
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{textos.admin_usuarios.nuevo_usuario.c_rol_asignado}}</div>
                <div fxFlex="70">
                    <div class="box">
                        <mat-form-field appearance="outline">
                            <mat-select required formControlName="idRol" placeholder="{{textos.admin_usuarios.rol}}">
                                <input class="campo-buscar" matInput placeholder="{{textos.admin_usuarios.buscar}}">
                                <mat-option style="color: #001737 !important;">
                                    {{textos.admin_usuarios.nuevo_usuario.c_rol_asignado}}
                                </mat-option>
                                <mat-option [value]="rol.id" *ngFor="let rol of roles">
                                    {{rol.name}}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="icono-select">
                                expand_more
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="botones" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
                <button class="btn btn-guardar" (click)="guardarUsuario(formRegistro.value)" [disabled]="!formRegistro.valid">{{textos.generales.guardar}}</button>
                <button class="btn btn-cancelar" mat-dialog-close>{{textos.generales.cancelar}}</button>
            </div>
        </form>
        <br/>
    </div>
</div>