$color-naranja: #eb7e25;
$color-azul : #254b9c;

.mat-dialog-content{
    padding: 24px 96px;

   .item{
       font-family: OpenSans-Bold, sans-serif;
       color: $color-naranja;
       font-weight: 700;
       font-size: 30px;
   }
    div{
        .acc{
            background-color: $color-naranja;
            color: #ffffff;
            font-weight: 500;
            margin-right: 12px;
            width: 192px;      
            height: 44px;
        }
        .no_acc{
            background-color: $color-azul;
            color: #ffffff;
            font-weight: 500;  
            width: 192px;      
            height: 44px;          
        }
    }
}
.icono{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: $color-naranja;
    position: relative;
    .ico-eliminar{
        position: absolute;
        filter: invert(100%) sepia(21%) saturate(0%) hue-rotate(276deg) brightness(117%) contrast(100%);
        font-size: 40px;
        top: 15px;
        left: 15px;
    }
}
.detalle{
    font-family: OpenSans, sans-serif;
    font-size: 20px;
}
.cerrar{
    position: relative;
    .ico-cerrar{
        position: absolute;
        right: 0px;
    }
}
