<div *ngIf="eliminarNotiInfo">
    <div class="cerrar">
        <div class="ico-cerrar">
            <mat-icon mat-dialog-close>close</mat-icon>
        </div>
    </div>
    <mat-dialog-content class="mat-typography">
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div class="icono">
                <svg-icon key="iconoEliminar" class="opcion-icono ico-eliminar"></svg-icon>
            </div>
            <br><br>
            <div fxFlex="60" class="item">
                {{eliminarNotiInfo.noticias.eliminarNoticia.eliminar}}
            </div>
            <br>
            <div fxFlex="60">
                <p class="detalle">
                    {{eliminarNotiInfo.noticias.eliminarNoticia.aviso}} <strong>{{noticia.titulo}}</strong>
                </p>

            </div>

        </div>
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <button class="acc" (click)="eliminarNoticia()"> {{eliminarNotiInfo.noticias.eliminarNoticia.aceptar}} </button>
                <button class="no_acc" mat-dialog-close> {{eliminarNotiInfo.noticias.eliminarNoticia.cancelar}} </button>
            </div>


        </div>
    </mat-dialog-content>
</div>