$color-azul: #254b9c;
$color-naranja: #eb7e25;
$color-blanco: #fff;
.icono {
    color: $color-azul;
}

.enlace {
    margin: 0px 8px;
    font-size: 18px;
    a {
        text-decoration: none;
        color: $color-azul;
    }
}

.link-activo {
    font-weight: 600;
}

.box {
    position: relative;
    height: 36px;
    .mat-form-field {
        width: 90%;
        position: relative;
        top: -12px;
    }
}

.icono-select {
    color: #fff;
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    text-align: center;
    line-height: 2;
    background: $color-azul;
    top: -8px;
    right: -61px;
    border-radius: 3px;
}

.mat-select-arrow {
    visibility: hidden!important;
}

.campo-buscar {
    height: 41px;
    box-sizing: border-box;
    padding: 0px 12px!important;
}

.ocultar {
    display: none;
}

.option-selected {
    color: $color-naranja!important;
    border-bottom: 1px solid $color-naranja;
    .cantidad {
        background: $color-naranja;
        color: $color-blanco;
    }
}

.cantidad {
    background: #e6e6e6;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    top: 10px;
    border-radius: 18px;
    line-height: normal;
    width: 36px;
    height: 20px;
    text-align: center;
    box-shadow: 0px 2px 3px darkgrey;
}

.mat-pseudo-checkbox {
    display: none!important;
}

.ngx-pagination .current {
    background: $color-naranja!important;
}

.retorno {
    padding-left: 86px;
}

.detalle {
    width: 100%;
    max-width: 780px;
}

button {
    color: $color-blanco;
    border: none;
    padding: 12px 36px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.1s;
    &:hover {
        box-shadow: 1px 2px 3px 0px #464646;
    }
}

.btn-noticias {
    background-color: $color-azul;
}

.current {
    background: $color-naranja!important;
    color: $color-blanco!important;
}

.custom-pagination {
    margin-top: 24px;
}

.pagination-previous,
.page-number,
.pagination-next {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid darkgrey;
    margin: 2px;
    border-radius: 3px;
    line-height: 2.6;
    color: #525261
}

.flecha {
    position: relative;
    top: 6px;
}

.chips {
    position: relative;
    top: -16px
}

.Agregar-nuevo-tem {
    margin: 20px 0 0 60px;
    cursor: pointer;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #f07e00;
}

.margen-tarjeta {
    margin-right: 60px;
}


/**
xs
*/

@media screen and (max-width: 599px) {
    .box {
        position: relative;
        height: 36px;
        margin-bottom: 20px;
        .mat-form-field {
            width: 90%;
            position: relative;
            top: -12px;
        }
    }
    .margen-tarjeta {
        margin-right: 0px;
    }
    .retorno {
        padding-left: 16px;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .retorno {
        padding-left: 36px;
    } 
    .margen-tarjeta {
        margin-right: 40px;
    }
}