$color-gris-claro: #f3f3f3;
$color-naranja: #f07e00;
$color-gris-oscuro: #34353d;

h1 {
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 0.31px;
  color: $color-naranja;
}

p {
  margin: 0;
}

.tarjeta-footer {
  padding: 24px 36px;
  color: $color-gris-oscuro;
  background-color: $color-gris-claro;

  .titulo {
    margin-left: 13px
  }

  span {
    margin-left: 10px;
  }

  ul {
    list-style: none;

    li {
      list-style-type: square;
      color: $color-naranja;
      line-height: 1.8;

      a {
        color: $color-gris-oscuro;

        &:hover {
          color: $color-naranja !important;
        }

        &:visited {
          color: $color-gris-oscuro;
        }

        &:active {
          color: $color-naranja;
        }
      }
    }
  }

  .copyright {
    font-size: 17px;
    letter-spacing: 0.17px;
    color: #f07e00;
  }

  .terminos {
    font-size: 17px;
    line-height: 1.34;
    letter-spacing: 0.17px;
    color: $color-naranja;
    //margin-top: 40px;
    margin-left: 25px;

    a {
      color: $color-naranja;

      &:hover,
      &:visited,
      &:active {
        color: $color-naranja;
      }
    }
  }
}

.contacto {
  ul {
    padding: 0 !important;
    margin-left: 12px !important;

    li {
      span {
        color: $color-gris-oscuro !important;
      }
    }
  }
}

#contacto-ul {
  padding-left: 16px;

  span {
    color: $color-gris-oscuro;
    margin-left: 0;
  }
}
