<div *ngIf="textos" class="tarjeta-footer" fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="column" fxFlex="50">
        <h1 class="titulo">{{textos.contacto}}</h1>
        <div fxLayout="row" fxLayout.lt-sm="column">
            <div fxLayout="column" fxFlex="50" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="7px">
                    <svg-icon key="locacionBold"></svg-icon>
                    <p>{{textos.oea}}</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="7px">
                    <svg-icon key="telefonoBold"></svg-icon>
                    <p>{{textos.telefono}}</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="7px">
                    <svg-icon key="telefonoBold"></svg-icon>
                    <p>{{textos.fax}}</p>
                </div>
            </div>
            <div fxLayout="column" fxFlex="50" fxFlexOffset.lt-sm="20px">
                <p>{{textos.direccion_1}}</p>
                <p>{{textos.direccion_2}}</p>
                <p>{{textos.direccion_3}}</p>
                <p>{{textos.direccion_4}}</p>
                <ul id="contacto-ul">
                    <li>
                        <span>{{textos.contacto}}</span>
                    </li>
                </ul>
                <div class="copyright">{{textos.copyright}}</div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlexOffset.lt-sm="10px">
        <h1 class="titulo">{{textos.mapa}}</h1>
        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex>
            <div fxLayout="column" fxFlex="50">
                <ul fxFlex>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="http://www.oas.org/es/becas/default.asp">{{textos.becas}}</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="http://www.oas.org/OASpage/bid/default_spa.asp">{{textos.adquisicion}}</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="http://www.oas.org/es/protocolo.asp">{{textos.protocolo}}</a>
                    </li>
                </ul>
                <div class="terminos">
                    <a target="_blank" rel="noopener noreferrer" href="http://www.oas.org/es/terminos_condiciones.asp">{{textos.terminos}}</a>
                </div>
            </div>
            <div fxLayout="column" fxFlex="50" fxFlexOffset.lt-sm="10px">
                <ul fxFlex>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="http://www.oas.org/teldir/">{{textos.directorio}}</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="http://www.oas.org/americas/">{{textos.revista}}</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="http://www.oas.org/es/rss.asp">{{textos.rss}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
