$color-naranja: #eb7e25;
$color-blanco: #fff;
$color-azul: #004a9c;
$fondo-guia-contra: #fbfbfb;
$color-azul-link: #5597ba;

.title-modal {
  color: $color-naranja;
  margin-left: 70px;
  border-bottom: 2px solid $color-naranja;
  font-size: 2em;
  padding-left: 50px;
  padding-bottom: 10px;
}
.mat-dialog-content {
  padding: 24px 40px;
  margin: 0px 6%;

  .fila {
    padding: 24px;
    &:nth-child(even) {
      background-color: #f1f1f1;
    }
  }
  div {
    .item {
      font-weight: 600;
    }
  }
}
.recurso {
  margin: 0px 8px;
}

.logo {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transform: translate(-50px, -5px);
}
.bandera {
  padding: 6% 0% 6% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}
.subcontenido {
  background-color: $color-blanco;
  padding: 4%;
  border-radius: 15px;
}

/* width */

::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
  padding-right: 60px;

  height: 49px;
  background-color: #324050;
}

/* Track */

::-webkit-scrollbar-track {
  width: 6px;
  padding-right: 60px;
  background-color: #324050;
}

/* Handle */

::-webkit-scrollbar-thumb {
  padding-right: 60px;

  background: #888;
}

.guardar {
  color: $color-blanco;
  border: solid 2px $color-naranja;
  background-color: $color-naranja;
  border-radius: 5px;
  width: 25%;
}

.cancelar {
  color: $color-blanco;
  border: solid 2px $color-azul;
  background-color: $color-azul;
  border-radius: 5px;
  width: 25%;
}

.input-area {
  min-height: 100px;
  width: 100%;
  border: solid 1px #e9e9e9;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.icono-select {
  color: #fff;
  position: absolute;
  width: 50px !important;
  height: 50px !important;
  text-align: center;
  line-height: 2;
  background: $color-azul;
  top: -8px;
  right: -61px;
  border-radius: 3px;
}

.Rectangle-Copy {
  width: 274.5px;
  /* height: 10%; */
  /* opacity: 0.5; */
  border-radius: 3px;
  /* border: solid 1px rgba(26, 26, 26, 0.25); */
  background-color: #ffffff;
}

.boton-date {
  transform: translate(0px, 5px);
  background-color: $color-azul;
  height: 50px;
}

.container-profile {
  height: 90px;
  border-radius: 8px;
  border: dashed 1px #34353d;
  cursor: pointer;
}

.sub-azul {
  font-family: Roboto, sans-serif;
  color: $color-azul-link;
  text-decoration: underline;
  word-break: break-word;
}
.mensaje {
  color: #d8001d;
  top: 12px;
}
