<div *ngIf="dCursoInfo">
    <h1 class="titulo">
        {{curso.name}}
    </h1>
    <br><br>
    <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{dCursoInfo.cursos_talleres.detalle_curso.pais}}</div>
        <div fxFlex="70" class="txt-detalle">{{curso.country.nombre}}</div>
    </div>

    <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{dCursoInfo.cursos_talleres.detalle_curso.lugar}}</div>
        <div fxFlex="70" class="txt-detalle">{{curso.place}} </div>
    </div>

    <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{dCursoInfo.cursos_talleres.detalle_curso.fecha}}</div>
        <div fxFlex="70" class="txt-detalle">{{curso.startDate | date : "dd MMM, yyyy"}} - {{ curso.endDate | date : "dd MMM, yyyy"}}</div>
    </div>

    <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{dCursoInfo.cursos_talleres.detalle_curso.enlaces}}</div>
        <div fxFlex="70">
            <a class="txt-detalle enlace" target="_blank" [href]="item.path" *ngFor="let item of getEnlaces(curso.recursos)">{{item.path}}</a>
        </div>
    </div>

    <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{dCursoInfo.cursos_talleres.detalle_curso.documentos}}</div>
        <div fxFlex="70">
            <a class="txt-detalle enlace" target="_blank" [href]="item.path" *ngFor="let item of getDocumentos(curso.recursos)">{{ obtenerNombreEnlace(item.path)}}</a>
        </div>
    </div>

<div class="fila" fxLayout="row" fxLayout.xs="column">
    <div fxFlex="30" class="item">{{dCursoInfo.cursos_talleres.detalle_curso.galeria}}</div>
    <div fxFlex="70">
        <img class="fotos" (click)="redirect(item.path)" [src]="item.path" alt="" *ngFor="let item of getFotos(curso.recursos)">
    </div>
</div>

    <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{dCursoInfo.cursos_talleres.detalle_curso.videos}}</div>
        <div fxFlex="70">
            <a class="txt-detalle enlace" target="_blank" rel="noopener noreferrer" [href]="item.path" *ngFor="let item of getVideos(curso.recursos)">{{obtenerNombreEnlace(item.path)}}</a>
        </div>
    </div>

    <p class="calificacion">
        <span>
            {{dCursoInfo.cursos_talleres.detalle_curso.calificacion}}
        </span>
        <svg-icon class="estrella" key="{{calificacion >= 1 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
        <svg-icon class="estrella" key="{{calificacion >= 2 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
        <svg-icon class="estrella" key="{{calificacion >= 3 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
        <svg-icon class="estrella" key="{{calificacion >= 4 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
        <svg-icon class="estrella" key="{{calificacion >= 5 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
        <span class="promedio">{{calificacion}}</span>
    </p>
    <p class="comentarios">{{dCursoInfo.cursos_talleres.detalle_curso.comentarios}}<span class="total-cantidad">({{curso.comentarios.length}})</span></p>
    <mat-divider class="barra" *ngIf="!showComentarios"></mat-divider>
    <div class="box-ver-mas" *ngIf="!showComentarios">
        <p class="mas">
            <span class="ver-todo" (click)="showComentarios = true">{{dCursoInfo.cursos_talleres.detalle_curso.ver_todo}}</span>
            <span>
            <mat-icon class="expand">
                expand_more
            </mat-icon>
            </span>
        </p>
    </div>
    <div *ngIf="showComentarios">
        <app-comentario [comentario]="comentario" *ngFor="let comentario of curso.comentarios"></app-comentario>
    </div>
    <div>
        <svg-icon class="estrella" key="estrellaActiva" (click)="calificar = true; comentar ? comentar = false: comentar"></svg-icon>
        <span class="opciones" (click)="calificar = true; comentar ? comentar = false: comentar">{{dCursoInfo.cursos_talleres.detalle_curso.calificar}}</span>
        <svg-icon class="estrella" key="estrellaActiva" (click)="comentar = true; calificar ? calificar = false: calificar"></svg-icon>
        <span class="opciones" (click)="comentar = true; calificar ? calificar = false: calificar">{{dCursoInfo.cursos_talleres.detalle_curso.comentar}}</span>
    </div>
    <br>
    <div *ngIf="calificar">
        <p>
            <svg-icon class="estrella" (click)="estrellaHover = 1; guardarComentario()" (mouseleave)="estrellaHover = 0" (mouseenter)="estrellaHover = 1" key="{{estrellaHover >= 1 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" (click)="estrellaHover = 2; guardarComentario()" (mouseleave)="estrellaHover = 0" (mouseenter)="estrellaHover = 2" key="{{estrellaHover >= 2 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" (click)="estrellaHover = 3; guardarComentario()" (mouseleave)="estrellaHover = 0" (mouseenter)="estrellaHover = 3" key="{{estrellaHover >= 3 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" (click)="estrellaHover = 4; guardarComentario()" (mouseleave)="estrellaHover = 0" (mouseenter)="estrellaHover = 4" key="{{estrellaHover >= 4 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" (click)="estrellaHover = 5; guardarComentario()" (mouseleave)="estrellaHover = 0" (mouseenter)="estrellaHover = 5" key="{{estrellaHover >= 5 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <span class="promedio">{{estrellaHover}}</span>
        </p>
    </div>
    <div *ngIf="comentar">
        <p>
            <svg-icon class="estrella" (click)="estrellaHover = 1" (mouseenter)="estrellaHover = 1" key="{{estrellaHover >= 1 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" (click)="estrellaHover = 2" (mouseenter)="estrellaHover = 2" key="{{estrellaHover >= 2 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" (click)="estrellaHover = 3" (mouseenter)="estrellaHover = 3" key="{{estrellaHover >= 3 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" (click)="estrellaHover = 4" (mouseenter)="estrellaHover = 4" key="{{estrellaHover >= 4 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" (click)="estrellaHover = 5" (mouseenter)="estrellaHover = 5" key="{{estrellaHover >= 5 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <span class="promedio">{{estrellaHover}}</span>
        </p>
        <form class="form-comentario" [formGroup]="formComentario" novalidate>
            <div class="inp-comentario">
                <div class="cerrar" (click)="comentar = false">
                    <mat-icon>close</mat-icon>
                </div>
                <textarea maxlength="250" class="comentario" formControlName="comment" name="comment"></textarea>
                <br>

            <div style="width: 100%; height: 10px;margin-top: 129px;" *ngIf="formComentario.get('comment').errors ">
                <span *ngIf="formComentario.get('comment').hasError('maxlength') " style="color:red" class="col-form-label ">{{dCursoInfo.cursos_talleres.detalle_curso.longitud}}</span>
                <span *ngIf="formComentario.get('comment').hasError('minlength') " style="color:red" class="col-form-label ">{{dCursoInfo.cursos_talleres.detalle_curso.longitud_2}}</span>
                <div *ngIf="formComentario.get('comment').hasError('whitespace')" style="color:red" class="col-form-label ">{{dCursoInfo.cursos_talleres.detalle_curso.campo_requerido}}</div>
            </div>
            <br>
            <button (click)="guardarComentario()" role="button" [disabled]="formComentario.invalid">
              {{dCursoInfo.cursos_talleres.detalle_curso.guardar}}
            </button>
        </div>
    </form>
</div>
<br><br>
</div>
