$color-azul: #254b9c;
.titulo {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.18px;
    text-align: left;
    color: #004a9c;
}

.fila {
    padding: 24px;
    border-radius: 11px;
    &:nth-child(even) {
        background-color: #f1f1f1;
    }
    .item {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        text-align: left;
        color: #000000;
    }
    .item+div {
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        text-align: left;
        color: #000000;
    }
}

.fotos {
    width: 120px;
    float: left;
    margin: 8px;
}

.calificacion {
    margin-top: 70px;
}

.calificacion,
.comentarios {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 14px;
}

.estrella {
    margin: 0 4px;
}

.promedio {
    margin: 0 8px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.total-cantidad {
    margin: 0 6px;
}

.barra {
    background-color: $color-azul;
    max-width: 647px;
}

.box-ver-mas {
    max-width: 647px;
}

.mas {
    text-align: right;
}

.ver-todo,
.expand {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: $color-azul;
}

.txt-detalle {
    font-size: 14px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #001737;
    width: 100%;
}

.enlace {
    float: left;
    color: #5597ba;
    width: 100%;
}

.opciones {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #2d3b89;
    margin-right: 42px;
}

.expand {
    font-size: 30px;
    position: relative;
    top: 9px;
}

.form-comentario {
    position: relative;
    width: 100%;
    max-width: 650px;
    .inp-comentario {
        width: 100%;
        height: 148px;
        .cerrar {
            cursor: pointer;
            background: #696b6e;
            width: 34px;
            height: 34px;
            text-align: center;
            padding-top: 5px;
            box-sizing: border-box;
            border-radius: 50%;
            color: #fff;
            z-index: 99999;
            position: absolute;
            right: -14px;
            top: -16px;
        }
        .comentario {
            position: absolute;
            box-sizing: border-box;
            padding: 8px;
            width: 100%;
            opacity: 0.8;
            border-radius: 10px;
            border: solid 1px #707070;
            background-color: #ffffff;
            z-index: 9999;
            height: 100%;
        }
        button {
            right: 0;
            top: 110%;
            position: absolute;
            background: none;
            border: none;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: #f07e00;
        }
    }
}