<div *ngIf="textos" class="rcss-main">
  <div fxLayout="row" fxFlexAlign="space-between center">
    <h2 class="title-modal" fxFlex mat-dialog-title>
      {{ textos.boletines.dialog_boletin_detalle.bol_det }}
    </h2>
    <div fxFlex fxLayout="row" fxLayoutAlign="end">
      <mat-icon mat-dialog-close>
        close
      </mat-icon>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="fila" fxLayout="row">
      <div fxFlex="30" class="item">
        {{ textos.boletines.dialog_boletin_detalle.titulo }}
      </div>
      <div fxFlex="60">{{ data.boletin.titulo }}</div>
    </div>

    <div class="fila" fxLayout="row">
      <div fxFlex="30" class="item">
        {{ textos.boletines.dialog_boletin_detalle.resumen }}
      </div>
      <div fxFlex="60">{{ data.boletin.resumen }}</div>
    </div>

    <div class="fila" fxLayout="row">
      <div fxFlex="30" class="item">
        {{ textos.boletines.dialog_boletin_detalle.fecha_publicacion }}
      </div>
      <div fxFlex="60">{{ data.boletin.fecha | date: "dd MMM, yyyy" }}</div>
    </div>

    <div class="fila" fxLayout="row">
      <div fxFlex="30" class="item">
        {{ textos.boletines.dialog_boletin_detalle.archivo }}
      </div>
      <div fxFlex="60">
        <div fxFlex="100" class="sub-azul" *ngFor="let arch of archivo">
          <a [href]="arch.nombreRecurso" target="_blank"
            >Ir a Archivo</a
          >
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
