# Angular Build Pipeline

trigger:
  branches:
    include:
    - master
    - develop
    
resources:
- repo: self

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:

- task: Npm@1
  displayName: 'npm install'
  inputs:
    command: install
    workingDir: .

- task: Npm@1
  displayName: 'Build Angular'
  inputs:
    command: custom
    customCommand: run build -- --prod
    workingDir: .

- task: PublishPipelineArtifact@0
  inputs:
    artifactName: angularPipelineArtifactProd
    targetPath: 'dist'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'dist'
    ArtifactName: sic-web-siar-artifact

- task: DeleteFiles@1
  displayName: 'Delete Build files'
  inputs:
    Contents: 'dist'

- task: Npm@1
  displayName: 'Test Angular'
  inputs:
    command: custom
    customCommand: run ci:test
    workingDir: .

- script: |   
   ls
   echo revisando ruta coverage
   cd  coverage
   ls
  displayName: 'Command Line Script'

- task: PublishCodeCoverageResults@1
  displayName: 'Publish code coverage Angular results'
  condition: succeededOrFailed()
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: 'coverage/cobertura-coverage.xml'
    reportDirectory: coverage
    failIfCoverageEmpty: true

- task: Npm@1
  displayName: 'Lint Angular'
  inputs:
    command: custom
    customCommand: run lint --  --format=stylish
    workingDir: .

- task: Npm@1
  displayName: 'E2E Test Angular'
  inputs:
    command: custom
    customCommand: run ci:e2e
    workingDir: .
