$color-blanco: #ffffff;
$color-naranja: #eb7e25;
$color-azul: #004a9c;
$fondo-guia-contra: #fbfbfb;
.titulo{
    display: inline-block;
    width: 100%;
    max-width: 380px;
    border-bottom: 2px solid $color-naranja;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: left;
    color: $color-naranja;
    margin-bottom: 4%;
}

.contenedor-preg{
    padding: 5% 15%;
}

.input-area{
    height: 125px !important;
    border: 0;
    margin: 1% !important;
    width: 98% !important;
}
.pregunta-respuesta{
    width: 100%;
    opacity: 0.8;
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: $color-blanco;
}
.pregunta{
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.14px;
    text-align: left;
    color:$color-azul;
    border-bottom: 1px solid #cdd1d7;
    padding: 2%;
}

.guardar{
    color: $color-blanco;
    border: solid 2px $color-naranja;
    background-color: $color-naranja;
    border-radius: 5px;
    width: 25%;
}

.cancelar{
    color: $color-blanco;
    border: solid 2px $color-azul;
    background-color: $color-azul;
    border-radius: 5px;
    width: 25%;
}
