.position {
    margin-top: 5%;
}


/*::ng-deep .mat-dialog-container {
    border-radius: 15px !important;
    padding: 0px !important;
}*/

.main-home-pais {
    padding: 0px 58px 100px;
    max-width: 1370px;
    margin: auto;
}

@media screen and (max-width: 599px) {
    .main-home-pais {
        padding: 0px;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .main-home-pais {
        padding: 0px;
    }
}