$color-azul : #254b9c;
$color-naranja: #eb7e25;
$color-blanco : #fff;
.presentacion{
    padding:18px;
    div{
        width: 98%;
        max-width: 1048px;
        h2{
            color: $color-naranja;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: 0.18px;
            text-align: left;
            position: relative;
            &::before{
                content: '';
                width: 252px;
                height: 2px;
                background-color: $color-azul;
                position: absolute;
                top: -30px;
            }
        }
        p{
            font-size: 17px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.59;
            letter-spacing: 0.17px;
            text-align: left;
            color: #000000;
        }

    }
}
/**
xs
*/
@media screen and (max-width: 599px) {
    .presentacion{
        padding:18px;
        div{
            width: 98%;
            max-width: 1048px;
            h2{
                color: $color-naranja;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.11;
                letter-spacing: 0.18px;
                text-align: left;
                position: relative;
                &::before{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: $color-azul;
                    position: absolute;
                    top: -30px;
                }
            }
            p{
                font-size: 15px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.59;
                letter-spacing: 0.17px;
                text-align: left;
                color: #000000;
            }
    
        }
    }

}
