$color-naranja: #eb7e25;
$color-azul: #254b9c;
.title-modal {
    color: $color-naranja;
    margin-left: 70px;
    border-bottom: 2px solid $color-naranja;
    font-size: 2em;
}

.mat-add-calendar {
    padding: 24px 96px;
    .icon {
        .mat-icon {
            color: $color-naranja;
            font-size: 500%;
        }
    }
    .item {
        color: $color-naranja;
        font: 700;
    }
    div {
        .acc {
            background-color: $color-naranja;
            color: #ffffff;
            font: 500;
        }
        .no_acc {
            background-color: $color-azul;
            color: #ffffff;
            font: 500;
        }
    }
}