$color-blue: #004a9c;
$color-naranja: #f07e00;
$blanco-over: rgb(242, 242, 242, 0.9);
.tarjeta-boletin {
  border-radius: 20px;
  padding: 24px 36px;
  width: 100%;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  .content {
    padding-bottom: 8px;
    p {
      width: 100%;
      height: 60px;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: 0.2px;
      text-align: left;
      color: #000000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  header {
    div {
      text-align: left;
      font-family: OpenSans-Bold, sans-serif;
      font-size: 20px;
      font-weight: bold;
      h2 {
        color: $color-blue;
        font-family: OpenSans-Bold, sans-serif;
        font-size: 20px;
        font-weight: bold;
      }
      p {
        line-height: 2.5;
      }
    }
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
  }
}

.container-tarjeta {
  height: 175px;
  position: relative;
  margin-top: 24px;
}

.card-fecha {
  position: relative;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.18px;
  hr {
    background-color: $color-naranja;
    height: 2px;
    width: 77px;
    border: none;
    margin-left: 0;
  }
}
