/*.main-container{
    padding: 24px 58px;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}*/

@media screen and (max-width: 599px) {
    .main-container {
        padding: 0px;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .main-container {
        padding: 0px;
    }
}
