<div *ngIf="infoLogin">
    <div fxLayout="row" class="imagen-login" [ngStyle]="{'background-image': 'url(' + IMG_BANNER_LOGIN + ')'}">
        <div fxLayout="column" fxFlex="100">
            <div fxLayout="row" style="margin-top: 37px; margin-left:50px;" *ngIf="!olvidoPass">
                <svg-icon key="flechaRetorno"></svg-icon>
                <span class="enlace">
                    <a [routerLink]="['']">{{infoLogin.login.home}}</a>
                </span>
                <mat-icon class="icono">
                    keyboard_arrow_right
                </mat-icon>
                <span class="enlace">
                    <a [routerLink]="['/login']"
                        [routerLinkActive]="['link-activo']">{{infoLogin.login.iniciarSesion}}</a>
                </span>
            </div>
            <div fxLayout="row" style="margin-top: 37px; margin-left:50px;" *ngIf="olvidoPass">
                <svg-icon key="flechaRetorno"></svg-icon>
                <span class="enlace">
                    <a [routerLink]="['']">{{infoLogin.login.home}}</a>
                </span>
                <mat-icon class="icono">
                    keyboard_arrow_right
                </mat-icon>
                <span class="enlace">
                    <a (click)="olvidoPass = false">{{infoLogin.login.iniciarSesion}}</a>
                </span>
                <mat-icon class="icono">
                    keyboard_arrow_right
                </mat-icon>
                <span class="enlace">
                    <a [routerLink]="['/login']"
                        [routerLinkActive]="['link-activo']">{{infoLogin.login.recuperacionContrasena}}</a>
                </span>
            </div>
            <div>
                <app-recuperar-pass *ngIf="olvidoPass"></app-recuperar-pass>
                <div class="contenedor-login" fxLayout="column" *ngIf="!olvidoPass">
                    <h1>{{infoLogin.login.bienvenido}}<br>{{infoLogin.login.accedeCuenta}}</h1>
                    <form [formGroup]="formularioLogin" class="formularioLogin" autocomplete="off">
                        <div class="form-group">
                            <div>
                                <div class="row margen-dato">
                                    <label for="usuario" class="labelLogin"
                                        [ngClass]="{'labelLoginInvalid': (usuario.invalid && usuario.dirty) || (usuario.invalid && usuario.touched) || (usuario.invalid && submit)}">{{infoLogin.login.nombreUsu}}
                                    </label>
                                    <div class="input-group">
                                        <input type="email" class="form-control inputLogin" id="usuario"
                                            aria-describedby="emailHelp" placeholder="{{infoLogin.login.nombreUsu}}"
                                            name="usuario" formControlName="usuario" autocomplete="email"
                                            [ngClass]="{'inputInvalid': (usuario.invalid && usuario.dirty) || (usuario.invalid && usuario.touched) || (usuario.invalid && submit)}"
                                            (keyup.enter)="ingresar()">
                                        <div class="input-group-append">
                                            <div class="iconoInput"
                                                [ngClass]="{'iconoInputInvalid': (usuario.invalid && usuario.dirty) || (usuario.invalid && usuario.touched) || (usuario.invalid && submit)}">
                                                <mat-icon class="my-auto ml-auto p-2 iconoUsuario"
                                                    svgIcon="iconoUsuario"></mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Validaciones campo correo electrónico -->
                                <div class="container-error-message text-danger "
                                    *ngIf="(usuario.invalid && usuario.dirty) || (usuario.invalid && usuario.touched) || (usuario.invalid && submit)">
                                    <label
                                        class="label-error-login content-login font-weight-bold">{{infoLogin.login.v_correo}}</label>
                                </div>
                            </div>


                            <div class="row margen-dato">
                                <label for="contrasena" class="labelLogin"
                                    [ngClass]="{'labelLoginInvalid': (contrasena.invalid && contrasena.dirty) || (contrasena.invalid && contrasena.touched) || (contrasena.invalid && submit)}">{{infoLogin.login.contrasena}}</label>
                                <div class="input-group">
                                    <input type="password" class="form-control show-autofill-new inputLogin"
                                        id="contrasena" placeholder="{{infoLogin.login.contrasena}}" name="contrasena"
                                        autocomplete="off" formControlName="contrasena"
                                        (keyup.enter)="ingresar()"
                                        [ngClass]="{'inputInvalid': (contrasena.invalid && contrasena.dirty) || (contrasena.invalid && contrasena.touched) || (contrasena.invalid && submit)}">
                                    <div class="input-group-append">
                                        <div class="iconoInput"
                                            [ngClass]="{'iconoInputInvalid': (contrasena.invalid && contrasena.dirty) || (contrasena.invalid && contrasena.touched) || (contrasena.invalid && submit)}">
                                            <mat-icon class="my-auto ml-auto p-2 iconoContrasena"
                                                svgIcon="iconoContrasena"></mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Validaciones campo contraseña -->
                            <div class="container-error-message text-danger"
                                *ngIf="(contrasena.invalid && contrasena.dirty) || (contrasena.invalid && contrasena.touched) || (contrasena.invalid && submit) && !logueoInvalido">
                                <label class="label-error-login content-login font-weight-bold">
                                    {{infoLogin.login.v_contrasena}}
                                </label>
                            </div>
                        </div>

                        <div class="text-right margen-dato">
                            <small>
                                <a routerLinkActive="router-link-active" class="labelOlvidarContraseña btn btn-link"
                                    (click)="olvidoPass=true"> <u>{{infoLogin.login.v_olvido_constrasena}}</u></a>
                            </small>
                        </div>

                        <div class="container-error-message text-danger"
                            *ngIf="logueoInvalido && !contrasena.dirty && !contrasena.touched">
                            <label class="label-error-login content-login font-weight-bold text-center">
                                {{mensajeErrorLogueo}} </label>
                        </div>

                        <div class="pt-3 pl-0 pr-0 col-12">
                            <mat-checkbox color="primary" class="checkTerminos" formControlName="recordar"><label
                                    class="btn btn-link labelInicioAutomatico pt-3">
                                    {{infoLogin.login.recordar_credenciales}} </label><br>
                            </mat-checkbox>
                        </div>

                        <div class="divBotonIngresar mt-2 margen-dato">
                            <button type="button" [disabled]="formularioLogin.invalid" class="btn botonIngresar"
                                (click)="ingresar()">{{infoLogin.login.ingresar}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>