<div *ngIf="tEventoInfo">
    <mat-card class="card-evento" (click)="openDialog(evento)">
        <mat-card-content class="card-content">
            <div fxLayout="column" class="resumen-evento">
                <article>
                    <h1>{{evento?.pais ? paisesEvento : ''}}</h1>
                    <div class="ubicacion" fxLayout="row">
                        <svg-icon key="locacionBold"></svg-icon>
                        <h2>{{evento?.addres}}, {{evento?.place}}</h2>
                    </div>
                    <p class="titulo">
                        {{evento?.title}}
                    </p>
                </article>
            </div>
            <div></div>
            <div class="card-fecha">
                <hr>
                <p class="fechas">{{evento?.startDate | date : "dd MMM, yyyy"}} - {{evento?.endDate | date : "dd MMM, yyyy"}}</p>
            </div>
        </mat-card-content>

        <mat-card-footer class="detalle-fecha">
            <div class="fecha" fxLayout="row">
                <div class="dia">
                    <p class="numero">{{evento?.startDate | date : "dd"}}</p>
                    <p class="mes">{{evento?.startDate | date : "MMM"}}</p>
                </div>
                <div [className]="eventoPasado(evento) ? 'triangulo trg-proximo' : 'triangulo trg-finalizado'"></div>
                <div [className]="eventoPasado(evento) ? 'estado proximo' : 'estado finalizado'">
                    <p *ngIf="eventoPasado(evento)">{{tEventoInfo.home.eventos.tarjeta_evento.proximo}}</p>
                    <p *ngIf="!eventoPasado(evento)">{{tEventoInfo.home.eventos.tarjeta_evento.finalizado}}</p>
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</div>