$color-naranja: #f07e00;
$color-gris: #949494;
$color-azul-claro: #0099cc;
.card-evento {
    border-radius: 13px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfcfc;
    width: 285px;
    height: 411px;
    padding: 9px 11px 9px 22px;
    cursor: pointer;
    .card-content {
        height: 93%;
        .resumen-evento {
            height: 79%
        }
    }
    h1.event-location {
        font-family: OpenSans, sans-serif;
        font-size: 18px;
        font-weight: normal;
        margin-left: 4px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.18px;
        height: 30px;
    }
    h1 {
        font-family: OpenSans-Bold, sans-serif;
        color: $color-naranja;
        font-weight: bold;
        font-size: 20px;
        margin: 0;
        line-height: 1.25;
        letter-spacing: 0.2px;
        height: 1.5rem;
        width: 12.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h2 {
        font-family: OpenSans, sans-serif;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.18px;
        line-height: 1;
        text-align: left;
        color: $color-naranja;
        width: 12.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .titulo {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        height: 230px;
        text-align: left;
        overflow-y: auto;
    }
    .fechas {
        font-family: OpenSans, sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.18px;
    }
    .fecha {
        height: 40px;
        text-align: center;
        position: absolute;
        width: 80%;
        .dia {
            background-color: $color-naranja;
            width: 40%;
            color: white;
            min-width: 30px;
            .numero {
                font-size: 18px;
                font-weight: bold;
                position: relative;
                margin: 0 auto;
                top: 10%;
            }
            .mes {
                font-size: 12px;
                margin: 0 auto;
                top: 10%;
            }
        }
        .estado {
            width: 60%;
            border-radius: 0 5px 5px 0;
            height: 100%;
            position: relative;
            right: 3px;
            margin: auto;
            min-width: 100px;
            p {
                font-family: OpenSans, sans-serif;
                font-size: 18px;
                font-weight: bold;
                color: #ffffff;
                position: relative;
                top: 23%;
            }
        }
    }
    .detalle-fecha {
        margin-bottom: 12px;
        margin-left: -24px;
    }
    .card-fecha {
        position: relative;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.18px;
        hr {
            background-color: $color-naranja;
            height: 2px;
            width: 77px;
            border: none;
            margin-left: 0;
        }
    }
    .ubicacion {
        height: 49px;
        margin-top: 0.5rem;
    }
}

.finalizado {
    background-color: $color-gris;
}

.proximo {
    background-color: $color-azul-claro;
}

.triangulo {
    position: relative;
    border-top: 20px solid $color-naranja;
    border-bottom: 20px solid $color-naranja;
    right: 2px;
}

.trg-finalizado {
    border-right: 20px solid $color-gris;
}

.trg-proximo {
    border-right: 20px solid $color-azul-claro;
}

@media (max-width:800px) {
    .card-evento {
        margin-top: 0;
        max-width: 285px;
        width: 100%;
        min-width: 158px;
        height: 460px;
        padding: 10px 19px 39px 15px;
        .card-content {
            height: 100%;
        }
        h1 {
            font-size: 1rem;
            line-height: 1.13;
            letter-spacing: 0.16px;
            height: 2.5rem;
            width: 7.75rem;
        }
        h2 {
            font-size: 0.875rem;
            letter-spacing: 0.14px;
            height: 35px;
        }
        .titulo {
            font-size: 1rem;
            line-height: 1.13;
            letter-spacing: 0.16px;
            height: 230px;
        }
        .detalle-fecha {
            margin-left: -13px;
        }
        .card-fecha {
            font-size: 1rem;
            letter-spacing: 0.16px;
            hr {
                background-color: $color-naranja;
                height: 2px;
                width: 77px;
                border: none;
                margin-left: 0;
            }
        }
        .ubicacion {
            height: 35px;
            margin-top: 0.5rem;
        }
        .fechas {
            font-size: 1rem;
            line-height: 1.13;
            letter-spacing: 0.16px;
        }
    }
    .triangulo {
        border-top: 15px solid $color-naranja;
        border-bottom: 15px solid $color-naranja;
    }
    .trg-finalizado {
        border-right: 15px solid $color-gris;
    }
    .trg-proximo {
        border-right: 15px solid $color-azul-claro;
    }
}