$color-azul: #254b9c;
$color-naranja: #f07e00;
$color-blanco: #ffffff;
$color-azul-oscuro: #004a9c;

.miga-de-pan {
  margin: 42px 0 0 55px;
}

.enlace {
  margin: 0 8px;
  font-size: 18px;
  text-decoration: none;
  color: $color-azul;
}

.enlace-activo {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: $color-azul-oscuro;
}

.azul {
  color: $color-azul;
}

.tarjeta-resultado {
  cursor: pointer;
  width: 800px;
  min-height: 130px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 28px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: $color-blanco;

  p {
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: OpenSans, sans-serif;
  }

  .titulo-resultado {
    white-space: nowrap;
    color: $color-azul;
    font-weight: 500;
    font-size: 18px;
    -webkit-line-clamp: 1;
  }

  .texto-resultado {
    font-size: 15px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .tipo-resultado {
    color: $color-naranja;
    font-weight: 500;
    font-size: 17px;
    margin: 0;
  }
}

.current {
  background: $color-naranja!important;
  color: $color-blanco!important;
}

.custom-pagination {
  margin: 24px;
  cursor: pointer;
}

.pagination-previous,
.page-number,
.pagination-next {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid darkgrey;
  margin: 2px;
  border-radius: 3px;
  line-height: 2.6;
  color: #525261
}

.flecha {
  position: relative;
  top: 6px;
}

@media screen and (max-width: 850px) {
  .tarjeta-resultado {
    width: 600px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 630px) {
  .tarjeta-resultado {
    width: 500px;

    .texto-resultado {
      -webkit-line-clamp: 4;
    }
  }
}

@media screen and (max-width: 530px) {
  .miga-de-pan {
    margin: 20px 0 0 10px;
  }

  .tarjeta-resultado {
    width: 340px;
    min-height: 130px;
    margin-bottom: 20px;
    padding: 20px 30px;
    border-radius: 20px;

    .titulo-resultado {
      font-size: 16px;
    }

    .texto-resultado {
      font-size: 14px;
      -webkit-line-clamp: 6;
    }

    .tipo-resultado {
      font-size: 16px;
    }
  }
}
