$color-blanco: #ffffff;
$color-naranja: #eb7e25;
$color-azul: #254b9c;
$fondo-guia-contra: #fbfbfb;
.guardar {
    color: $color-blanco;
    border: solid 2px $color-naranja;
    background-color: $color-naranja;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 6px;
}

.cancelar {
    color: $color-blanco;
    border: solid 2px $color-azul;
    background-color: $color-azul;
    border-radius: 5px;
    width: 100%;
}

.validacion {
    text-align: right;
    position: relative;
    top: -25px;
    .mensaje {
        color: #d8001d;
        position: relative;
        top: 12px;
    }
}

.contenedor-modificar {
    .campo {
        position: relative;
        margin-bottom: 15px;
        label {
            display: block;
        }
        .box-input {
            .no-question {
                color: #7a756d;
            }
            input {
                width: 100%;
                height: 44px;
                border: 1px solid #99a0a7;
                box-sizing: border-box;
                padding: 0 60px 0 12px;
                border-radius: 4px;
                color: #000000;
            }
            input:disabled {
                width: 100%;
                height: 44px;
                border: 1px solid #99a0a7;
                box-sizing: border-box;
                padding: 0 60px 0 12px;
                border-radius: 4px;
                background-color: $color-blanco;
            }
            div {
                background-color: $color-azul;
                position: absolute;
                width: 56px;
                height: 44px;
                bottom: 0;
                right: 0;
                text-align: center;
                border-radius: 4px;
                box-sizing: border-box;
                padding-top: 12px;
            }
        }
    }
    span {
        width: 137px;
        height: 19px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.14px;
        text-align: left;
        color: #000000;
    }
}

.value-label {
    font-family: OpenSans-Regular, sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}

.enlace {
    margin: 0px 8px;
    font-size: 18px;
    a {
        text-decoration: none;
        color: $color-blanco;
    }
}

.icono {
    color: $color-blanco;
}

.fondo-editar {
    background-image: url("/assets/img/fondo-perfil.jpg"), url("/./assets/img/fondo-perfil.jpg");
    background-size: 100% 100%;
    position: relative;
    padding-bottom: 200px;
}

.lienzo-blanco {
    margin: 0px 55px 0px 55px;
    padding: 50px 0px 50px 50px;
    border-radius: 48px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-top: 80px;
}

.cambiar-foto {
    font-family: OpenSans-Regular, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
}

.profile-photo {
    width: 30%;
    height: auto;
}

.nombre-usuario {
    font-family: OpenSans-Regular, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.14px;
    text-align: center;
    color: #3e3e3e;
}

.nombre-usuario-val {
    font-family: OpenSans-Regular, sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
}

.linea {
    width: 0;
    height: auto;
    border: solid 1px #004a9c;
}

.pad-datos {
    padding: 70px 0px 0px 0px;
}

.pad-datos-ligth {
    padding: 25px 0px 0px 0px;
}

.title-label {
    font-family: OpenSans-Regular, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.14px;
    text-align: left;
    color: #3e3e3e;
}

.lienzo-azul {
    border-radius: 48px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #004a9c;
    width: 100%;
    margin-bottom: -50px;
    padding: 4% 6%;
}

.lienzo-azul-ligth {
    border-radius: 48px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #0099cc;
    padding: 2% 4%;
}

.title-label-blanco {
    font-family: OpenSans-Regular, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.14px;
    text-align: left;
    color: #f5f5f5;
}

.title-label-rojo {
    font-family: OpenSans-Regular, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.14px;
    text-align: left;
    color: #ab201f;
}

.input-contrasena {
    background-color: #004a9c;
    outline: 0;
    border: none;
    font-size: xx-large;
    letter-spacing: -2px;
    width: 100%;
    height: 30px;
}

.input-contrasena-light {
    background-color: #0099cc;
    outline: 0;
    border: none;
}

.container-profile {
    width: 120px;
    height: 120px;
}

.profile-width {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.profile-width:hover {
    opacity: 0.3;
}

.width-full {
    width: 100%;
    padding: 3% 0;
}

.pad-left {
    padding-left: 30px;
}

.b-cambiar {
    padding: 0;
    border: none;
    background: #004a9c;
    float: right;
}

.b-guardar {
    padding: 0;
    border: none;
    background: #0099cc;
    float: right;
    margin-bottom: 50px;
}

.b-cancelar {
    padding: 0;
    border: none;
    background: #0099cc;
    float: left;
}

.error {
    border: 1px solid #d8001d !important;
    +div {
        background-color: #d8001d !important;
        border-radius: 4px;
    }
}

.cerrar {
    height: 0px;
    position: relative;
    top: -8px;
    right: -10px;
    cursor: pointer;
}

.guia-contrasena {
    background-color: $fondo-guia-contra;
    width: 332px;
    border-radius: 10px;
    text-align: left;
    padding: 19px 15px;
    position: absolute;
    bottom: 12px;
    right: 0;
    span {
        font-size: 12px;
        font-weight: 300;
        color: black;
    }
}

.info-error {
    width: 16px !important;
    height: 16px !important;
    background: #254b9c;
    display: inline-block;
    color: #fff !important;
    font-weight: 500 !important;
    text-align: center !important;
    padding-top: 0px;
    font-size: 12px !important;
    position: relative;
    top: 12px;
    left: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.option:hover {
    color: $color-naranja!important;
    border-bottom: 1px solid $color-naranja;
}

.campo-buscar {
    height: 41px;
    box-sizing: border-box;
    padding: 0px 12px!important;
}

.lista-pregunta {
    margin: -15px 0px 0px 0px;
    position: absolute;
    width: 100%;
    border-radius: 8px;
    background-color: #fbfbfb;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    padding-right: 60px;
    height: 49px;
    background-color: #324050;
}


/* Track */

::-webkit-scrollbar-track {
    width: 6px;
    padding-right: 60px;
    background-color: #324050;
}


/* Handle */

::-webkit-scrollbar-thumb {
    padding-right: 60px;
    background: #888;
}

.pregunta-indvidual {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.15px;
    text-align: left;
    color: #34353c;
    margin-bottom: 6%;
    cursor: pointer;
}

.pregunta-selected {
    color: $color-naranja!important;
    border-bottom: 1px solid $color-naranja;
}