$color-azul: #254b9c;
$color-naranja: #f07e00;
$color-rojo: #d8001d;

/* Reset Select */

.contanedor {
    font-family: Roboto, sans-serif;
    width: 100%;
    max-width: 754px;
    margin: 0 auto 1rem;
    p,
    span {
        color: #001737;
        font-size: 15px;
    }
}

.titulo {
    font-family: OpenSans-Bold, sans-serif;
    width: 100%;
    max-width: 522px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: left;
    color: $color-naranja;
    border-bottom: 2px solid $color-naranja;
    margin-bottom: 50px;
}

.correo-envio {
    font-family: Roboto, sans-serif;
    color: $color-naranja !important;
}

.select-idioma {
    margin-top: 30px;
}

.box-texto {
    margin-top: 46px;
    text-align: center;
}

.form-campo {
    width: 100%;
    min-height: 187px;
    textarea {
        font-family: Roboto, sans-serif;
        color: #001737;
        font-size: 15px;
        width: 100%;
        height: 187px;
        overflow-y: scroll;
        border: solid 1px #e9e9e9;
        background-color: #f8f8f8;
        resize: none;
        border-radius: 23px;
        box-sizing: border-box;
        padding: 35px;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #e6e6e6 !important;
    background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
    display: none;
}

.box-select {
    position: relative;
    width: 275px;
    height: 36px;
    label {
        float: left;
    }
    .select {
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #001737;
        border-radius: 3px;
        border: solid 1px rgba(26, 26, 26, 0.25);
        background-color: #ffffff;
    }
    &:after {
        content: '\2228';
        position: absolute;
        width: 36px;
        height: 36px;
        color: #fff;
        background: $color-azul;
        right: 0;
        pointer-events: none;
        text-align: center;
        box-sizing: border-box;
        padding-top: 7px;
    }
}

.botones {
    margin-top: 40px;
    .btn {
        width: 192px;
        height: 44.5px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        border-radius: 14px;
    }
    .btn-guardar {
        border: solid 2px $color-naranja;
        background-color: $color-naranja;
    }
    .btn-cancelar {
        border: solid 2px #004a9c;
        background-color: #004a9c;
    }
}


/*
*Estilos filtro
*/

.box {
    position: relative;
    height: 36px;
    margin-right: 58px;
    .mat-form-field {
        position: relative;
        top: -12px;
    }
}

.icono-select {
    color: #fff;
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    text-align: center;
    line-height: 2;
    background: $color-azul;
    top: -8px;
    right: -61px;
    border-radius: 3px;
}

.mat-select-arrow {
    visibility: hidden!important;
}

.campo-buscar {
    height: 41px;
    box-sizing: border-box;
    padding: 0px 12px!important;
}

.ocultar {
    display: none;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    border: solid 1px $color-naranja !important;
    background-color: $color-naranja !important;
}

.InputInvalid {
    border: solid 1px $color-rojo !important;
}