<div *ngIf="textos">
  <div fxLayout="row" fxLayoutAlign="end">
    <mat-icon mat-dialog-close>
      close
    </mat-icon>
  </div>

  <mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center">
      <form name="exampleForm" class="formulario">
        <h1 class="titulo">{{(editar)? textos.gestion_alertas.modal_gestion.editar:textos.gestion_alertas.modal_gestion.agregar}}</h1>
          <div class="fila" fxLayout="row" fxLayout.xs="column">
            <label class="componentes-label">{{textos.gestion_alertas.modal_gestion.campo}}</label>
            <label class="componentes-label-0">{{campo}}</label>
          </div>

          <div class="fila" fxLayout="row" fxLayout.xs="column">
            <div fxFlex="30" class="item">{{textos.gestion_alertas.modal_gestion.componenteEsp}}</div>
            <div fxFlex="70">
              <div class="form-textarea">
                <textarea class="textarea" #comEsp maxlength="500"
                  [ngClass]="{'inputInvalid': (comEsp.value.trim()==='') && guardar}"></textarea>
                <div class="icon-cerrar">
                  <mat-icon class="cerrar" (click)="comEsp.value = ''">
                    close
                  </mat-icon>
                </div>
              </div>
              <div class="validacion validacion-textarea" *ngIf="comEsp.value.trim()==='' && guardar">
                <span class="mensaje">{{textos.generales.campo_obligatorio}}</span>
              </div>
            </div>
          </div>

          <div class="fila" fxLayout="row" fxLayout.xs="column">
            <div fxFlex="30" class="item">{{textos.gestion_alertas.modal_gestion.componenteIng}}</div>
            <div fxFlex="70">
              <div class="form-textarea">
                <textarea class="textarea" #comIng maxlength="500"
                  [ngClass]="{'inputInvalid': (comIng.value.trim()==='') && guardar}"></textarea>
                <div class="icon-cerrar">
                  <mat-icon class="cerrar" (click)="comIng.value = ''">
                    close
                  </mat-icon>
                </div>
              </div>
              <div class="validacion validacion-textarea" *ngIf="comIng.value.trim()==='' && guardar">
                <span class="mensaje">{{textos.generales.campo_obligatorio}}</span>
              </div>
            </div>
          </div>

          <div class="fila" fxLayout="row" fxLayout.xs="column">
            <div fxFlex="30" class="item">{{textos.gestion_alertas.modal_gestion.componenteFra}}</div>
            <div fxFlex="70">
              <div class="form-textarea">
                <textarea class="textarea" #comFra maxlength="500"
                  [ngClass]="{'inputInvalid': (comFra.value.trim()==='') && guardar}"></textarea>
                <div class="icon-cerrar">
                  <mat-icon class="cerrar" (click)="comFra.value = ''">
                    close
                  </mat-icon>
                </div>
              </div>
              <div class="validacion validacion-textarea" *ngIf="comFra.value.trim()==='' && guardar">
                <span class="mensaje">{{textos.generales.campo_obligatorio}}</span>
              </div>
            </div>
          </div>

          <div class="fila" fxLayout="row" fxLayout.xs="column">
            <div fxFlex="30" class="item">{{textos.gestion_alertas.modal_gestion.componentePor}}</div>
            <div fxFlex="70">
              <div class="form-textarea">
                <textarea class="textarea" #comPor maxlength="500"
                  [ngClass]="{'inputInvalid': (comPor.value.trim()==='') && guardar}"></textarea>
                <div class="icon-cerrar">
                  <mat-icon class="cerrar" (click)="comPor.value = ''">
                    close
                  </mat-icon>
                </div>
              </div>
              <div class="validacion validacion-textarea" *ngIf="comPor.value.trim()==='' && guardar">
                <span class="mensaje">{{textos.generales.campo_obligatorio}}</span>
              </div>
            </div>
          </div>
        
        <div class="botones" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
          <button class="Guardar" type="button" variant="contained" mat-button
            (click)="guardarComp(comEsp.value, comIng.value, comFra.value, comPor.value)">{{textos.generales.guardar}}</button>
          <button class="Cancelar" type="button" variant="contained" mat-button
            (click)="onNoClick()">{{textos.generales.cancelar}}</button>
        </div>
      </form>
    </div>
  </mat-dialog-content>
</div>