<div fxFlex fxLayout="column">
    <div fxFlex fxLayout="row" fxLayoutAlign="end">
        <mat-icon mat-dialog-close>close</mat-icon>
    </div>
    <div fxLayout="row" fxFlexAlign="space-between center" class="div-header">
        <h2 class="title-modal" fxFlex mat-dialog-title>{{textos.gestion_dir.tituloDetalle}}</h2>
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.agencia}}</div>
            <div fxFlex="60" class="value">{{directorio.agencia}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.contacto}}</div>
            <div fxFlex="60" class="value">{{directorio.contacto}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.cargo}}</div>
            <div fxFlex="60" class="value">{{directorio.cargo}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.direccion}}</div>
            <div fxFlex="60" class="value">{{directorio.direccion}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.estado}}</div>
            <div fxFlex="60" class="value">{{directorio.estado}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.ciudad}}</div>
            <div fxFlex="60" class="value">{{directorio.ciudad}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.codPostal}}</div>
            <div fxFlex="60" class="value">{{directorio.codigoPostal}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.tel}}</div>
            <div fxFlex="60" class="value">{{directorio.telefono}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.fax}}</div>
            <div fxFlex="60" class="value">{{directorio.fax}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.email}}</div>
            <div fxFlex="60" class="value">{{directorio.email}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.pais}}</div>
            <div fxFlex="60" class="value">{{directorio.pais.nombre}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{textos.gestion_dir.categoria}}</div>
            <div fxFlex="60" class="value">{{directorio.categoryId.description}}</div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" fxFlex.lt-sm="40" class="item">{{textos.gestion_dir.enlaces}}</div>
            <div fxFlex="60">
                <div *ngFor="let item of getEnlaces(directorio.recursos)">
                    <a href [href]="item.path" target="_blank">{{item.path}}</a>
                </div>
            </div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" fxFlex.lt-sm="40" class="item">{{textos.gestion_dir.anexos}}</div>
            <div fxFlex="60">
                <div *ngFor="let item of getAnexos(directorio.recursos); let i = index">
                    <a [href]="item.path" target="_blank">{{item.path}}</a>
                </div>
            </div>
        </div>

        <div class="fila" fxLayout="row">
            <div fxFlex="30" fxFlex.lt-sm="40" class="item">{{textos.gestion_dir.imagenes}}</div>
            <div fxFlex="60">
                <div class=divImagenes *ngFor="let item of imagenes; let i = index">
                    <img (click)="agrandarImagen(item.path)" [alt]="directorio.agencia" [src]="item.path">
                </div>
            </div>
        </div>
        <div class="ampliar-imagen" *ngIf="agrandaImagen">
            <div fxLayout="row" fxLayoutAlign="end">
                <mat-icon class="cerrar" (click)="agrandaImagen = false">
                    close
                </mat-icon>
            </div>
            <img [alt]="directorio.agencia" [src]="urlImagen">
        </div>
    </mat-dialog-content>
</div>

