<div *ngIf="eventosInfo" class="seccion-eventos">
    <div fxLayout="column" fxLayoutGap="30px">
        <div class="child-1">
            <div class="img-evento-home" [ngStyle]="{'background-image': 'url(' + IMG_EVENTOS_AUDITORIO + ')'}">
                <div class="txt-eventos">{{eventosInfo.home.eventos.eventos}}</div>
            </div>
        </div>
        <div fxLayoutGap="32px" fxLayoutGap.lt-sm="16px">
            <button class="btn-eventos" [routerLink]="['eventos']">{{eventosInfo.home.eventos.m_eventos}}</button>
            <button class="btn-calendario" [routerLink]="['calendario']">{{eventosInfo.home.eventos.calendario}}</button>
        </div>
        <div fxLayout="row">
            <div fxFlex="3" fxHide fxShow.lt-sm></div>
            <div fxFlex="96" fxLayout="row wrap" fxLayoutAlign="start none" fxLayoutGap="4% grid" fxLayoutGap.xs="10% grid">
                <app-tarjeta-evento style="margin-top: 24px;" fxFlex="25" fxFlex.sm="50" fxFlex.xs="50" [evento]="evento" *ngFor="let evento of eventos"></app-tarjeta-evento>
            </div>
            <div fxFlex="4" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="arrow-right" *ngIf="habilitarPaginado" (click)="obtenerMasEventos(null);">
                    keyboard_arrow_right
                </mat-icon>
            </div>
        </div>
    </div>
    <div fxLayout="row" class="mt-3" fxLayoutAlign="space-around center">
        <div fxFlex fxFlexOffset.lt-sm="10" fxLayout="row" class="dops" fxLayoutAlign="center center" *ngIf="habilitarPaginado">
            <div class="dop" [ngClass]="{'dop-selected' : pagina == 0}" (click)="obtenerMasEventos(0);"></div>
            <div class="dop" [ngClass]="{'dop-selected' : pagina == 1}" (click)="obtenerMasEventos(1);"></div>
        </div>
        <div fxFlex="10" fxHide fxShow.lt-sm>
            <mat-icon class="arrow-right" *ngIf="habilitarPaginado" (click)="obtenerMasEventos(null);">
                keyboard_arrow_right
            </mat-icon>
        </div>
    </div>
</div>