$color-azul: #004a9c;
$color-rojo: #d8001d;
.titulo {
    font-family: OpenSans-Bold, sans-serif;
    display: inline-block;
    width: 100%;
    max-width: 380px;
    text-align: left;
    border-bottom: 2px solid #f07e00;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #f07e00;
    margin-bottom: 50px;
}

.formulario {
    width: 100%;
    max-width: 780px;
    max-width: 0 auto;
}

.botones {
    margin-top: 56px;
    .btn {
        width: 192px;
        height: 44.5px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .btn-guardar {
        font-family: Roboto, sans-serif;
        border: solid 2px #f07e00;
        background-color: #f07e00;
    }
    .btn-cancelar {
        font-family: Roboto, sans-serif;
        border: solid 2px #004a9c;
        background-color: #004a9c;
    }
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #e6e6e6 !important;
    background-image: none;
}

.form-campo {
    position: relative;
    width: 100%;
    max-width: 275px;
    /* height: 36px; */
    .campo {
        font-family: Roboto, sans-serif;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border: solid 1px rgba(26, 26, 26, 0.25);
        background-color: #ffffff;
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #001737;
    }
    .box-icono {
        width: 36px;
        height: 36px;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 0px;
        text-align: center;
        background-color: $color-azul;
        pointer-events: none;
        .icono {
            margin: 6px;
        }
    }
}

.modal-body {
    overflow-y: auto;
}

.flex {
    flex: 1 1 auto !important;
}

.scrollable {
    overflow: auto !important;
    box-sizing: border-box !important;
    position: absolute !important;
    right: 0 !important;
    height: 60% !important;
}

.Agrega-documento {
    width: 100%;
    height: 19px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.14px;
    text-align: center;
    color: #34353d;
}

.box-imagen {
    width: 268px;
    height: 91px;
    border-radius: 8px;
    margin-left: 34px;
    border: 1px #34353d dotted;
    position: relative;
    text-align: center;
    .item-imagen {
        position: relative;
        top: 8px;
    }
}

.enlaces {
    position: relative;
    display: initial;
    .box-enlaces {
        position: relative;
        display: inline-block;
        padding-right: 0px;
        max-width: 419px;
        overflow: hidden;
        .enlace {
            text-decoration: underline;
            color: #4682ef;
            margin: 0;
            text-overflow: ellipsis;
            font-size: 12px;
        }
    }
    .ico-borrar {
        position: absolute;
        right: -25px;
        top: -4px;
        font-size: 10px;
        color: #4682f0;
        cursor: pointer;
    }
}


/***/

.textarea {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    outline: none;
    background-color: #f8f8f8;
    resize: none;
    padding: 12px 24px;
    border: none;
}

.fila {
    padding: 18px 44px;
    &:nth-child(even) {
        background-color: #f1f1f1;
    }
    .item {
        font-family: OpenSans-Bold, sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        text-align: left;
        color: #000000;
    }
    .item+div {
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        text-align: left;
        color: #000000;
    }
}

.form-textarea {
    position: relative;
    width: 100%;
    max-width: 465px;
    height: 70px;
    .textarea {
        width: 100%;
        height: 100%;
        border-radius: 26px;
        outline: none;
        background-color: #f8f8f8;
        resize: none;
        padding: 12px 24px;
        border: none;
    }
    .icon-cerrar {
        position: absolute;
        right: -4px;
        top: -6px;
        width: 22px;
        height: 22px;
        background-color: #696b6e;
        border-radius: 50%;
        .cerrar {
            font-size: 15px;
            position: relative;
            top: 4px;
            left: 4px;
            color: #efefef;
            cursor: pointer;
        }
    }
}

.validacion-textarea {
    max-width: 465px!important;
}

.validacion-select {
    margin-top: 10px;
}

.validacion {
    text-align: right;
    top: 0px;
    position: relative;
    width: 100%;
    max-width: 275px;
    .mensaje {
        color: #d8001d;
        position: relative;
        top: 0px;
        font-size: 12px;
    }
}

.inputInvalid {
    border: solid 1px $color-rojo !important;
}

input:-webkit-autofill.inputInvalid {
    animation-delay: 1s;
    animation-name: autofill;
    animation-fill-mode: both;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    padding-right: 60px;
    height: 49px;
    background-color: #324050;
}


/* Track */

 ::-webkit-scrollbar-track {
    width: 6px;
    padding-right: 60px;
    background-color: #324050;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    padding-right: 60px;
    background: #888;
}