<div class="eventos-main">
    <div class="container">
        <div class="row">
            <div class="col">
                <svg-icon key="flechaRetorno"></svg-icon>
                <span class="enlace">
                <a [routerLink]="['']">{{textos.generales.inicio}}</a>
            </span>
                <mat-icon class="icono">
                    keyboard_arrow_right
                </mat-icon>
                <span class="enlace">
                <a *ngIf="!administrar" [routerLink]="['/eventos']" [routerLinkActive]="['link-activo']">{{textos.eventos.eventos}}</a>
                <a *ngIf="administrar"[routerLink]="['/gestionEventos']" [routerLinkActive]="['link-activo']">{{textos.eventos.gestionEventos}}</a>
            </span>
            </div>
        </div>
    </div>
    <br>
    <div class="filtro" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutGap="58px" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem">
        <span fxFlex="40" style="text-align: right;">{{textos.eventos.filtrarPor}}</span>
        <div class="box" fxFlex>
            <form [formGroup]="formFiltroEventos">
                <mat-form-field appearance="outline">
                    <mat-label>{{textos.eventos.pais}}</mat-label>
                    <mat-select formControlName="pais" (valueChange)="filtroPais.setValue('')" style="height: 1vh;">
                        <input class="campo-buscar" matInput [formControl]="filtroPais" placeholder="Buscar" #buscarPais value="">
                        <mat-option #option [ngClass]="optionPais({id:0}, option)" [ngClass]="{'ocultar': !mostrar(filtroPais.value, 'Todos los paises'),'option-selected' : option._getAriaSelected()}" [value]="{id:0}">
                            {{textos.eventos.todosPaises}}
                        </mat-option>
                        <mat-option #option [ngClass]="optionPais(pais, option)" *ngFor="let pais of filteredPais | async" [value]="pais">
                            {{getDescripcionPais(pais)}}
                            <span class="cantidad">{{getCantidadPais(pais.id)}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icono-select">
                        expand_more
                    </mat-icon>
                </mat-form-field>
            </form>
        </div>
        <div class="box" fxFlex>
            <form [formGroup]="formFiltroEventos">
                <mat-form-field appearance="outline">
                    <mat-label>{{textos.eventos.eventos}}</mat-label>
                    <mat-select formControlName="estado" (valueChange)="bEstado.value = ''">
                        <input class="campo-buscar" [formControl]="buscarEstado" matInput placeholder="Buscar" #bEstado value="">
                        <mat-option *ngFor="let item of estadosList" #option [value]="item.id" [ngClass]="optionEstado(item.id, option)" [ngClass]="{'ocultar': !mostrar(buscarEstado.value, item.descripcion),'option-selected' : option._getAriaSelected()}">
                            {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icono-select">
                        expand_more
                    </mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="container" *ngIf="administrar">
        <div class="row">
            <div class="col">
                <a class="agregar-item" (click)="openDialogNuevo()">
                    <span>
                    <img src="assets/img/agregar.JPG" alt="">
                </span> {{textos.eventos.nuevoItem}}
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="registrosEncontrados > 0" class="seccion-ultimos-eventos">
        <div fxLayout="row">
            <div fxFlex class="eventos">
                <div class="container">
                    <div class="row">
                        <div class="div-evento col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let evento of eventos | paginate: configGrupos">
                            <app-card-evento (editar)="showEditar($event)" (eliminar)="showEliminar($event)" #card (mouseover)="card.administrar = administrar" (mouseleave)="card.administrar = false" [evento]="evento"></app-card-evento>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <div fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.xs="center">
                        <pagination-template #p="paginationApi" [id]="configGrupos.id" (pageChange)="pageChanged($event)">
                            <div class="custom-pagination" fxLayout="row">
                                <div *ngIf="!p.isFirstPage()" class="pagination-previous" [class.disabled]="p.isFirstPage()" (click)="p.previous()">
                                    <span> 
                                <mat-icon class="flecha">
                                    keyboard_arrow_left
                                </mat-icon>
                                </span>
                                </div>
                                <div class="page-number" (click)="p.setCurrent(page.value)" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                    <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                                    <div *ngIf="p.getCurrent() === page.value">
                                        <span>{{ page.label }}</span>
                                    </div>
                                </div>
                                <div *ngIf="!p.isLastPage()" class="pagination-next" [class.disabled]="p.isLastPage()" (click)="p.next()">
                                    <span *ngIf="!p.isLastPage()" (click)="p.next()"> 
                                <mat-icon class="flecha">
                                    keyboard_arrow_right
                                </mat-icon>
                                </span>
                                </div>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="registrosEncontrados < 1 && eventosCargados" class="sin-eventos">
        <label> {{textos.eventos.eventosNoEnc}}... </label>
    </div>
</div>