$color-azul: #254b9c;
table {
    width: 100%;
    overflow-y: scroll;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white !important;
    margin-top: 4px!important;
    width: 17px!important;
    height: 17px!important;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #3ec950!important;
    height: 20px;
}

::ng-deep .mat-slide-toggle-bar {
    position: relative !important;
    width: 36px !important;
    height: 20px !important;
    flex-shrink: 0 !important;
    border-radius: 8px !important;
}

::ng-deep .mat-slide-toggle-thumb {
    background-color: white !important;
    margin-top: 4px!important;
    width: 17px!important;
    height: 17px!important;
}

::ng-deep .mat-table thead {
    margin: 29px 0.5px 10px 29px;
    padding: 20px 78px 19px 46px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #004a9c;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff !important;
}

.table-header {
    width: 100%;
    font-family: OpenSans-Bold, sans-serif;
    height: 58px;
    border-radius: 14px;
    background-color: #004a9c;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 0 23px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    .item-header {
        text-align: left;
    }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    padding: 8px;
}

.mat-table {
    overflow-y: scroll;
}

 ::ng-deep .img-1 {
    fill: white;
}

::ng-deep th.mat-header-cell {
    color: white;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.tabla-documentos {
    height: 550px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow-y: scroll;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f2f2f2;
    display: block;
    position: relative;
}

.table-content {
    .fila-content {
        height: 35px;
        margin: 5px 0px;
        .item-content {
            font-family: OpenSans, sans-serif;
            text-align: left;
            width: 100%;
            font-size: 14px;
            .texto-largo {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 90%;
                display: inline-block;
            }
        }
    }
}

.svg {
    fill: #001737;
}

label {
    font-size: 0;
}

.boton {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 7px 0px;
}

.btn-enviado {
    border: solid 2px #0099cc;
    background-color: #0099cc;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.btn-enviar {
    font-family: Roboto, sans-serif;
    border: solid 2px #0099cc;
    background-color: var(--white);
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #0099cc;
}

.no-registrado,
.registrado {
    width: 25px;
    height: 15px;
    border-radius: 8px;
    display: inline-block;
}

.no-registrado {
    width: 25px;
    height: 15px;
    border-radius: 8px;
    border: solid 1px #3ec950;
    background-color: #3ec950;
}

.registrado {
    border: solid 1px #acacac;
    background-color: #acacac;
}

.inactivo,
.activo {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
}

.flex {
    flex: 1 1 auto !important;
    margin-top: 10px;
}

.scrollable {
    box-sizing: border-box !important;
    position: absolute !important;
    right: 0 !important;
    height: 60% !important;
}

.activo {
    color: #3ec950;
}

.inactivo {
    color: #cacaca;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #3ec950;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3ec950;
}

input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.current {
    color: #fff!important;
}

.custom-pagination {
    margin-top: 24px;
}

.pagination-previous,
.page-number,
.pagination-next {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid darkgrey;
    margin: 2px;
    border-radius: 3px;
    line-height: 2.6;
    color: #525261
}

.flecha {
    position: relative;
    top: 6px;
}

.chips {
    position: relative;
    top: -16px
}

.nuevo-registro {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
}


/**
  *Estilos filtro
  */

.filtro {
    margin-left: 50px;
    margin-top: 50px;
}

.butt {
    cursor: pointer;
    border: none;
    outline: unset;
    padding: 1px 6px;
}

.nuevoItem {
    margin-top: 30px;
}

.box {
    position: relative;
    height: 36px;
    margin-right: 58px;
    .mat-form-field {
        position: relative;
        top: -12px;
    }
}

.icono-select {
    color: #fff;
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    text-align: center;
    line-height: 2;
    background: $color-azul;
    top: -8px;
    right: -61px;
    border-radius: 3px;
}

.mat-select-arrow {
    visibility: hidden!important;
}

.campo-buscar {
    height: 32px;
    box-sizing: border-box;
    padding: 0px 12px!important;
}

.ocultar {
    display: none;
}

.mat-pseudo-checkbox {
    display: none!important;
}

.option-selected {
    .cantidad {
        color: #fff;
    }
}

.cantidad {
    background: #e6e6e6;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    top: 10px;
    border-radius: 18px;
    line-height: normal;
    width: 36px;
    height: 20px;
    text-align: center;
    box-shadow: 0px 2px 3px darkgrey;
}

.filtrado-por {
    font-family: 'Roboto', sans-serif;
    color: #001737;
    margin-right: 22px !important;
}

.mat-select-value-text {
    color: #001737 !important;
}

.form-campo {
    position: relative;
    width: 100%;
    max-width: 275px;
    height: 36px;
    .campo {
        font-family: Roboto, sans-serif;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border: solid 1px rgba(26, 26, 26, 0.25);
        background-color: #ffffff;
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #001737;
    }
    .box-icono {
        width: 36px;
        height: 36px;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 0px;
        text-align: center;
        background-color: $color-azul;
        pointer-events: none;
        .icono {
            margin: 6px;
        }
    }
}

.iconoEditar,
.iconoMas,
.iconoEliminar {
    order: none;
    outline: none;
}

.Rectangle-Copy {
    width: 274.5px;
    border-radius: 3px;
    background-color: #ffffff;
}

.example-spacer {
    flex: 1 1 auto;
}


/* width */

.tabla-documentos::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    padding-right: 60px;
    height: 49px;
    background-color: #97989a;
}


/* Track */

.tabla-documentos::-webkit-scrollbar-track {
    width: 6px;
    border-radius: 5px;
    padding-right: 60px;
    background-color: #97989a;
}


/* Handle */

.tabla-documentos::-webkit-scrollbar-thumb {
    padding-right: 60px;
    background: #324050;
}