<div *ngIf="tDocumentosInfo">
    <mat-card class="card-documento" (click)="openDialog(documento)">
        <mat-card-content class="card-content">
            <div fxLayout="column">
                <article>
                    <h1>{{documento.paises[0].nombre}} <svg-icon class="position" key="clip"></svg-icon>
                    </h1>
                    <div fxLayout="row">
                        <h2>{{documento.paises[0].nombre}}- {{documento.summary}} </h2>
                    </div>

                </article>
            </div>
            <div></div>
            <div class="card-fecha">
                <p class="titulo">
                    <!-- {{documento.summary}} -->
                    {{tDocumentosInfo.home_pais.ultimos_documentos.tarjeta_documentos.categorias}}

                </p>
                <hr>
                <div style="max-height: 90px; overflow: hidden;">
                    <div *ngFor="let categoria of documento.categorias; last as isLast">
                        {{categoria.description}} 
                        <span *ngIf="!isLast">,</span>
                    </div>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>
