$color-naranja: #f07e00;
$color-gris: #949494;
$color-azul-claro : #0099cc;

.card-documento {
  max-width: 280px;
  min-height: 400px;
  border-radius: 13px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fcfcfc;
  min-width: 160px;
  cursor: pointer;

  h1 {
    color: $color-naranja;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 0.18px;
    font-weight: bold;
  }

  .titulo {
    color: $color-naranja;
    margin-top: 50%;
    font-size: 20px;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
  }

  .card-fecha {
    position: relative;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.18px;
    top: 40px;

    hr {
      background-color: $color-naranja;
      height: 2px;
      width: 77px;
      border: none;
      margin-left: 0;
    }
  }

  .position{
      float: right;
      transform: scalex(1.7) scaley(1.8) translate(7px, -16px);
  }

}
