$color-azul: #004a9c;
.titulo {
  font-family: OpenSans-Bold, sans-serif;
  display: inline-block;
  width: 100%;
  max-width: 380px;
  text-align: left;
  border-bottom: 2px solid #f07e00;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.3px;
  color: #f07e00;
}

.formulario {
  width: 100%;
  max-width: 780px;
  max-width: 0 auto;
  margin-bottom: 1rem;
}

.fila {
  padding: 18px 44px;
  &:nth-child(even) {
    background-color: #f1f1f1;
  }
  .item {
    font-family: OpenSans-Bold, sans-serif;
    /*font-size: 20px;*/
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    min-width: 200px;
  }
  .item+div {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
  }
}


/* Reset Select */

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #e6e6e6 !important;
  background-image: none;
}

.form-campo {
  position: relative;
  width: 100%;
  max-width: 275px;
  height: 36px;
  .campo {
    font-family: Roboto, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: solid 1px rgba(26, 26, 26, 0.25);
    background-color: #ffffff;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #001737;
  }
  .box-icono {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0px;
    text-align: center;
    background-color: $color-azul;
    pointer-events: none;
    .icono {
      margin: 0 auto;
    }
  }
}


/* Reset Select */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #e6e6e6 !important;
  background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
  display: none;
}

.box-select {
  position: relative;
  width: 275px;
  height: 36px;
  .select {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #001737;
    border-radius: 3px;
    border: solid 1px rgba(26, 26, 26, 0.25);
    background-color: #ffffff;
  }
  &:after {
    content: '\2228';
    position: absolute;
    width: 36px;
    height: 36px;
    color: #fff;
    background: $color-azul;
    right: 0;
    pointer-events: none;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
  }
}

.validacion {
  text-align: right;
  top: 0px;
  position: relative;
  width: 100%;
  max-width: 275px;
  .mensaje {
    color: #d8001d;
    position: relative;
    top: 0px;
    font-size: 12px;
  }
}

.botones {
  margin-top: 40px;
  .btn {
    width: 192px;
    height: 44.5px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .btn-guardar {
    font-family: Roboto, sans-serif;
    border: solid 2px #f07e00;
    background-color: #f07e00;
  }
  .btn-cancelar {
    font-family: Roboto, sans-serif;
    border: solid 2px #004a9c;
    background-color: #004a9c;
  }
}


/*
*Estilos filtro
*/

.box {
  position: relative;
  height: 36px;
  margin-right: 58px;
  .mat-form-field {
    position: relative;
    top: -12px;
    width: 242px !important;
  }
}

.icono-select {
  color: #fff;
  position: absolute;
  width: 50px!important;
  height: 50px!important;
  text-align: center;
  line-height: 2;
  background: $color-azul;
  top: -8px;
  right: -58px;
  border-radius: 3px;
}

.mat-select-arrow {
  visibility: hidden!important;
}

.campo-buscar {
  height: 41px;
  box-sizing: border-box;
  padding: 0px 12px!important;
}

.ocultar {
  display: none;
}

.form-textarea {
  position: relative;
  width: 100%;
  /*max-width: 465px;*/
  height: 150px;
  .textarea {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    outline: none;
    background-color: #f8f8f8;
    resize: none;
    padding: 12px 24px;
    border: none;
    min-width: 300px !important;
  }
  .icon-cerrar {
    position: absolute;
    right: -4px;
    top: -6px;
    width: 22px;
    height: 22px;
    background-color: #696b6e;
    border-radius: 50%;
    .cerrar {
      font-size: 15px;
      position: relative;
      top: 4px;
      left: 4px;
      color: #efefef;
      cursor: pointer;
    }
  }
}

/* CSS to change 'Primary' color */

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white !important;
  margin-top: 4px!important;
  width: 17px!important;
  height: 17px!important;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #3ec950!important;
  height: 20px;
}

::ng-deep .mat-slide-toggle-bar {
  position: relative !important;
  width: 36px !important;
  height: 20px !important;
  flex-shrink: 0 !important;
  border-radius: 8px !important;
}

::ng-deep .mat-slide-toggle-thumb {
  background-color: white !important;
  margin-top: 4px!important;
  width: 17px!important;
  height: 17px!important;
}
