$color-naranja: #eb7e25;
.prueba {
    width: 50rem;
    height: 31.25rem;
    border-radius: 31px;
    border: solid 1px #e6e6e6;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.position {
    top: 187px;
    left: 52%;
    width: 380px;
}

.titulo {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    -webkit-text-stroke: 2px #000000;
    color: #ffffff;
}

.texto {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: 0.17px;
    text-align: left;
    cursor: pointer;
    -webkit-text-stroke: 1px #000000;
    color: #ffffff;
}

.item-selected {
    color: $color-naranja;
    font-family: OpenSans-Regular, sans-serif;
    border-bottom: 1px solid $color-naranja;
    cursor: pointer;
}

@media screen and (max-width: 599px) {
    .prueba {
        width: 30rem;
        height: 15rem;
    }
    .position {
        
    top: 50px;
    left: 10%;
    width: 320px
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .prueba {
        width: 40rem;
        height: 25rem;
    }
}