$color-naranja: #f07e00;
$color-gris: #949494;
$blanco-over :rgb(242, 242, 242, 0.9);
$color-blue: #004a9c;
$color-azul-claro: #0099cc;
.card-documento {
    font-family: OpenSans-Regular, sans-serif;
    height: 411px;
    width: 285px;
    border-radius: 13px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfcfc;
    cursor: pointer;
    h1 {
        font-family: OpenSans-Bold, sans-serif;
        color: $color-naranja;
        font-weight: bold;
        font-size: 20px;
        margin: 0;
        line-height: 1.25;
        letter-spacing: 0.2px;
        height: 1.5rem;
        width: 12.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h2 {
        font-family: OpenSans-Bold, sans-serif;
        font-size: 18px;
        letter-spacing: 0.18px;
        font-weight: bold;
    }
    .doc-titulo {
        margin: 10px 0;
        font-family: OpenSans-Bold, sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        cursor: pointer;
        overflow-wrap: anywhere;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 210px;
    }
    .titulo {
        font-family: OpenSans-Bold, sans-serif;
        color: $color-naranja;
        font-size: 20px;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
    }
    .card-fecha {
        font-family: OpenSans-Regular, sans-serif;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.18px;
        top: 40px;
        hr {
            font-family: OpenSans-Regular, sans-serif;
            background-color: $color-naranja;
            height: 2px;
            width: 77px;
            border: none;
            margin-left: 0;
        }
        .footer-card {
            cursor: pointer;
            overflow-wrap: anywhere;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 75px;
        }
    }
    .position {
        float: right;
        transform: scalex(1.7) scaley(1.8) translate(7px, -16px);
    }
}

.container-tarjeta {
    height: 400px;
    position: relative;
    margin-top: 24px;
}

.over-panel {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blanco-over;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 150px 0;
    max-width: 280px;
}

.separador {
    background-color: $color-blue;
    height: 100%;
    max-width: 1px!important;
}

@media (max-width:800px) {
    .card-documento {
        width: 9.875rem;
        height: 27.1875rem;
        h1 {
            width: 7.5rem;
            font-size: 1rem;
        }
        .doc-titulo {
            h2 {
                font-size: 1rem;
                line-height: 1.13;
                letter-spacing: 0.16px;
            }
        }
        .titulo {
            font-size: 1rem;
        }
        .footer-card {
            font-family: OpenSans, sans-serif;
            font-size: 1rem;
            line-height: 1.13;
            letter-spacing: 0.16px;
        }
    }
}