<div *ngIf="UltimasNotiInfo">
    <div class="seccion-ultimas-noticias">
        <div fxLayout="row" fxLayoutGap="60px" fxLayoutGap.lt-sm="20px" class="tituloSeccion">
            <div fxFlex="45">
                <h2>{{UltimasNotiInfo.home.ultimas_noticias.u_noticas}}</h2>
            </div>

            <div fxFlex="45" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end start" fxLayoutAlign.lt-md="start end" fxLayoutGap="60px" fxLayoutGap.lt-md="10px">
                <button class="btn-noticias" [routerLink]="['/noticias']">{{UltimasNotiInfo.home.ultimas_noticias.m_noticias}}</button>
                <button *ngIf="mostrarBoletin" class="btn-boletines" [routerLink]="['boletines']">{{UltimasNotiInfo.home.ultimas_noticias.boletines}}</button>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="2"></div>

            <div fxFlex="88" fxFlex.lt-sm="96">
                <div class="noticias" fxLayout="row wrap" fxLayoutAlign="start none">
                    <app-card-noticias style="margin-top:10px" fxFlex="25" fxFlex.lt-md="50" fxFlex.lt-sm="50" [noticia]="noticia" *ngFor="let noticia of noticias; let i = index" [ngClass]="'card-noticia-'+( i + 1 )">
                    </app-card-noticias>
                </div>
            </div>

            <div fxFlex="10" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="arrow-right" *ngIf="habilitarPaginado" (click)="obtenerMasNoticias(null);">keyboard_arrow_right</mat-icon>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex fxFlexOffset.lt-sm="10" fxLayout="row" class="dops" fxLayoutAlign="center center" *ngIf="habilitarPaginado">
            <div class="dop" [ngClass]="{'dop-selected' : pagina == 0}" (click)="obtenerMasNoticias(0);"></div>

            <div class="dop" [ngClass]="{'dop-selected' : pagina == 1}" (click)="obtenerMasNoticias(1);"></div>

            <div class="dop" [ngClass]="{'dop-selected' : pagina == 2}" (click)="obtenerMasNoticias(2);"></div>
        </div>

        <div fxFlex="10" fxHide fxShow.lt-sm>
            <mat-icon class="arrow-right" *ngIf="habilitarPaginado" (click)="obtenerMasNoticias(null);">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>