$color-azul: #254b9c;
$color-naranja: #f07e00;
$color-blanco: #fff;
$color-noticias-1:#ffffff;
$color-noticias-2:#f9f9f9;
$color-noticias-3:#f5f5f5;
$color-noticias-4:#eeeeee;
.seccion-ultimas-noticias {
    position: relative;
    box-sizing: border-box;
    padding: 17px 0px 36px 0px;
    height: 708px;
    .hide-menu {
        display: none;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 46%;
        height: 100%;
        background: $color-azul;
        border-radius: 0px 25px 25px 0px;
        z-index: -1;
    }
    h2 {
        color: $color-blanco;
        font-family: OpenSans-Bold, sans-serif;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.3px;
        text-align: left;
        margin-left: 27px;
    }
    .noticias {
        box-sizing: border-box;
        border-radius: 20px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5;
    }
    .tituloSeccion {
        margin-bottom: 14px;
    }
}

.dops {
    text-align: center;
    .dop {
        width: 20px;
        height: 20px;
        background-color: #d0ecfb;
        float: left;
        border-radius: 50%;
        margin: 10px;
        cursor: pointer;
    }
    .dop-selected {
        background-color: $color-azul;
    }
}

button {
    color: $color-blanco;
    border: none;
    padding: 12px 36px;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    width: 192px;
    height: 42px;
    transition: all 0.1s;
    &:hover {
        box-shadow: 1px 2px 3px 0px #464646;
    }
}

.btn-noticias {
    background-color: $color-azul;
}

.btn-boletines {
    background-color: $color-naranja;
}

.arrow-right {
    font-size: 40px;
    color: $color-naranja;
    cursor: pointer;
}

 ::ng-deep .card-noticia-1 {
    .mat-card {
        background: $color-noticias-1;
    }
}

 ::ng-deep .card-noticia-2 {
    .mat-card {
        background: $color-noticias-2;
    }
}

 ::ng-deep .card-noticia-3 {
    .mat-card {
        background: $color-noticias-3;
    }
}

 ::ng-deep .card-noticia-4 {
    .mat-card {
        background: $color-noticias-4;
    }
}

@media screen and (max-width: 599px) {
    .seccion-ultimas-noticias {
        height: auto;
        &::before {
            width: 49%;
        }
        h2 {
            font-size: 18px;
            margin-left: 17px;
        }
    }
    .dops {
        .dop {
            width: 10px;
            height: 10px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
    button {
        padding: 0;
        font-size: 14px;
        width: 160px;
        height: 36px;
    }
    .arrow-right {
        font-size: 36px;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .seccion-ultimas-noticias {
        height: auto;
    }
}