<div fxLayout="row" fxLayoutAlign="end">
    <mat-icon mat-dialog-close>
        close
    </mat-icon>
</div>
<mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center">
        <form class="formulario" [formGroup]="formRegistro">
            <h1 class="titulo">{{(!editar)?miembroInfo.miembros.agregarNuevo:miembroInfo.miembros.editarmiembro}}</h1>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_pais}}</div>
                <div fxFlex="70">
                    <div class="box">
                        <mat-form-field appearance="outline">
                            <mat-select required formControlName="pais" [disabled]="editar">
                                <input class="campo-buscar" matInput placeholder="{{miembroInfo.eventos.dialog_nuevo_evento.buscar}}">
                                <mat-option disabled [value]="''" style="color: #001737 !important;">
                                    {{miembroInfo.eventos.dialog_nuevo_evento.seleccionePais}}
                                </mat-option>
                                <mat-option [value]="item.id" *ngFor="let item of paises">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="icono-select">
                                expand_more
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="validacion validacion-select" *ngIf="(pais.invalid && pais.dirty) || (pais.invalid && pais.touched) || (pais.invalid && submit)">
                        <span class="mensaje" *ngIf="pais.errors.required">{{miembroInfo.generales.campo_obligatorio}}</span>
                    </div>
                </div>
            </div>
            
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.miembros.img_fondo}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <div class="box-imagen" *ngIf="subirfondo" (click)="openImagenExplorer()">
                            <div class="item-imagen">
                                <img src="assets/img/camara.JPG" alt="" width="50" height="50">
                                <p>{{miembroInfo.eventos.dialog_nuevo_evento.p_agregar_fotos}}</p>
                            </div>
                        </div>
                        <input hidden id="imgFondo" accept="image/x-png,image/gif,image/jpeg" class="campo" (change)="handleImagenInput($event.target.files)" type="file" accept=".jpeg, .jpg, .gif, .png"/>
                        <div class="ayuda" *ngIf="subirfondo">
                            <span>{{miembroInfo.eventos.dialog_nuevo_evento.p_tipos}}</span>
                        </div>
                        <div style="margin-top: 8px;" *ngIf="!subirfondo">
                            <div class="enlaces" *ngFor="let imagen of imgFondo">
                                <div class="box-enlaces">
                                    <p class="enlace">
                                        {{imagen.nombre}}
                                    </p>
                                </div>
                                <div *ngIf="editar && administrar">
                                    <mat-icon (click)="eliminarImagen(imagen)" class="ico-borrar">cancel</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="editar && (miembro.recursos)">
                            <div class="enlaces" *ngFor="let imagen of getImagenes(miembro.recursos, 'fondo')">
                                <div class="box-enlaces">
                                    <img width="200px" src="{{imagen.path}}" alt="">
                                    <div *ngIf="editar && administrar">
                                        <mat-icon class="ico-borrar-imagen" (click)="agregarImagenBorrar(imagen, 'fondo')">cancel</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.miembros.img_bandera}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <div class="box-imagen" *ngIf="subirBandera" (click)="openImagenExplorerBandera()">
                            <div class="item-imagen">
                                <img src="assets/img/camara.JPG" alt="" width="50" height="50">
                                <p>{{miembroInfo.eventos.dialog_nuevo_evento.p_agregar_fotos}}</p>
                            </div>
                        </div>
                        <input hidden id="imgBandera" accept="image/x-png,image/gif,image/jpeg" class="campo" (change)="handleImagenInputBandera($event.target.files)" type="file" accept=".jpeg, .jpg, .gif, .png"/>
                        <div class="ayuda" *ngIf="subirBandera">
                            <span>{{miembroInfo.eventos.dialog_nuevo_evento.p_tipos}}</span>
                        </div>
                        <div style="margin-top: 8px;" *ngIf="!subirBandera">
                            <div class="enlaces" *ngFor="let imagen of imgBandera">
                                <div class="box-enlaces">
                                    <p class="enlace">
                                        {{imagen.nombre}}
                                    </p>
                                </div>
                                <div *ngIf="editar && administrar">
                                    <mat-icon (click)="eliminarImagenBandera(imagen)" class="ico-borrar">cancel</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="editar && (miembro.recursos)">
                            <div class="enlaces" *ngFor="let imagen of getImagenes(miembro.recursos, 'bandera')">
                                <div class="box-enlaces">
                                    <img width="200px" src="{{imagen.path}}" alt="">
                                    <div *ngIf="editar && administrar">
                                        <mat-icon class="ico-borrar-imagen" (click)="agregarImagenBorrar(imagen, 'bandera')">cancel</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="titulo">{{miembroInfo.autoridades.diag_autoridad.infoAutoridad}}</h1>

            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_nombre}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="name" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_nombre}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(name.invalid && name.touched) ||(name.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_direccion}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="address" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_direccion}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(address.invalid && address.touched) ||(address.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_estado}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="state" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_estado}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(state.invalid && state.touched) ||(state.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_ciudad}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="city" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_ciudad}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(city.invalid && city.touched) ||(city.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_codigo_postal}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="postalCode" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_codigo_postal}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(postalCode.invalid && postalCode.touched) ||(postalCode.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_contacto}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="contact" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_contacto}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(contact.invalid && contact.touched) ||(contact.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_posicion}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="position" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_posicion}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(position.invalid && position.touched) ||(position.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_telefono}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="phone" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_telefono}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(phone.invalid && phone.touched) ||(phone.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_fax}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="fax" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_fax}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(fax.invalid && fax.touched) ||(fax.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_mail}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input formControlName="email" class="campo" type="email" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_mail}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(email.invalid && email.touched) ||(email.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.admin_usuarios.nuevo_usuario.v_email_2}}</span>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_sitio_web}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="webSite" type="text" [readonly]="!administrar"
                            placeholder="{{miembroInfo.autoridades.diag_autoridad.c_sitio_web}}" />
                        <div class="box-icono">
                            <svg-icon class="icono" key="nvIco1"></svg-icon>
                        </div>
                    </div>
                    <div class="validacion" *ngIf="(webSite.invalid && webSite.touched) ||(webSite.invalid && submit)">
                        <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                    </div>
                </div>
            </div>

            <div *ngIf="!formu1 && administrar" class="botones" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
                <button class="btn btn-guardar" (click)="nuevaAutoridad(1)">{{miembroInfo.autoridades.diag_autoridad.nuevaAutoridad}}</button>
            </div>

            <div class="form1" *ngIf="formu1">
                <h1 class="titulo">{{miembroInfo.autoridades.diag_autoridad.infoAutoridad}}</h1>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_nombre}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="name1" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_nombre}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(name1.invalid && name1.touched) ||(name1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_direccion}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="address1" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_direccion}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(address1.invalid && address1.touched) ||(address1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_estado}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="state1" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_estado}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(state1.invalid && state1.touched) ||(state1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_ciudad}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="city1" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_ciudad}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(city1.invalid && city1.touched) ||(city1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_codigo_postal}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="postalCode1" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_codigo_postal}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(postalCode1.invalid && postalCode1.touched) ||(postalCode1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_contacto}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="contact1" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_contacto}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(contact1.invalid && contact1.touched) ||(contact1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_posicion}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="position1" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_posicion}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(position1.invalid && position1.touched) ||(position1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_telefono}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="phone1" type="number" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_telefono}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(phone1.invalid && phone1.touched) ||(phone1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_fax}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="fax1" type="number" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_fax}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(fax1.invalid && fax1.touched) ||(fax1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_mail}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input formControlName="email1" class="campo" type="email" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_mail}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco2"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(email1.invalid && email1.touched) ||(email1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.admin_usuarios.nuevo_usuario.v_email_2}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_sitio_web}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="webSite1" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_sitio_web}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(webSite1.invalid && webSite1.touched) ||(webSite1.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>

                <div class="botones" *ngIf="!formu2 && administrar" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
                    <button class="btn btn-guardar" (click)="nuevaAutoridad(2)">{{miembroInfo.autoridades.diag_autoridad.nuevaAutoridad}}</button>
                </div>
            </div>

            <div class="form2"  *ngIf = "formu2">
                <h1 fxLayout="row" class="fila titulo">{{miembroInfo.autoridades.diag_autoridad.infoAutoridad}}</h1>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_nombre}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="name2" type="text"  [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_nombre}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(name2.invalid && name2.touched) ||(name2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_direccion}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="address2" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_direccion}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(address2.invalid && address2.touched) ||(address2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_estado}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="state2" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_estado}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(state2.invalid && state2.touched) ||(state2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_ciudad}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="city2" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_ciudad}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(city2.invalid && city2.touched) ||(city2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_codigo_postal}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="postalCode2" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_codigo_postal}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(postalCode2.invalid && postalCode2.touched) ||(postalCode2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_contacto}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="contact2" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_contacto}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(contact2.invalid && contact2.touched) ||(contact2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_posicion}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="position2" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_posicion}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(position2.invalid && position2.touched) ||(position2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_telefono}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="phone2" type="number" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_telefono}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(phone2.invalid && phone2.touched) ||(phone2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_fax}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="fax2" type="number" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_fax}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(fax2.invalid && fax2.touched) ||(fax2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_mail}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input formControlName="email2" class="campo" type="email" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_mail}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco2"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(email2.invalid && email2.touched) ||(email2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.admin_usuarios.nuevo_usuario.v_email_2}}</span>
                        </div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="item">{{miembroInfo.autoridades.diag_autoridad.c_sitio_web}}</div>
                    <div fxFlex="70">
                        <div class="form-campo">
                            <input class="campo" formControlName="webSite2" type="text" [readonly]="!administrar"
                                placeholder="{{miembroInfo.autoridades.diag_autoridad.c_sitio_web}}" />
                            <div class="box-icono">
                                <svg-icon class="icono" key="nvIco1"></svg-icon>
                            </div>
                        </div>
                        <div class="validacion" *ngIf="(webSite2.invalid && webSite2.touched) ||(webSite2.invalid && submit)">
                            <span class="mensaje">{{miembroInfo.autoridades.diag_autoridad.v_campo}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="administrar" class="botones" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
                <button class="btn btn-guardar" (click)="guardarUsuario(formRegistro.value)"
                    [disabled]="!formRegistro.valid">{{miembroInfo.generales.guardar}}</button>
                <button class="btn btn-cancelar" mat-dialog-close>{{miembroInfo.generales.cancelar}}</button>
            </div>
        </form>
        <br />
    </div>
</mat-dialog-content>