<div *ngIf="tDocumentosInfo">
    <mat-card class="card-documento" (click)="openDialog(documento)">
        <mat-card-content class="card-content">
            <div fxLayout="column">
                <article>
                    <div>
                        <svg-icon class="position" key="clip"></svg-icon>
                    </div>
                    <h1>{{getDescripcionPais(documento.paises[0])}}
                    </h1>
                    <div fxLayout="row" class="doc-titulo">
                        <h2>{{documento.title}} </h2>
                    </div>
                </article>
            </div>
            <div class="card-fecha">
                <p class="titulo">
                    <!-- {{documento.summary}} -->
                    {{tDocumentosInfo.documentos.tarjeta_documentos.categorias}}
                </p>
                <hr>
                <div class="footer-card">
                    <div *ngFor="let categoria of documento.categorias; last as isLast">
                        {{getDescripcionCategoria(categoria)}}
                        <span *ngIf="!isLast">,</span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>