<div *ngIf="acercaSiarInfo">
    <section class="tarjeta-acerca-rcss" fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-md="column">
        <a (mouseover)="hover=true" (mouseleave)="hover=false" [routerLink]="['acercaSIAR']" class="img-acerca-rcss" [ngStyle]="{'background-image': 'url(' + (hover ? IMG_SIAR_ES_HOVER : IMG_SIAR_ES) + ')'}" fxFlex="45">
        </a>

        <article class="acerca-rcss" fxFlex="55">
            <h2>SIAR</h2>

            <p>{{acercaSiarInfo.home.tarjeta_acerca_siar.resumen}}</p>

            <button [routerLink]="['acercaSIAR']">{{acercaSiarInfo.home.tarjeta_acerca_rcss.leer}}</button>
        </article>
    </section>
</div>