<div fxLayout="row" fxLayoutAlign="end">
  <mat-icon mat-dialog-close>
    close
  </mat-icon>
</div>
<mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="center">
    <form class="formulario" [formGroup]="formRegistro">
      <h1 class="titulo">
        {{
          editar
            ? textos.gestion_dir.tituloEditar
            : textos.gestion_dir.tituloCrear
        }}
      </h1>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.agencia }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="agencia"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (agencia.invalid && agencia.dirty) ||
                  (agencia.invalid && agencia.touched) ||
                  (agencia.invalid && submit)
              }"
            />
          </div>
          <div
            class="validacion"
            *ngIf="
              (agencia.invalid && agencia.dirty) ||
              (agencia.invalid && agencia.touched) ||
              (agencia.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.contacto }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="contacto"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (contacto.invalid && contacto.dirty) ||
                  (contacto.invalid && contacto.touched) ||
                  (contacto.invalid && submit)
              }"
            />
          </div>
          <div
            class="validacion"
            *ngIf="
              (contacto.invalid && contacto.dirty) ||
              (contacto.invalid && contacto.touched) ||
              (contacto.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.cargo }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="cargo"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (cargo.invalid && cargo.dirty) ||
                  (cargo.invalid && cargo.touched) ||
                  (cargo.invalid && submit)
              }"
            />
            <div class="icon-cerrar">
              <mat-icon class="cerrar" (click)="cargo.setValue('')">
                close
              </mat-icon>
            </div>
          </div>
          <div
            class="validacion"
            *ngIf="
              (cargo.invalid && cargo.dirty) ||
              (cargo.invalid && cargo.touched) ||
              (cargo.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.direccion }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="direccion"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (direccion.invalid && direccion.dirty) ||
                  (direccion.invalid && direccion.touched) ||
                  (direccion.invalid && submit)
              }"
            />
            <div class="box-icono">
              <svg-icon
                class="icono icono-calendario"
                key="locacionBold"
              ></svg-icon>
            </div>
          </div>
          <div
            class="validacion"
            *ngIf="
              (direccion.invalid && direccion.dirty) ||
              (direccion.invalid && direccion.touched) ||
              (direccion.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.estado }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="estado"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (estado.invalid && estado.dirty) ||
                  (estado.invalid && estado.touched) ||
                  (estado.invalid && submit)
              }"
            />
            <div class="icon-cerrar">
              <mat-icon class="cerrar" (click)="estado.setValue('')">
                close
              </mat-icon>
            </div>
          </div>
          <div
            class="validacion"
            *ngIf="
              (estado.invalid && estado.dirty) ||
              (estado.invalid && estado.touched) ||
              (estado.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.ciudad }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="ciudad"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (ciudad.invalid && ciudad.dirty) ||
                  (ciudad.invalid && ciudad.touched) ||
                  (ciudad.invalid && submit)
              }"
            />
            <div class="icon-cerrar">
              <mat-icon class="cerrar" (click)="ciudad.setValue('')">
                close
              </mat-icon>
            </div>
          </div>
          <div
            class="validacion"
            *ngIf="
              (ciudad.invalid && ciudad.dirty) ||
              (ciudad.invalid && ciudad.touched) ||
              (ciudad.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.codPostal }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="codPostal"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (codPostal.invalid && codPostal.dirty) ||
                  (codPostal.invalid && codPostal.touched) ||
                  (codPostal.invalid && submit)
              }"
            />
          </div>
          <div
            class="validacion validacion-textarea"
            *ngIf="
              (codPostal.invalid && codPostal.dirty) ||
              (codPostal.invalid && codPostal.touched) ||
              (codPostal.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>

      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.pais }}</div>
        <div fxFlex="70">
          <div class="box">
            <mat-form-field appearance="outline">
              <mat-select required formControlName="pais">
                <input
                  class="campo-buscar"
                  matInput
                  placeholder="{{ textos.gestion_dir.buscar }}"
                />
                <mat-option
                  disabled
                  [value]="''"
                  style="color: #001737 !important;"
                >
                  {{ textos.gestion_dir.seleccionePais }}
                </mat-option>
                <mat-option [value]="item.id" *ngFor="let item of paises">
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
              <mat-icon class="icono-select">
                expand_more
              </mat-icon>
            </mat-form-field>
          </div>
          <div
            class="validacion validacion-select"
            *ngIf="
              pais.invalid ||
              (pais.invalid && pais.touched) ||
              (pais.invalid && submit)
            "
          >
            <span class="mensaje" *ngIf="pais.errors.required">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>

      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.tel }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="tel"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (tel.invalid && tel.dirty) ||
                  (tel.invalid && tel.touched) ||
                  (tel.invalid && submit)
              }"
            />
          </div>
          <div
            class="validacion"
            *ngIf="
              (tel.invalid && tel.dirty) ||
              (tel.invalid && tel.touched) ||
              (tel.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.fax }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="fax"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (fax.invalid && fax.dirty) ||
                  (fax.invalid && fax.touched) ||
                  (fax.invalid && submit)
              }"
            />
          </div>
          <div
            class="validacion"
            *ngIf="
              (fax.invalid && fax.dirty) ||
              (fax.invalid && fax.touched) ||
              (fax.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.email }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              maxlength="200"
              formControlName="email"
              type="text"
              [ngClass]="{
                inputInvalid:
                  (email.invalid && email.dirty) ||
                  (email.invalid && email.touched) ||
                  (email.invalid && submit)
              }"
            />
          </div>
          <div
            class="validacion"
            *ngIf="
              (email.invalid && email.dirty) ||
              (email.invalid && email.touched) ||
              (email.invalid && submit)
            "
          >
            <span class="mensaje">{{ textos.gestion_dir.msgEmail }}</span>
          </div>
        </div>
      </div>

      <div class="fila" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.categoria }}</div>
        <div fxFlex="70">
          <div class="box">
            <mat-form-field appearance="outline">
              <mat-select formControlName="categoria">
                <input
                  class="campo-buscar"
                  matInput
                  placeholder="{{ textos.gestion_dir.buscar }}"
                />
                <mat-option
                  disabled
                  [value]="''"
                  style="color: #001737 !important;"
                >
                  {{ textos.gestion_dir.seleccioneCategoria }}
                </mat-option>
                <mat-option [value]="item.id" *ngFor="let item of categorias">
                  {{ item.description }}
                </mat-option>
              </mat-select>
              <mat-icon class="icono-select">
                expand_more
              </mat-icon>
            </mat-form-field>
          </div>
          <div
            class="validacion validacion-select"
            *ngIf="
              (categoria.invalid && categoria.dirty) ||
              (categoria.invalid && categoria.touched) ||
              (categoria.invalid && submit)
            "
          >
            <span class="mensaje">{{
              textos.generales.campo_obligatorio
            }}</span>
          </div>
        </div>
      </div>

      <div class="fila" fxLayout="row">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.enlaces }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <input
              class="campo"
              formControlName="enlaces"
              (change)="agregarEnlace(enlaces.value)"
              type="text"
            />
            <div class="box-icono">
              <mat-icon class="icono icono-link">
                link
              </mat-icon>
            </div>
          </div>
          <div style="margin-top: 8px;">
            <div class="enlaces" *ngFor="let enlace of enlacesAnexos">
              <div class="box-enlaces">
                <a [href]="enlace" target="_blank" class="enlace">
                  {{ enlace }}
                </a>
              </div>
              <mat-icon (click)="removeEnlace(enlace)" class="ico-borrar-imagen"
                >cancel</mat-icon
              >
              <br />
            </div>
            <div *ngIf="editar">
              <div
                class="enlaces"
                *ngFor="let enlace of getEnlaces(directorio.recursos)"
              >
                <div class="box-enlaces">
                  <p class="enlace">
                    <a [href]="enlace" target="_blank">{{ enlace.path }}</a>
                  </p>
                </div>
                <mat-icon
                  class="ico-borrar-imagen"
                  (click)="agregarEnlaceBorrar(enlace)"
                  >cancel</mat-icon
                >
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.anexos }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <div class="box-imagen" (click)="anexo.click()">
              <div class="item-imagen">
                <img src="assets/svg/clip.svg" alt="" width="50" height="50" />
                <p>{{ textos.gestion_dir.agregarAnexos }}</p>
              </div>
            </div>
            <input
              #anexo
              style="display: none;"
              accept="image/jpeg, image/gif, image/png, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/rtf, application/pdf, application/x-rtf, text/richtext, text/plain"
              class="campo"
              (change)="onFileChangeAnexo($event)"
              formControlName="anexos"
              type="file"
              multiple
            />
            <div style="margin-top: 8px;">
              <div class="enlaces" *ngFor="let anexo of anexosBase64">
                <div class="box-enlaces">
                  <p class="enlace">
                    {{ anexo.nombre }}
                  </p>
                </div>
                <mat-icon (click)="removeAnexo(anexo)" class="ico-borrar-imagen"
                  >cancel</mat-icon
                >
                <br />
              </div>
              <div *ngIf="editar">
                <div
                  class="enlaces"
                  *ngFor="let anexo of getAnexos(directorio.recursos)"
                >
                  <div class="box-enlaces">
                    <p class="enlace">
                      <a href="{{ anexo.path }}" target="_blank" rel="noopener noreferrer">{{
                        anexo.name
                      }}</a>
                    </p>
                  </div>
                  <mat-icon
                    class="ico-borrar-imagen"
                    (click)="agregarAnexoBorrar(anexo)"
                    >cancel</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fila" fxLayout="row">
        <div fxFlex="30" class="item">{{ textos.gestion_dir.imagenes }}</div>
        <div fxFlex="70">
          <div class="form-campo">
            <div class="box-imagen" (click)="imagen.click()">
              <div class="item-imagen">
                <img
                  src="assets/img/camara.JPG"
                  alt=""
                  width="50"
                  height="50"
                />
                <p>{{ textos.gestion_dir.agregarImagenes }}</p>
              </div>
            </div>
            <input
              #imagen
              style="display: none;"
              accept="image/x-png,image/gif,image/jpeg"
              class="campo"
              (change)="onFileChange($event)"
              formControlName="imagenes"
              type="file"
              multiple
            />
            <div style="margin-top: 8px;">
              <div class="enlaces" *ngFor="let imagen of imagenesBase64">
                <div class="box-enlaces">
                  <p class="enlace">
                    {{ imagen.nombre }}
                  </p>
                </div>
                <mat-icon
                  (click)="removeImagen(imagen)"
                  class="ico-borrar-imagen"
                  >cancel</mat-icon
                >
                <br />
              </div>
              <div *ngIf="editar">
                <div
                  class="enlaces"
                  *ngFor="let imagen of getImagenes(directorio.recursos)"
                >
                  <div class="box-enlaces">
                    <img width="200px" src="{{ imagen.path }}" alt="" />
                    <mat-icon
                      class="ico-borrar-imagen"
                      (click)="agregarImagenBorrar(imagen)"
                      >cancel</mat-icon
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />
      <div
        class="botones"
        fxLayout="row"
        fxLayoutAlign="center"
        fxLayoutGap="24px"
      >
        <button class="btn btn-guardar" (click)="guardarDirectorio()">
          {{ textos.generales.guardar }}
        </button>
        <button class="btn btn-cancelar" mat-dialog-close>
          {{ textos.generales.cancelar }}
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
