<div *ngIf="textos" class="alertas-main">
  <div fxLayout="row">
    <svg-icon key="flechaRetorno"></svg-icon>
    <span class="enlace">
      <a [routerLink]="['']">{{ textos.generales.inicio }}</a>
    </span>
    <mat-icon class="icono">
      keyboard_arrow_right
    </mat-icon>
    <span class="enlace">
      <a [routerLink]="['/alertas']" [routerLinkActive]="['link-activo']">{{
        textos.alertas.alertas
      }}</a>
    </span>
  </div>
  <br />
  <div
    class="filtro"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="58px"
  >
    <div class="box" fxFlex>
      <label class="example-margin">{{ textos.generales.filtrar }}</label>
      <mat-radio-group>
        <mat-radio-button
          class="check-margin"
          value="1"
          (click)="mostrarFiltro()"
          >{{ textos.alertas.filtro }}</mat-radio-button
        >
        <mat-radio-button
          class="check-margin"
          value="2"
          (click)="mostrarPalabraClave()"
          checked
          >{{ textos.alertas.palabra_clave }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="end"
    style="margin: 20px; text-align: right;"
    *ngIf="verPalabraClave"
  >
    <div class="box" fxFlex>
      <mat-form-field appearance="outline">
        <mat-label>{{ textos.alertas.palabras_claves }}</mat-label>
        <input
          matInput
          placeholder="{{ textos.alertas.palabras_claves }}"
          [(ngModel)]="stringFiltro"
          value=""
          #txtBuscar
        />
        <svg-icon
          class="icono-select busqueda"
          key="buscador"
          (click)="getAlertasFiltro(txtBuscar.value)"
        ></svg-icon>
        <div
          (click)="limpiarBusquedaPorPalabra(txtBuscar)"
          class="boton-limpiar-palabra-clave"
        >
          <mat-icon>close</mat-icon>
        </div>
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="end"
    fxLayoutAlign.xs="center"
    style="margin: 20px; margin-top: 8px;"
    *ngIf="verFiltro"
  >
    <div>
      <form
        [formGroup]="formFiltroAlertas"
        fxLayout="row wrap"
        fxLayoutGap="12px grid"
        fxLayoutAlign="start"
        fxLayoutAlign.xs="center none"
      >
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.regiones
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="regionValue"
              (selectionChange)="cargarPaisNotificante($event)"
              placeholder="{{ textos.alertas.regiones }}"
            >
              <mat-option value="0">{{ textos.alertas.todos }}</mat-option>
              <mat-option [value]="1">{{ textos.regiones.america }}</mat-option>
              <mat-option [value]="0">{{ textos.regiones.otras }}</mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.pais_notificante
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="paisNotificanteValue"
              #paisNotificante
              placeholder="{{ textos.alertas.pais_notificante }}"
            >
              <mat-option value="">{{ textos.alertas.todos }}</mat-option>
              <mat-option
                *ngFor="let pais of paisesNotificanteList"
                [value]="pais.id"
              >
                {{ pais.nombre }}
              </mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.pais_origen
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="paisOrigenValue"
              #paisOrigen
              placeholder="{{ textos.alertas.pais_origen }}"
            >
              <mat-option value="">{{ textos.alertas.todos }}</mat-option>
              <mat-option
                *ngFor="let pais of paisesOrigenList"
                [value]="pais.id"
              >
                {{ pais.nombre }}
              </mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.nivel_riesgo
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="nivelRiesgoValue"
              #nivelRiesgo
              placeholder="{{ textos.alertas.nivel_riesgo }}"
            >
              <mat-option value="">{{ textos.alertas.todos }}</mat-option>
              <mat-option
                [value]="subdominio.id"
                *ngFor="let subdominio of nivelRiesgosList[0].subDominio"
              >
                {{ subdominio.description }}
              </mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.idioma
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="idiomaValue"
              #idioma
              placeholder="{{ textos.alertas.idioma }}"
            >
              <mat-option value="">{{ textos.alertas.todos }}</mat-option>
              <mat-option
                *ngFor="let idioma of idiomasList"
                [value]="idioma.id"
              >
                {{ nombreIdiomaTraduccion(idioma.descripcion) }}
              </mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.tipo_medida
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="tipoMedidaValue"
              #tipoMedida
              placeholder="{{ textos.alertas.tipo_medida }}"
            >
              <mat-option value="">{{ textos.alertas.todos }}</mat-option>
              <mat-option
                [value]="subdominio.id"
                *ngFor="let subdominio of tipoMedidaList[0].subDominio"
              >
                {{ subdominio.description }}
              </mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.riesgo
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="riesgoValue"
              #riesgo
              placeholder="{{ textos.alertas.riesgo }}"
            >
              <mat-option value="">{{ textos.alertas.todos }}</mat-option>
              <mat-option
                [value]="subdominio.id"
                *ngFor="let subdominio of riesgosList[0].subDominio"
              >
                {{ subdominio.description }}
              </mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.proveedores
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="proveedorValue"
              #proveedor
              placeholder="{{ textos.alertas.proveedores }}"
            >
              <mat-option value="">{{ textos.alertas.todos }}</mat-option>
              <mat-option
                [value]="subdominio.id"
                *ngFor="let subdominio of proveedoresList"
              >
                {{ subdominio.title }}
              </mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
        <div
          class="box-filtro"
          fxFlex="25"
          fxFlex.sm="40"
          fxFlex.xs="40"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="24px"
        >
          <label class="label-categorizado" fxFlex="60">{{
            textos.alertas.categorias
          }}</label>
          <mat-form-field fxFlex="40" class="select-categorizado">
            <mat-select
              [(value)]="categoriaValue"
              #categoria
              placeholder="{{ textos.alertas.categorias }}"
            >
              <mat-option value="">{{ textos.alertas.todos }}</mat-option>
              <mat-option
                [value]="subdominio.id"
                *ngFor="let subdominio of categoriasList[0].subDominio"
              >
                {{ subdominio.description }}
              </mat-option>
            </mat-select>
            <mat-icon class="icono-select-cate">
              expand_more
            </mat-icon>
          </mat-form-field>
        </div>
      </form>
      <br />
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
        <button
          class="btn-filtro aplicar"
          (click)="
            buscarAlertasFiltro(
              0,
              this.configPaginador.itemsPerPage,
              paisNotificante.value,
              paisOrigen.value,
              nivelRiesgo.value,
              idioma.value,
              tipoMedida.value,
              riesgo.value,
              proveedor.value,
              categoria.value
            )
          "
        >
          {{ textos.alertas.buscar }}
        </button>
        <button class="btn-filtro limpiar" (click)="limpiarFiltro()">
          {{ textos.alertas.limpiar_filtro }}
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="alertas">
    <div fxLayout="row" fxLayoutGap="60px">
      <div fxFlex="45">
        <h2 class="titulo">{{ textos.alertas.alertas }}</h2>
      </div>
      <div
        fxFlex="45"
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="60px"
      ></div>
    </div>
    <div fxLayout="row">
      <div fxFlex="5" fxHide.xs></div>
      <div
        fxFlex="90"
        fxFlex.xs="100"
        class="alertas-list"
        fxLayout="row wrap"
        fxLayoutAlign="space-between none"
        fxLayoutGap="4% grid"
        fxLayoutGap.xs="10% grid"
      >
        <app-tarjeta-alerta
          [alerta]="alerta"
          [listaPaises]="paisesOrigenList"
          [listaNivelRiesgo]="nivelRiesgosList"
          [listaRiesgo]="riesgosList"
          [listaCategoria]="categoriasList"
          [listaTipoMedidas]="tipoMedidaList"
          [listaProveedor]="proveedoresList"
          fxFlex="26"
          fxFlex.sm="50"
          fxFlex.xs="50"
          *ngFor="let alerta of alertas | paginate: configPaginador"
        ></app-tarjeta-alerta>
        <div fxFlex="5" fxHide.xs></div>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="end"
      fxLayoutAlign.xs="center"
      *ngIf="mostrarPaginador"
    >
      <pagination-template
        #p="paginationApi"
        [id]="configPaginador.id"
        (pageChange)="pageChanged($event, stringFiltro)"
      >
        <div class="custom-pagination" fxLayout="row">
          <div
            *ngIf="!p.isFirstPage()"
            class="pagination-previous"
            [class.disabled]="p.isFirstPage()"
            (click)="p.previous()"
          >
            <span>
              <mat-icon class="flecha">
                keyboard_arrow_left
              </mat-icon>
            </span>
          </div>
          <div
            class="page-number"
            (click)="p.setCurrent(page.value)"
            *ngFor="let page of p.pages"
            [class.current]="p.getCurrent() === page.value"
          >
            <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
            <div *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </div>
          </div>
          <div
            *ngIf="!p.isLastPage()"
            class="pagination-next"
            [class.disabled]="p.isLastPage()"
            (click)="p.next()"
          >
            <span *ngIf="!p.isLastPage()" (click)="p.next()">
              <mat-icon class="flecha">
                keyboard_arrow_right
              </mat-icon>
            </span>
          </div>
        </div>
      </pagination-template>
    </div>
  </div>
</div>
