<div *ngIf="textos" class="rcss-main">
    <div style="position: relative; margin-left: 50px;">    
        <div fxLayout="row" style="margin-top: 37px;">
            <svg-icon  key="flechaRetorno"></svg-icon>
            <span class="enlace" style="font-family: OpenSans, sans-serif;">
                <a [routerLink]="['']">{{textos.generales.inicio}}</a>
            </span>
            <mat-icon class="icono">
                keyboard_arrow_right
            </mat-icon>
            <span class="enlace">
                <a [routerLink]="['/adminUsuario']" [routerLinkActive]="['link_activo']">{{textos.admin_usuarios.titulo}}</a>
            </span>
        </div>
        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="17px">
            <button class="boton boton-usuario" (click)="mostrando = 'usuarios'">{{textos.admin_usuarios.usuario}}</button>
            <button class="boton boton-roles" (click)="mostrando = 'roles'">{{textos.admin_usuarios.roles}}</button>
        </div>
    
        <br>
        <br>
        <app-tabla-usuarios *ngIf="mostrando === 'usuarios'"></app-tabla-usuarios>
        <br>
        <app-tabla-roles *ngIf="mostrando === 'roles'"></app-tabla-roles>
        <br>
    
    </div>
</div>