<mat-card class="card-noticias" (click)="openDialog(noticia)">
    <img mat-card-image class="imagen" [src]="getImagenes(noticia.recursos)" [alt]="noticia.titulo">
    <mat-card-content class="card-content">
        <article>
            <h1>{{paisesNoticia ? paisesNoticia : ''| titlecase}}</h1>
            <p class="card-parrafo">
                {{noticia.titulo}}
            </p>
            <p class="card-fecha">{{noticia.fecha | date : "dd MMM, yyyy"}}</p>
        </article>
    </mat-card-content>
</mat-card>