$color-azul: #254b9c;
.icono {
    color: $color-azul;
}

.enlace {
    margin: 0px 8px;
    font-size: 18px;
    a {
        text-decoration: none;
        color: $color-azul;
    }
}

.link-activo {
    font-weight: 600;
}

.cabecera {
    .imagen-header {
        /* background-image: url("/assets/img/reunion.jpg"), url("/./assets/img/reunion.jpg");*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0 20px 20px 0;
        min-height: 330px;
        position: relative;
        left: -58px;
    }
    .titulo {
        position: relative;
        .grupo-titulo {
            color: $color-azul;
            position: absolute;
            bottom: 0;
            box-sizing: border-box;
            padding: 10px;
            h1 {
                //width: 441.5px;
                font-family: OpenSans, sans-serif;
                //font-size: 23px;
                color: #004a9c;
                font-size: 1.4em;
                line-height: 1.3;
                letter-spacing: 0.05em;
            }
            h2 {
                width: 336.5px;
                height: 78.5px;
                font-size: 30px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: 0.3px;
                font-family: OpenSans, sans-serif;
                color: #004a9c;
            }
        }
    }
}

.articulo {
    box-sizing: border-box;
    padding: 20px 120px 50px;
    .divider {
        margin: 60px 0;
        background: #254b9c;
        height: 1px;
    }
    .parrafo {
        font-family: OpenSans, sans-serif;
        font-size: 17px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.59;
        letter-spacing: 0.17px;
        text-align: left;
        .text-bold {
            font-weight: bold;
            font-family: OpenSans-Bold, sans-serif;
        }
    }
    .seccion-rcss {
        position: relative;
        box-sizing: border-box;
        padding: 10px 0px 10px 58px;
        margin-bottom: 24px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 220px;
            height: 80%;
            background: #254b9c;
            border-radius: 0px 25px 25px 0px;
            z-index: -1;
        }
        h2 {
            font-family: OpenSans-Bold, sans-serif;
            font-size: 25px;
            font-weight: bold;
            margin: 18px 0 8px 0;
            color: #ffffff
        }
        p {
            background: #e6e6e6;
            box-sizing: border-box;
            padding: 20px 120px;
            border-radius: 15px;
            font-family: OpenSans, sans-serif;
            font-size: 22px;
            line-height: 1.23;
            letter-spacing: 0.22px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            text-align: center;
        }
    }
    .estructura {
        background: #254b9c;
        position: relative;
        width: calc(100% + 200px);
        left: -100px;
        border-radius: 25px;
        .articulo-estructura {
            .box-estructura {
                position: relative;
                background: #e6e6e6;
                padding: 28px 44px 40px 250px;
                border-radius: 0px 15px 15px 0px;
                top: -20px;
                left: -150px;
                width: calc(100% + 94px);
                box-sizing: border-box;
                h2 {
                    z-index: 9999;
                    color: $color-azul;
                    font-family: OpenSans-Bold, sans-serif;
                    font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.35;
                    letter-spacing: 0.2px;
                    text-align: left;
                }
                p {
                    z-index: 99999;
                    font-family: OpenSans, sans-serif;
                    font-size: 17px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.59;
                    letter-spacing: 0.17px;
                    text-align: left;
                }
            }
            .lista-estructura {
                box-sizing: border-box;
                padding: 20px 67px;
                color: #fff;
                ul {
                    li {
                        text-indent: -5px;
                        list-style: none;
                        margin-bottom: 1.5rem;
                    }
                }
                p {
                    font-family: OpenSans, sans-serif;
                    font-size: 17px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.59;
                    letter-spacing: 0.17px;
                    text-align: left;
                }
            }
        }
    }
}

.rcss-main {
    padding: 22px 89px 50px 55px;
    max-width: 1366px;
    margin: auto;
}


/**
    xs
*/

@media screen and (max-width: 599px) {
    .rcss-main {
        padding: 0px;
    }
    .cabecera {
        .imagen-header {
            min-height: 150px;
        }
        .titulo {
            position: relative;
            .grupo-titulo {
                position: relative;
                h2 {
                    width: 245px;
                    font-size: 20px;
                }
            }
        }
    }
    .articulo {
        padding: 0;
        .divider {
            margin: 16px 8px;
        }
        .parrafo {
            line-height: 1.75;
            font-size: 12px;
            padding: 8px;
        }
        .seccion-rcss {
            box-sizing: border-box;
            padding: 0 0 10px 24px;
            &::before {
                width: calc(100% - 40px);
            }
            h2 {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                padding: 8px;
            }
        }
        .estructura {
            width: 100%;
            left: 0;
            .articulo-estructura {
                .box-estructura {
                    box-sizing: border-box;
                    padding: 12px;
                    top: -32px;
                    left: 0;
                    width: 95%;
                    h2 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                .lista-estructura {
                    padding: 4px;
                    ul {
                        margin: 0;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}


/**
    sm
*/

@media screen and (min-width: 600px) and (max-width: 959px) {
    .rcss-main {
        padding: 0px;
    }
    .cabecera {
        .imagen-header {
            min-height: 150px;
        }
        .titulo {
            position: relative;
            .grupo-titulo {
                position: relative;
            }
        }
    }
    .articulo {
        padding: 0px;
        .divider {
            margin: 16px 8px;
        }
        .parrafo {
            line-height: 1.75;
            font-size: 1.25em;
            padding: 24px;
        }
        .seccion-rcss {
            box-sizing: border-box;
            padding: 0px 0px 10px 24px;
            &::before {
                width: calc(100% - 40px);
            }
            h2 {
                color: #fff;
                font-size: 1.75em;
                font-weight: 600;
            }
            p {
                padding: 24px;
            }
        }
        .estructura {
            width: 100%;
            left: 0px;
            .articulo-estructura {
                .box-estructura {
                    box-sizing: border-box;
                    padding: 12px;
                    top: -32px;
                    left: 0;
                    width: 95%;
                }
                .lista-estructura {
                    padding: 4px;
                    ul {
                        margin: 0;
                    }
                }
            }
        }
    }
}