<div *ngIf="dialogInfo">
    <div fxLayout="row" fxLayoutAlign="end">
        <div fxFlex fxLayout="row" fxLayoutAlign="end">
            <mat-icon mat-dialog-close>
                close
            </mat-icon>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="80">
            <h1 class="titulo">{{dialogInfo.registro_usuario.dialog_pregunta.tituloPregunta}}</h1>
        </div>
        <form [formGroup]="formRespuesta" fxFlex="80">
            <h2>{{pregunta[0].description}}</h2>
            <textarea formControlName="respuesta"></textarea>
            <div class="btn2" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
                <button [disabled]="!formRespuesta.valid" (click)="prepararRespuesta(formRespuesta.value)" class="btn-guardar btn">{{dialogInfo.registro_usuario.dialog_pregunta.guardar}}</button>
                <button class="btn-cancelar btn" mat-dialog-close>{{dialogInfo.registro_usuario.dialog_pregunta.cancelar}}</button>
            </div>
        </form>
    </div>
</div>