$color-azul: #254b9c;
$color-naranja: #f07e00;
div {
    h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.17;
        letter-spacing: 0.3px;
        text-align: left;
        color: $color-naranja;
        width: 100%;
        max-width: 380px!important;
        display: inline-block;
        border-bottom: 2px solid $color-naranja;
    }
    form {
        max-width: 713px;
        min-height: 169px;
        border: 1px solid #707070;
        border-radius: 10px;
        position: relative;
        h2 {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.43;
            letter-spacing: 0.14px;
            text-align: left;
            padding: 8px 16px;
            margin: 0;
            color: $color-azul;
        }
        textarea {
            resize: none;
            width: 100%;
            min-height: 133px;
            position: absolute;
            bottom: 0;
            border-right: none;
            border-top: solid 0.2px #efefef;
            border-bottom: none;
            border-left: none;
            border-radius: 0 0 10px 10px;
            padding: 10px 15px;
            &:focus {
                outline: 0 none;
            }
            &:active {
                outline: 0 none;
            }
        }

        div {
            position: absolute;
            top: calc(100% + 12px);
        }
    }
    .mat-icon {
        font-size: 16px;
    }
}
.btn-cancelar {
    border-color: $color-azul;
    background-color: $color-azul;
}

.btn-guardar {
    border-color: $color-naranja;
    background-color: $color-naranja;
}
.btn {
    border-radius: 10px;
    width: 192px;
    height: 44.5px;
    border: solid 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.btn2 {
    width: 100%;
    margin-top: 32px;
}