<div class="div-problemas" fxLayout="row">
    <div fxFlex="20">
        <button *ngIf="administar" class="btn-nuevo" (click)="administrarSincronizacion(true)">{{textos.sincronizacion_alertas.tabla_pais.nuevoRecord}}</button>
    </div>
    <div *ngIf="dataPais.data.length > 0" fxFlex="80">
        <mat-toolbar *ngIf="filtroActivo" class="toolbarFiltro">
            <button (click)="gestionarFiltro()" mat-raised-button class="botonFiltro">
                <img src="./assets/img/buscador.svg" alt="buscador" class="searchIcon" />
            </button>
            <input id="searchbarInput" class="searchbar" #searchbarInput type="text" (keyup)="filtroPaises($event)" matInput placeholder="{{textos.sincronizacion_alertas.buscar}}...">
        </mat-toolbar>
        <table id="tablaProblemaReportado" class="mapa-categoria-table" mat-table matSort [dataSource]="dataPais" aria-describedby="mapa-categoria-tabla">
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef scope="col">
                    <label>{{textos.sincronizacion_alertas.tabla_pais.editar}}</label>
                </th>
                <td mat-cell *matCellDef="let element" class="mat-column-gestionPais col-editar">
                    <a (click)="administrarSincronizacion(false, element)">
                        <mat-icon class="icono">edit</mat-icon>
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="nombre_externo">
                <th mat-header-cell *matHeaderCellDef scope="col">
                    <label>{{textos.sincronizacion_alertas.tabla_pais.extNombre}}</label>
                    <mat-icon (click)="gestionarFiltro()" class="icono-filtro">filter_list</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element" class="mat-column-gestionPais col-nombre">
                    {{element.externalField}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre_siar">
                <th mat-header-cell *matHeaderCellDef scope="col">
                    <label>{{textos.sincronizacion_alertas.tabla_pais.siarNombre}}</label>
                    <mat-icon (click)="gestionarFiltro()" class="icono-filtro">filter_list</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element" class="mat-column-gestionPais col-nombre"> - &nbsp; {{element.descripcionSiar}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsMapa"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsMapa;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">{{textos.sincronizacion_alertas.tabla_pais.sinDatosFiltro}}</td>
            </tr>
        </table>
        <mat-paginator #paginatorPais *ngIf="dataPais.data.length > 0" [pageSizeOptions]="[5]" showFirstLastButtons>
        </mat-paginator>
        <br />
    </div>
    <div fxFlex="80" *ngIf="dataPais.data.length === 0" class="divSinDatos">
        <label> {{textos.sincronizacion_alertas.sinRegistros}}... </label>
    </div>
</div>