$color-azul: #254b9c;
$color-naranja: #f07e00;
$color-blanco: #fff;
$color-azul-claro: #0099cc;
.icono {
    color: $color-azul;
}

.enlace {
    margin: 0px 8px;
    font-size: 18px;
    font-family: OpenSans, sans-serif;
    a {
        text-decoration: none;
        color: $color-azul;
    }
}

.link-activo {
    font-weight: 600;
}

.img-documento-home {
    /*background-image: url('/assets/img/eventos-auditorio.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    width: 100%;
    font-family: OpenSans, sans-serif;
    min-height: 241px;
    position: relative;
    .txt-documentos {
        position: absolute;
        width: 495px;
        background-color: $color-naranja;
        color: $color-blanco;
        right: 0;
        bottom: -15px;
        padding: 17px 50px 17px 0px;
        border-radius: 23px 0 0 23px;
        font-size: 30px;
        height: 67px;
        font-weight: bold;
        line-height: 1.17;
        letter-spacing: 0.3px;
        text-align: right;
    }
}

.btn-docuemntos {
    background-color: $color-naranja;
    font-family: OpenSans, sans-serif;
    cursor: pointer;
}

button {
    font-family: OpenSans, sans-serif;
    color: $color-blanco;
    border: none;
    padding: 12px 36px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    width: 192px;
    height: 42px;
    transition: all 0.1s;
    &:hover {
        box-shadow: 1px 2px 3px 0px #464646;
        border: none;
    }
}

.documentos {
    font-family: OpenSans, sans-serif;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: 3rem;
}

.current {
    font-family: OpenSans, sans-serif;
    background: $color-naranja!important;
    color: $color-blanco!important;
}

.custom-pagination {
    font-family: OpenSans, sans-serif;
    margin-top: 24px;
}

.pagination-previous,
.page-number,
.pagination-next {
    font-family: OpenSans, sans-serif;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid darkgrey;
    margin: 2px;
    border-radius: 3px;
    line-height: 2.6;
    color: #525261;
    cursor: pointer;
}

.flecha {
    position: relative;
    top: 6px;
}

.tarjeta-documento {
    font-family: OpenSans, sans-serif;
    margin-top: 34px;
    margin-right: 34px;
    width: 100%;
    text-align: left;
    min-width: 260px;
}

.lblFiltrar {
    text-align: right;
    font-family: OpenSans, sans-serif;
}

.box {
    position: relative;
    height: 36px;
    margin-right: 58px;
    .mat-form-field {
        position: relative;
        top: -12px;
    }
}

.icono-select {
    color: #fff;
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    text-align: center;
    line-height: 2;
    background: $color-azul;
    top: -8px;
    right: -61px;
    border-radius: 3px;
}

.mat-select-arrow {
    font-family: OpenSans, sans-serif;
    visibility: hidden!important;
}

.campo-buscar {
    font-family: OpenSans, sans-serif;
    height: 41px;
    box-sizing: border-box;
    padding: 0px 12px!important;
}

.ocultar {
    display: none;
}

.mat-pseudo-checkbox {
    display: none!important;
}

.option-selected {
    color: $color-naranja!important;
    border-bottom: 1px solid $color-naranja;
    .cantidad {
        background: $color-naranja;
        color: $color-blanco;
    }
}

.cantidad {
    font-family: OpenSans, sans-serif;
    background: #e6e6e6;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    top: 10px;
    border-radius: 18px;
    line-height: normal;
    width: 36px;
    height: 20px;
    text-align: center;
    box-shadow: 0px 2px 3px darkgrey;
}

.btn-noticias {
    background-color: $color-azul;
}

.chips {
    position: relative;
    top: -16px
}

::ng-deep .mat-select-panel {
    transform: translate(32px, 50px)!important;
    max-width: 200px !important;
}

.main-doc-public {
    padding: 70px 84px 81px 44px;
    max-width: 1366px;
    margin: auto;
}

.divPagination {
    margin-top: 6.2rem;
}

@media screen and (max-width: 959px) {
    .main-doc-public {
        padding: 6px 10px 40px;
    }
}

@media screen and (max-width:800px) {
    .filtro {
        margin-top: 2rem;
    }
    .enlace {
        font-size: 16px;
    }
    .tarjeta-documento {
        min-width: 158px;
    }
    .divPagination {
        margin-top: 2rem;
    }
    .documentos {
        margin-top: 1.2rem;
    }
    .lblFiltrar {
        margin-left: auto;
        margin-right: 2rem;
        font-size: 0.75rem;
    }
    .box {
        position: relative;
        height: unset;
        margin-right: 0;
        .mat-form-field {
            position: relative;
            top: unset;
        }
    }
}