<div *ngIf="textos">
    <div class="table-header" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" class="item-header" fxFlex>{{textos.generales.f_pais}}
            <input id="searchbarInput" style="margin-left: 10px;" type="text" placeholder="{{textos.admin_usuarios.buscar}}..." [(ngModel)]="filtro" name="filtro"/>
        </div>
        <div class="item-header centrado" fxFlex="45">{{textos.admin_usuarios.tabla_roles.acciones}}</div>
    </div>
    <div class="table-content">
        <div fxLayout="row" class="fila-content" fxLayoutAlign="start center" *ngFor="let p of paises | filtroPais: filtro | paginate : configPaginador">
            <div class="item-content" fxFlex>
                <span class="texto-largo">
                    {{getDescripcionPais(p)}}
                </span>
            </div>
            <div class="item-content centrado" fxFlex="45">
                <a class="nuevo-registro" [routerLink]="['/gestionAtlas/crear', p.id]">
                    <span>
                        <svg-icon key="iconoEditar"></svg-icon>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div fxLayout="row">
        <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="end">
                <pagination-template #p="paginationApi" [id]="configPaginador.id" (pageChange)="pageChanged($event)">
                    <div class="custom-pagination" fxLayout="row">
                        <div *ngIf="!p.isFirstPage()" class="pagination-previous" [class.disabled]="p.isFirstPage()" (click)="p.previous()">
                            <span>
                            <mat-icon class="flecha">
                                keyboard_arrow_left
                            </mat-icon>
                            </span>
                        </div>
                        <div class="page-number" (click)="p.setCurrent(page.value)" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                            <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                            <div *ngIf="p.getCurrent() === page.value">
                                <span>{{ page.label }}</span>
                            </div>
                        </div>
                        <div *ngIf="!p.isLastPage()" class="pagination-next" [class.disabled]="p.isLastPage()" (click)="p.next()">
                            <span *ngIf="!p.isLastPage()" (click)="p.next()">
                            <mat-icon class="flecha">
                                keyboard_arrow_right
                            </mat-icon>
                            </span>
                        </div>
                    </div>
                </pagination-template>
            </div>
        </div>
    </div>
</div>
