$color-naranja: #eb7e25;
.title-modal {
    font-family: OpenSans-Bold, sans-serif;
    color: $color-naranja;
    margin-left: 70px;
    border-bottom: 2px solid $color-naranja;
    font-size: 2em;
}

::ng-deep .mat-dialog-detalle-tarjeta {
    .mat-dialog-container {
        border-radius: 15px !important;
        padding: 0px !important;
    }
    width: 70%;
    font-family: OpenSans-Regular,
    sans-serif;
    padding: 24px 96px;
    .fila {
        padding: 24px;
        &:nth-child(odd) {
            background-color: #f1f1f1;
        }
    }
    div {
        .item {
            font-weight: 600;
        }
    }
}

.margen {
    margin: 8% 6%;
}

.close-icon {
    transform: translate(100%, -200%);
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    padding-right: 60px;
    height: 49px;
    background-color: #324050;
}


/* Track */

 ::-webkit-scrollbar-track {
    width: 6px;
    padding-right: 60px;
    background-color: #324050;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    padding-right: 60px;
    background: #888;
}

@media screen and (max-width:1000px) {
    .close-icon {
        transform: unset
    }
}

@media screen and (max-width:800px) {
    .title-modal {
        margin-left: 40px;
        font-size: 1.25em;
    }
     ::ng-deep .mat-dialog-detalle-tarjeta {
        width: 90%;
        max-width: unset !important;
        padding: 0;
        .fila {
            padding: 16px;
        }
        div {
            .item,
            .value {
                font-size: 12px;
            }
            .item {
                margin-right: 0.5rem;
            }
        }
    }
}