<div class="margen">
    <div fxLayout="row" fxFlexAlign="space-between center">
        <h2 class="title-modal" fxFlex="75" fxFlex.xs="85" mat-dialog-title>{{dDocumentosInfo.documentos.detalle_tarjeta_documentos.documentoDetalle}}</h2>
        <div fxFlex="25" fxFlex.xs="15" fxLayout="row" fxLayoutAlign="end">
            <mat-icon class="close-icon" mat-dialog-close>close</mat-icon>
        </div>
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{dDocumentosInfo.documentos.detalle_tarjeta_documentos.titulo}}</div>
            <div fxFlex="60" class="value">{{documento.title}}</div>
        </div>
        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{dDocumentosInfo.documentos.detalle_tarjeta_documentos.categoria}}</div>
            <div fxFlex="60" class="value">
                <span *ngFor="let categoria of documento.categorias; last as isLast">
                    {{getDescripcionCategoria(categoria)}}
                    <span *ngIf="!isLast">,</span>
                </span>
            </div>
        </div>
        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{dDocumentosInfo.documentos.detalle_tarjeta_documentos.pais}}</div>
            <div fxFlex="60" class="value">
                <span *ngFor="let pais of documento.paises; last as isLast">
                    {{getDescripcionPais(pais)}}
                    <span *ngIf="!isLast">,</span>
                </span>
            </div>
        </div>
        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{dDocumentosInfo.documentos.detalle_tarjeta_documentos.anexos}}</div>
            <div fxFlex="60" class="value" style="word-break: break-word;">
                <a [href]="anexo" target="_blank" *ngFor="let anexo of anexos; last as isLast">
                    {{anexo}} <span *ngIf="!isLast">,</span>
                </a>
                <span *ngIf="anexos.length === 0"> {{dDocumentosInfo.documentos.detalle_tarjeta_documentos.aplica}}</span>
            </div>
        </div>
        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{dDocumentosInfo.documentos.detalle_tarjeta_documentos.enlace}}</div>
            <div fxFlex="60" class="value" style="word-break: break-word;">
                <a [href]="enlace" target="_blank" *ngFor="let enlace of enlaces; last as isLast">
                    {{enlace}} <span *ngIf="!isLast">,</span>
                </a>
                <span *ngIf="enlaces.length === 0"> {{dDocumentosInfo.documentos.detalle_tarjeta_documentos.aplica}}</span>
            </div>
        </div>
        <div class="fila" fxLayout="row">
            <div fxFlex="30" class="item">{{dDocumentosInfo.documentos.detalle_tarjeta_documentos.imagen}}</div>
            <div fxFlex="60" class="valueImg">
                <img width="100%" [alt]="imagen" [src]="imagen" *ngFor="let imagen of imagenes; last as isLast" (click)="redirect(imagen)">
                <span *ngIf="imagenes.length === 0"> {{dDocumentosInfo.documentos.detalle_tarjeta_documentos.aplica}}</span>
            </div>
        </div>
    </mat-dialog-content>
</div>