$color-azul: #254b9c;
$color-naranja: #f07e00;
$color-blanco: #fff;
.seccion-alertas-recientes {
    position: relative;
    box-sizing: border-box;
    padding: 12px 0px 36px 0px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 48%;
        height: 100%;
        background: $color-naranja;
        border-radius: 25px 0 0 25px;
        max-height: 710px;
        z-index: -1;
    }
    h2 {
        font-family: OpenSans, sans-serif;
        color: $color-blanco;
        font-weight: 600;
        font-size: 30px;
        margin-top: 20px;
    }
    .alertas {
        box-sizing: border-box;
        border-radius: 20px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5;
    }
}

.dops {
    text-align: center;
    .dop {
        width: 20px;
        height: 20px;
        background-color: #d0ecfb;
        float: left;
        border-radius: 50%;
        margin: 10px;
        cursor: pointer;
    }
    .dop-selected {
        background-color: $color-azul;
    }
}

.btn-alertas {
    color: $color-blanco;
    border: none;
    padding: 12px 36px;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    width: 192px;
    height: 42px;
    transition: all 0.1s;
    &:hover {
        box-shadow: 1px 2px 3px 0px #464646;
    }
    background-color: $color-naranja;
}

.arrow-right {
    font-size: 4em;
    position: relative;
    color: $color-azul;
    left: -10px;
    top: -10px;
    cursor: pointer;
}

@media screen and (max-width: 599px) {
    .seccion-alertas-recientes {
        position: relative;
        box-sizing: border-box;
        padding: 12px 0px 36px 0px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 48%;
            height: 100%;
            background: $color-naranja;
            border-radius: 25px 0 0 25px;
            max-height: 710px;
            z-index: -1;
        }
        h2 {
            font-size: 18px;
            line-height: 1.11;
            letter-spacing: 0.18px;
        }
        .alertas {
            box-sizing: border-box;
            border-radius: 20px;
            text-align: center;
            font-size: 1.5em;
            line-height: 1.5;
        }
        .btn-alertas {
            padding: 0;
            font-size: 14px;
            width: 130px;
            height: 2rem;
            margin-left: 0.5rem;
        }
    }
    .dops {
        .dop {
            width: 10px;
            height: 10px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
    .arrow-right {
        font-size: 36px;
    }
}