<div *ngIf="alertasInfo">
  <div class="seccion-alertas-recientes">
    <div fxLayout="row" fxLayoutGap="60px">
      <div
        fxFlex="45"
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayoutGap="60px"
      >
        <button class="btn-alertas" [routerLink]="['alertas']">
          {{ alertasInfo.home.alertas.tarjeta_pais_alerta.m_alerta }}
        </button>
      </div>
      <div fxFlex="40" fxLayoutAlign="end">
        <h2>{{ alertasInfo.home.alertas.alertas_recientes }}</h2>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="4" fxHide fxShow.lt-sm></div>
      <div
        fxFlex="98"
        fxFlex.lt-sm="96"
        class="alertas"
        fxLayout="row wrap"
        fxLayoutGap="4% grid"
        fxLayoutGap.xs="10% grid"
        fxLayoutAlign="start none"
      >
        <app-tarjeta-alerta
          [alerta]="alerta"
          [listaPaises]="paisesOrigenList"
          [listaNivelRiesgo]="nivelRiesgosList"
          [listaRiesgo]="riesgosList"
          [listaCategoria]="categoriasList"
          [listaTipoMedidas]="tipoMedidaList"
          [listaProveedor]="proveedoresList"
          class="alerta"
          fxFlex="25"
          fxFlex.sm="50"
          fxFlex.xs="50"
          *ngFor="let alerta of alertas"
        ></app-tarjeta-alerta>
      </div>
      <div fxFlex="2" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="arrow-right" (click)="obtenerMasAlertas(null)">
          keyboard_arrow_right
        </mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="mt-3" fxLayoutAlign="space-around center">
    <div
      fxFlex
      fxFlexOffset.lt-sm="10"
      fxLayout="row"
      class="dops"
      fxLayoutAlign="center center"
      *ngIf="habilitarPaginado"
    >
      <div
        class="dop"
        [ngClass]="{ 'dop-selected': pagina == 0 }"
        (click)="obtenerMasAlertas(0)"
      ></div>
      <div
        class="dop"
        [ngClass]="{ 'dop-selected': pagina == 1 }"
        (click)="obtenerMasAlertas(1)"
      ></div>
    </div>
    <div fxFlex="10" fxHide fxShow.lt-sm>
      <mat-icon
        class="arrow-right"
        *ngIf="habilitarPaginado"
        (click)="obtenerMasAlertas(null)"
      >
        keyboard_arrow_right
      </mat-icon>
    </div>
  </div>
</div>
