    $color-azul: #004a9c;
    $color-azul-claro:#0099cc;
    $color-gris: #e6e6e6;
    $color-naranja: #eb7e25;
    $color-blanco: #fff;
    $color-negro: #000000;
    .icono {
        color: #0099cc;
        cursor: pointer;
    }
    
    .icono-filtro {
        color: $color-negro;
        font-size: 14px;
        cursor: pointer;
        margin-left: 10px;
    }
    
    .enlace {
        margin: 0px 8px;
        font-size: 18px;
        a {
            text-decoration: none;
            color: $color-azul;
        }
    }
    
    .link-activo {
        font-weight: 600;
    }
    
    .main-sincronizacion-alertas {
        max-width: 85.375rem;
        padding: 37px 89px 30px 62px;
        margin: auto;
    }
    
    button {
        color: $color-blanco;
        outline: unset;
        height: 44.5px;
        width: 192px;
        text-align: center;
        border: none;
        font-family: Roboto, sans-serif;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
        line-height: 1.06;
        transition: all 0.1s;
        &:hover {
            box-shadow: 1px 2px 3px 0px #464646;
        }
    }
    
    .btn-activo {
        border: solid 2px $color-azul;
        background-color: $color-azul;
    }
    
    .btn-inactivo {
        border: solid 2px $color-naranja;
        background-color: $color-naranja;
    }
    
    .seccion-paises-sincronizacion {
        table {
            width: 90%;
            margin: auto
        }
         ::ng-deep .mat-table thead {
            background-color: #004a9c;
            height: 55px;
            border-radius: 8px;
            color: $color-blanco;
            font-family: OpenSans-Bold, sans-serif;
            th {
                text-align: left;
                font-size: 14px;
            }
        }
        #tablaSincronizacion {
            border-collapse: separate;
            border-spacing: 0 10px;
        }
        .tabla-sincronizacion {
            overflow-x: auto;
            border-collapse: separate;
            border-spacing: 0 10px;
        }
        table#tablaPaisesSincronizados {
            border-collapse: separate;
            border-spacing: 0 10px;
        }
        .gestion-parametros-table,
        .gestion-alertas-table {
            overflow-x: auto;
            border-collapse: separate;
            border-spacing: 0;
        }
        .gestion-parametros-table tr,
        .gestion-alertas-table tr {
            height: 70px !important;
            padding: 0.5em;
        }
        th.mat-header-cell {
            color: $color-blanco;
        }
         ::ng-deep .mat-table tbody {
            border-radius: 14px;
            background-color: #f2f2f2;
            td {
                font-size: 14px;
                font-family: OpenSans, sans-serif;
            }
        }
        .mat-column-gestion {
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 7% !important;
            width: 7%;
            overflow-wrap: break-word;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            overflow-y: auto;
            text-align: left;
        }
        .mat-column-alertas {
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 7% !important;
            width: 7%;
            overflow-wrap: break-word;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            overflow-y: auto;
            text-align: left;
        }
        .col-producto {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        tr th,
        tr td {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .gestion-alertas-table tr th {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        tr th:first-child,
        tr td:first-child {
            border-radius: 14px 0 0 14px;
            border-left: 1px solid rgba(0, 0, 0, 0.12);
            padding-left: 2.5rem;
        }
        tr th:last-child,
        tr td:last-child {
            border-radius: 0 14px 14px 0;
            border-right: 1px solid rgba(0, 0, 0, 0.12);
            padding-right: 2.5rem;
        }
    }
    
    .seccion-problemas-reportados {
         ::ng-deep mat-tab-header {
            background-color: #0099cc;
            padding: 0 50px;
            border-radius: 14px;
            .mat-tab-label-content {
                color: $color-blanco;
            }
            .mat-tab-label:focus {
                outline: unset;
            }
            .mat-tab-label:focus:not {
                outline: red;
                opacity: 0;
            }
        }
    }
    
     ::ng-deep .mat-tab-label.mat-tab-label-active {
        border-radius: 12px;
        border: solid 1px #f07e00;
        background-color: #f07e00;
    }
    
     ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #f07e00;
        display: none;
    }
    
    .btn-nuevo {
        margin: 10% 0 0 15%;
        color: $color-blanco;
        outline: unset;
        height: 32.2px;
        width: 115.5px;
        text-align: center;
        border: none;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        line-height: 1.06;
        transition: all 0.1s;
        &:hover {
            box-shadow: 1px 2px 3px 0px #464646;
        }
        background-color: $color-azul;
    }
    
    .divSinDatos {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 6% 0;
        background-color: #f2f2f2;
        text-align: center;
        margin-top: 20px;
        margin-bottom: auto;
        border-radius: 14px;
        min-height: 11rem;
        label {
            margin: auto;
            color: $color-naranja;
            font-family: OpenSans-Bold, sans-serif;
            font-size: 30px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: 0.3px;
            text-align: center;
        }
    }
    
    .botonFiltroOff {
        display: block;
        margin-top: 10px;
        width: 30px;
        min-width: 30px;
        height: 32px;
        padding: 0;
        border-radius: 11px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #0099cc;
        outline: none;
        .searchIcon {
            border: none;
            outline: none;
            width: 0.8750rem;
            height: 0.8750rem;
            margin-bottom: 0.4375rem;
        }
    }
    
    .botonOff {
        display: block;
        margin-top: 10px;
        width: 30px;
        min-width: 30px;
        height: 32px;
        background-color: unset;
        outline: none;
    }
    
    .toolbarFiltro {
        margin-left: -50px;
        border: unset;
        border-radius: 11px;
        padding: 0;
        /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);*/
        box-shadow: none;
        background-color: $color-azul;
        outline: none;
        .botonFiltro {
            display: block;
            margin-top: 10px;
            width: 30px;
            min-width: 30px;
            height: 32px;
            padding: 0;
            border-radius: 11px;
            box-shadow: none;
            background-color: $color-azul;
            outline: none;
            .searchIcon {
                border: none;
                outline: none;
                width: 0.8750rem;
                height: 0.8750rem;
                margin-bottom: 0.4375rem;
            }
        }
    }
    
    //***********************//
    /***********************/
    
    #searchbarInput::-webkit-input-placeholder {
        /* color: transparent; */
        text-indent: 1rem;
        background-position: 5% 50%;
        background-repeat: no-repeat;
        font-family: "Neris Light", Trebuchet MS, Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #c3c4c3;
    }
    
    #searchbarInput::-moz-placeholder {
        /* Firefox 19+ */
        /* color: transparent; */
        text-indent: 1rem;
        background-position: 5% 50%;
        background-repeat: no-repeat;
        font-family: "Neris Light", Trebuchet MS, Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #c3c4c3;
    }
    
    #searchbarInput:-moz-placeholder {
        /* Firefox 18- */
        /* color: transparent; */
        text-indent: 1rem;
        background-position: 5% 50%;
        background-repeat: no-repeat;
        font-family: "Neris Light", Trebuchet MS, Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #c3c4c3;
    }
    
    #searchbarInput:-ms-input-placeholder {
        /* IE 10- */
        /* color: transparent; */
        text-indent: 1rem;
        background-position: 5% 50%;
        background-repeat: no-repeat;
        font-family: "Neris Light", Trebuchet MS, Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #c3c4c3;
    }
    
    .searchbar {
        width: 100%;
        height: 36px;
        margin: auto auto auto 0rem;
        border-radius: 24px;
        border: solid 1px $color-azul;
        outline: none;
        text-indent: 1rem;
        background-color: white;
        font-size: 14px;
        font-family: OpenSans, sans-serif;
    }
    
    //***********************//
    /***********************/
    
    @media(max-width:600px) {
        button {
            font-size: 14px;
        }
    }