$color-azul: #004a9c;
.titulo {
    font-family: OpenSans-Bold, sans-serif;
    display: inline-block;
    width: 100%;
    max-width: 380px;
    text-align: left;
    border-bottom: 2px solid #f07e00;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #f07e00;
    margin-bottom: 50px;
}

.formulario {
    width: 100%;
    max-height: 500px;
    max-width: 0 auto;
}

.fila {
    padding: 18px 44px;
    &:nth-child(even) {
        background-color: #f1f1f1;
    }
    .item {
        font-family: OpenSans-Bold, sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        text-align: left;
        color: #000000;
    }
    .item+div {
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
        text-align: left;
        color: #000000;
    }
}


/* Reset Select */

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #e6e6e6 !important;
    background-image: none;
}

.form-campo {
    position: relative;
    width: 100%;
    max-width: 275px;
    height: 36px;
    .campo {
        font-family: Roboto, sans-serif;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border: solid 1px rgba(26, 26, 26, 0.25);
        background-color: #ffffff;
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #001737;
    }
    .box-icono {
        width: 36px;
        height: 36px;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 0px;
        text-align: center;
        background-color: $color-azul;
        pointer-events: none;
        .icono {
            margin: 6px;
        }
    }
}


/* Reset Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #e6e6e6 !important;
    background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
    display: none;
}

.box-select {
    position: relative;
    width: 275px;
    height: 36px;
    .select {
        position: relative;
        width: 100%;
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #001737;
        border-radius: 3px;
        border: solid 1px rgba(26, 26, 26, 0.25);
        background-color: #ffffff;
    }
    &:after {
        content: '\2228';
        position: absolute;
        width: 36px;
        height: 36px;
        color: #fff;
        background: $color-azul;
        right: 0;
        pointer-events: none;
        text-align: center;
        box-sizing: border-box;
        padding-top: 5px;
    }
}

.validacion {
    text-align: right;
    top: 0px;
    position: relative;
    width: 100%;
    max-width: 275px;
    .mensaje {
        color: #d8001d;
        position: relative;
        top: 0px;
        font-size: 12px;
    }
}

.botones {
    margin-top: 40px;
    .btn {
        width: 192px;
        height: 44.5px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .btn-guardar {
        font-family: Roboto, sans-serif;
        border: solid 2px #f07e00;
        background-color: #f07e00;
    }
    .btn-cancelar {
        font-family: Roboto, sans-serif;
        border: solid 2px #004a9c;
        background-color: #004a9c;
    }
}


/*
*Estilos filtro
*/

.box {
    position: relative;
    height: 36px;
    margin-right: 58px;
    .mat-form-field {
        position: relative;
        top: -12px;
        width: 242px !important;
    }
}

.icono-select {
    color: #fff;
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    text-align: center;
    line-height: 2;
    background: $color-azul;
    top: -8px;
    right: -58px;
    border-radius: 3px;
}

.mat-select-arrow {
    visibility: hidden!important;
}

.campo-buscar {
    height: 41px;
    box-sizing: border-box;
    padding: 0px 12px!important;
}

.ocultar {
    display: none;
}

.table-content {
    margin-top: 10px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f2f2f2;
    padding: 15px 23px;
    .fila-content {
        height: 35px;
        margin: 5px 0px;
        .item-content {
            font-family: OpenSans, sans-serif;
            text-align: left;
            width: 100%;
            font-size: 14px;
            .texto-largo {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 90%;
                display: inline-block;
            }
        }
    }
}

.modal-body {
    height: 90%;
    overflow-y: auto;
}

.flex {
    flex: 1 1 auto !important;
}

.scrollable {
    overflow: auto !important;
    box-sizing: border-box !important;
    position: absolute !important;
    right: 0 !important;
    height: 60% !important;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    height: 49px;
    background-color: #324050;
}


/* Track */

::-webkit-scrollbar-track {
    width: 6px;
    background-color: #324050;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}