<div fxLayout="row" fxLayoutAlign="end">
    <mat-icon mat-dialog-close>
        close
    </mat-icon>
</div>
<div fxLayout="column" fxLayoutAlign="center center" style="margin: 60px 0px;">
    <svg-icon key="caneca" class="icono-el" fxFlex="100"></svg-icon>
    <h1 class="titulo">{{textos.ingresar_alerta.eliminar_alerta.eliminar}}</h1>
    <p class="texto">{{textos.ingresar_alerta.eliminar_alerta.v_eliminar}} {{alerta.productName}}</p>
    <div fxLayout="row" style="width: 100%; margin-top: 5%;" fxLayoutAlign="space-around center" >
        <div fxFlex="20"></div>
        <button class="guardar" mat-button (click)="eliminarAlerta()">{{textos.generales.aceptar}}</button>
        <button class="cancelar" mat-button mat-dialog-close>{{textos.generales.cancelar}}</button>
        <div fxFlex="20"></div>
    </div>
</div>
