$color-azul: #254b9c;
$color-naranja: #eb7e25;
$color-blanco: #fff;
$color-gris: #e6e6e6;
.icono {
  color: $color-azul;
}

.enlace {
  margin: 0px 8px;
  font-size: 18px;
  a {
    text-decoration: none;
    color: $color-azul;
  }
}

.link-activo {
  font-weight: 600;
}

.box {
  position: relative;
  height: 36px;
  margin-right: 58px;
  mat-form-field {
    position: relative;
    top: -12px;
  }
}

.icono-select {
  color: #fff;
  position: absolute;
  width: 50px !important;
  height: 50px !important;
  text-align: center;
  line-height: 2;
  background: $color-azul;
  top: -8px;
  right: -61px;
  border-radius: 3px;
}

.mat-select-arrow {
  visibility: hidden !important;
}

.campo-buscar {
  height: 41px;
  box-sizing: border-box;
  padding: 0px 12px !important;
}

mat-pseudo-checkbox {
  display: none !important;
}

.option-selected {
  color: $color-naranja;
  border-bottom: 1px solid $color-naranja;
  .cantidad {
    background: $color-naranja;
    color: $color-blanco;
  }
}

.cantidad {
  background: #e6e6e6;
  box-sizing: border-box;
  position: absolute;
  right: 8px;
  top: 10px;
  border-radius: 18px;
  line-height: normal;
  width: 36px;
  height: 20px;
  text-align: center;
  box-shadow: 0px 2px 3px darkgrey;
}

.mat-pseudo-checkbox {
  display: none !important;
}

.ngx-pagination .current {
  background: $color-naranja !important;
}

button {
  color: $color-blanco;
  border: none;
  padding: 12px 36px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.1s;
  &:hover {
    box-shadow: 1px 2px 3px 0px #464646;
  }
}

.btn-noticias {
  background-color: $color-azul;
}

.current {
  background: $color-naranja !important;
  color: $color-blanco !important;
}

.custom-pagination {
  margin-top: 24px;
}

.pagination-previous,
.page-number,
.pagination-next {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid darkgrey;
  margin: 2px;
  border-radius: 3px;
  line-height: 2.6;
  color: #525261;
}

.flecha {
  position: relative;
  top: 6px;
}

.chips {
  position: relative;
  top: -16px;
}

.sin-boletines {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 40px 0px;
  background: $color-gris;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  label {
    margin: auto;
    color: $color-naranja;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: left;
    margin-left: 27px;
  }
}

.main-boletines {
  padding: 37px 118px 73px 65px;
  max-width: 1366px;
  margin: auto;
}

@media screen and (max-width: 599px) {
  .main-boletines {
    padding: 0px;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .main-boletines {
    padding: 0px;
  }
}
