<div class="main-gestion-boletines">
  <div fxLayout="row">
    <svg-icon key="flechaRetorno"></svg-icon>
    <span class="enlace">
      <a [routerLink]="['']">{{ textos.generales.inicio }}</a>
    </span>
    <mat-icon class="icono">
      keyboard_arrow_right
    </mat-icon>
    <span class="enlace">
      <a
        [routerLink]="['/gestionBoletines']"
        [routerLinkActive]="['link-activo']"
        >{{ textos.gestion_boletin.gestion }}</a
      >
    </span>
  </div>

  <br /><br />
  <div
    class="filtro"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="58px"
  >
    <span fxFlex="50" style="text-align: right;">{{
      textos.gestion_boletin.filtrarPor
    }}</span>

    <div class="box" fxFlex>
      <form [formGroup]="formFiltroBoletin">
        <mat-form-field appearance="outline">
          <mat-label>{{ textos.gestion_boletin.ano }}</mat-label>
          <mat-select
            formControlName="ano"
            #anos
            multiple
            (valueChange)="filtroAno.setValue('')"
          >
            <input
              class="campo-buscar"
              matInput
              [formControl]="filtroAno"
              placeholder="{{ textos.boletines.buscar }}"
              #buscarAno
              value=""
            />
            <mat-option
              #option
              [ngClass]="optionAno(ano, option)"
              *ngFor="let ano of filteredAno | async"
              [value]="ano"
            >
              {{ ano.ano }}
              <span class="cantidad">{{ ano.cantidad }}</span>
            </mat-option>
          </mat-select>
          <mat-icon class="icono-select">
            expand_more
          </mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="box" fxFlex>
      <form [formGroup]="formFiltroBoletin">
        <mat-form-field appearance="outline">
          <mat-label>{{ textos.gestion_boletin.mes }}</mat-label>
          <mat-select
            formControlName="mes"
            multiple
            (valueChange)="filtroMes.setValue('')"
          >
            <input
              class="campo-buscar"
              matInput
              [formControl]="filtroMes"
              placeholder="{{ textos.boletines.buscar }}"
              #buscarMes
              value=""
            />
            <mat-option
              #option
              [ngClass]="optionMes(mes, option)"
              *ngFor="let mes of filteredMeses | async"
              [value]="mes"
            >
              {{ textos.generales[getMes(mes.mes)] }}
              <span class="cantidad">{{ mes.cantidad }}</span>
            </mat-option>
          </mat-select>
          <mat-icon class="icono-select">
            expand_more
          </mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>
  <br />
  <div fxLayout="row" fxLayoutAlign="end">
    <mat-accordion fxFlex *ngIf="mostrarFiltro">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ textos.gestion_boletin.resumenFiltro }}
          </mat-panel-title>
          <mat-panel-description fxLayout="row" fxLayoutAlign="end">
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div fxFlex="45">
            <h4>{{ textos.gestion_boletin.ano }}:</h4>
            <mat-chip-list class="chips">
              <mat-chip
                *ngFor="let item of anoSeleted"
                [removable]="true"
                (removed)="removeAno(item)"
              >
                {{ item.ano }}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
          <div fxFlex="45">
            <h4>{{ textos.gestion_boletin.mes }}:</h4>
            <mat-chip-list class="chips">
              <mat-chip
                *ngFor="let item of mesSeleted"
                [removable]="true"
                (removed)="removeMes(item)"
              >
                {{ textos.generales[getMes(mes.mes)] }}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <button (click)="limpiarFiltro()" class="btn-noticias">
              {{ textos.gestion_boletin.limpiar }}
            </button>
          </div>
        </div>

        <p style="text-align: center;">
          {{ textos.gestion_boletin.boletinesEncontrados }}:
          <span>{{ totalRegistros }}</span>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div fxLayout="row" fxLayoutAlign="start none">
    <a class="nuevo-registro" (click)="abrirEditar()" fxFlex="20">
      <svg-icon key="masNuevo" class="iconoMas"></svg-icon>
      {{ textos.gestion_boletin.nuevoItem }}
    </a>
  </div>
  <div *ngIf="totalRegistros > 0">
    <div fxLayout="row wrap" fxLayoutAlign="space-around start">
      <app-boletin
        #card
        (mouseover)="card.over = true"
        (mouseleave)="card.over = false"
        fxFlex="40"
        [boletin]="item"
        *ngFor="let item of boletines | paginate: configPaginador"
      ></app-boletin>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <pagination-template
        #p="paginationApi"
        [id]="configPaginador.id"
        (pageChange)="pageChanged($event)"
      >
        <div class="custom-pagination" fxLayout="row">
          <div
            *ngIf="!p.isFirstPage()"
            class="pagination-previous"
            [class.disabled]="p.isFirstPage()"
            (click)="p.previous()"
          >
            <span>
              <mat-icon class="flecha">
                keyboard_arrow_left
              </mat-icon>
            </span>
          </div>
          <div
            class="page-number"
            (click)="p.setCurrent(page.value)"
            *ngFor="let page of p.pages"
            [class.current]="p.getCurrent() === page.value"
          >
            <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
            <div *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </div>
          </div>
          <div
            *ngIf="!p.isLastPage()"
            class="pagination-next"
            [class.disabled]="p.isLastPage()"
            (click)="p.next()"
          >
            <span>
              <mat-icon class="flecha">
                keyboard_arrow_right
              </mat-icon>
            </span>
          </div>
        </div>
      </pagination-template>
    </div>
  </div>
  <div *ngIf="totalRegistros < 1" class="sin-boletines">
    <label> {{ textos.gestion_boletin.boletinesNoEncontrados }}... </label>
  </div>
</div>
