<div fxLayout="row" fxLayoutAlign="end">
    <mat-icon mat-dialog-close>
        close
    </mat-icon>
</div>
<div fxLayout="column" fxLayoutAlign="center center" style="margin: 60px 0px;">
    <svg-icon key="caneca" class="icono-el" fxFlex="100"></svg-icon>
    <h1 class="titulo">{{textos.gestion_docu_publicos.dialog_eliminar.eliminar}}</h1>
    <p class="texto">{{textos.gestion_docu_publicos.dialog_eliminar.v_eliminar1}} {{documento.title}} {{textos.gestion_docu_publicos.dialog_eliminar.v_eliminar2}}</p>
    <div fxLayout="row" style="width: 100%; margin-top: 5%;" fxLayoutAlign="space-around center" >
        <div fxFlex="20"></div>
        <button class="guardar" mat-button (click)="eliminarDocumento()">{{textos.generales.aceptar}}</button>
        <button class="cancelar" mat-button mat-dialog-close>{{textos.generales.cancelar}}</button>
        <div fxFlex="20"></div>
    </div>
</div>
