$color-naranja: #eb7e25;
$color-blanco : #fff;
$color-azul: #004a9c;

.icono-el{
    transform: scale(3);
    height: 70px;
}
.titulo{
    font-family: OpenSans-Bold, sans-serif;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: $color-naranja;
}

.texto{
    font-family: OpenSans-Regular, sans-serif;
    font-size: 20px;
    line-height: 1.35;
}

.guardar{
    color: $color-blanco;
    border: solid 2px $color-naranja;
    background-color: $color-naranja;
    border-radius: 5px;
    width: 25%;
}

.cancelar{
    color: $color-blanco;
    border: solid 2px $color-azul;
    background-color: $color-azul;
    border-radius: 5px;
    width: 25%;
}