<mat-divider class="barra"></mat-divider>
<br>
<div fxLayout="row" class="comentario">
    <div fxFlex="50">
        <p class="calificacion">
            <svg-icon class="estrella" key="{{ comentario.qualification >= 1 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" key="{{ comentario.qualification >= 2 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" key="{{ comentario.qualification >= 3 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" key="{{ comentario.qualification >= 4 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>
            <svg-icon class="estrella" key="{{ comentario.qualification >= 5 ? 'estrellaActiva': 'estrellaInactiva'}}"></svg-icon>

            <span class="promedio">{{comentario.qualification}}</span>
        </p>
    </div>
    <div class="box-fecha" fxFlex="50">
        <p class="fecha-comentario">{{comentario.date | date : "dd MMM, yyyy"}}</p>
    </div>
</div>
<label class="txt-comentario">{{comentario.comment}}</label>

<br>