<div *ngIf="textos" class="autoridad-dialog-main">
    <div class="bandera" [ngStyle]="{'background-image' : image}">
        <div class="subcontenido" fxFlex="90">
            <div fxLayout="row" fxFlexAlign="space-between center">
                <h2 class="title-modal" fxFlex mat-dialog-title><img class="logo" [src]="logoPais" alt="aa"> {{title}}
                </h2>
            </div>
            <mat-dialog-content class="mat-typography">

                <div fxLayout="row" style="width: 100%; text-align: center;margin-bottom: 8px; margin-top: 8px;">
                    <strong fxFlex="100">{{autoridad.name}}</strong>
                </div>

                <div class="fila" fxLayout="row" *ngIf="autoridad.contact !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_contacto}}</div>
                    <div fxFlex="60">{{autoridad.contact}}</div>
                </div>

                <div class="fila" fxLayout="row" *ngIf="autoridad.address !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_direccion}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.address}}</div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" *ngIf="autoridad.state !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_estado}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.state}}</div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" *ngIf="autoridad.city !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_ciudad}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.city}}</div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" *ngIf="autoridad.fax !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_fax}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.fax}}</div>
                    </div>
                </div>
                <div class="fila" fxLayout="row">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_pais}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{title}}</div>
                    </div>
                </div>
                <div class="fila" fxLayout="row" *ngIf="autoridad.postalCode !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_codigo_postal}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.postalCode}}</div>
                    </div>
                </div>

                <div class="fila" fxLayout="row" *ngIf="autoridad.position !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_posicion}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.position}}</div>
                    </div>
                </div>

                <div class="fila" fxLayout="row" *ngIf="autoridad.phone !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_telefono}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.phone}}</div>
                    </div>
                </div>

                <div class="fila" fxLayout="row" *ngIf="autoridad.email !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_mail}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.email}}</div>
                    </div>
                </div>

                <div class="fila" fxLayout="row" *ngIf="autoridad.webSite !== null">
                    <div fxFlex="30" class="item">{{textos.autoridades.diag_autoridad.c_sitio_web}}</div>
                    <div fxFlex="60">
                        <div fxFlex="60" fxFlex.xs="95">{{autoridad.webSite}}</div>
                    </div>
                </div>
            </mat-dialog-content>
        </div>
        <div fxFlex fxLayout="row" fxFlex="10" fxLayoutAlign="center">
            <mat-icon mat-dialog-close>
                close
            </mat-icon>
        </div>
    </div>
</div>