$color-naranja: #eb7e25;
::ng-deep .mat-dialog-autoridad {
    max-width: unset;
    width: 70%;
}

.autoridad-dialog-main {
    .title-modal {
        color: $color-naranja;
        margin-left: 70px;
        border-bottom: 2px solid $color-naranja;
        font-size: 2em;
        padding-left: 50px;
        padding-bottom: 10px;
    }
    .mat-dialog-content {
        padding: 24px 96px;
        .fila {
            padding: 24px;
            &:nth-child(even) {
                background-color: #f1f1f1;
            }
        }
        div {
            .item {
                font-weight: 600;
            }
        }
    }
    .recurso {
        margin: 0px 8px;
    }
    .logo {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        transform: translate(-50px, -5px);
    }
    .bandera {
        padding: 6% 0% 6% 10%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .subcontenido {
        background-color: #fff;
        padding: 4%;
        border-radius: 15px;
    }
    /* width */
     ::-webkit-scrollbar {
        width: 6px;
        border-radius: 5px;
        padding-right: 60px;
        height: 49px;
        background-color: #324050;
    }
    .close-icon {
        transform: translate(90%, -190%);
    }
    /* Track */
     ::-webkit-scrollbar-track {
        width: 6px;
        padding-right: 60px;
        background-color: #324050;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        padding-right: 60px;
        background: #888;
    }
}

@media screen and (max-width:799px) {
     ::ng-deep .mat-dialog-autoridad {
        max-width: unset;
        width: 95%;
        height: 95%;
    }
    .autoridad-dialog-main {
        .title-modal {
            margin-top: 1rem;
            margin-left: 0px;
            font-size: 1.5em;
        }
        .mat-dialog-content {
            padding: 1rem;
            .fila {
                padding: 1rem;
                font-size: 0.875rem;
            }
        }
    }
}