$color-naranja: #eb7e25;
$color-azul: #004a9c;
$color-azul-link: #5597ba;
#editar-alertas {
    .title-modal {
        color: $color-naranja;
        font-family: OpenSans-Bold, sans-serif;
        margin-left: 70px;
        text-align: center;
        font-size: 30px;
    }
    .imagen {
        margin: 8px;
        float: left;
    }
    .fila {
        padding: 24px;
        &:nth-child(odd) {
            background-color: #f1f1f1;
        }
        .item {
            font-family: OpenSans-Bold, sans-serif;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 0.2px;
            text-align: left;
            color: #000000;
        }
        .item+div {
            font-family: OpenSans, sans-serif;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 0.2px;
            text-align: left;
            color: #000000;
        }
    }
    .txt-compartir {
        position: relative;
        top: -11px;
    }
    .ampliar-imagen {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        text-align: center;
        background-color: #00000099;
        z-index: 99999999999999;
        .cerrar {
            position: relative;
            color: #f1f1f1;
            cursor: pointer;
            right: 50px;
            top: 50px;
        }
        img {
            margin: auto;
        }
    }
    .item-acordeon {
        font-family: OpenSans, sans-serif;
        width: 332px;
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.25px;
        text-align: left;
        color: #324050;
        position: relative;
        span {
            .mat-icon {
                position: absolute;
                right: 8px;
                top: 10px;
            }
        }
    }
    .accordion-open {
        color: $color-naranja;
        border-bottom: 1px solid $color-naranja;
        span {
            .mat-icon {
                transform: rotate(180deg);
                transform-origin: 50% 50%
            }
        }
    }
    .box-compartir {
        width: 211.2px;
        height: 46.6px;
        border-radius: 23px;
        background-color: #f07e00;
        text-align: center;
        position: relative;
        margin-right: 75px;
        p {
            font-family: OpenSans-Bold, sans-serif;
            width: 100%;
            height: 20px;
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.34;
            letter-spacing: 0.15px;
            text-align: center;
            color: #ffffff;
            .icono-compartir {
                position: relative;
                font-size: 18px;
                top: 4px;
            }
        }
        div {
            border-radius: 50%;
            background: #fff;
            z-index: 9999;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
            .facebook,
            .twitter {
                position: absolute;
                width: 54px;
                height: 54px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
            }
            .facebook {
                background-image: url('/assets/img/facebook.png');
                left: 70px;
                background-size: 40px;
            }
            .twitter {
                background-image: url('/assets/img/twitter.png');
                left: 135px;
                background-size: 23px;
            }
        }
    }
    .mat-dialog-content {
        padding: 0 100px 60px;
    }
    /* width */
    mat-dialog-content.mat-dialog-content::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    mat-dialog-content.mat-dialog-content::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
    mat-dialog-content.mat-dialog-content::-webkit-scrollbar-thumb {
        width: 5px;
        height: 43px;
        opacity: 0.57;
        border-radius: 6px;
        background-color: #324050;
    }
    /* Handle on hover */
    mat-dialog-content.mat-dialog-content::-webkit-scrollbar-thumb:hover {
        background: #324050;
    }
    .mat-expansion-panel-content {
        transition: 1s;
    }
     ::ng-deep .mat-expansion-panel-content {
        /*visibility: visible !important;*/
        visibility: visible !important;
        /*height: 0% !important;*/
    }
     ::ng-deep.mat-form-field-infix {
        padding: 0px !important;
    }
    .form-campo-file {
        position: relative;
        width: 100%;
        max-width: 275px;
        height: 80px;
    }
    .container-profile {
        height: 90px;
        border-radius: 8px;
        border: dashed 1px #34353d;
        cursor: pointer;
    }
    .sub-azul {
        font-family: Roboto, sans-serif;
        color: $color-azul-link;
        text-decoration: underline;
        word-break: break-all;
        font-size: 14px;
    }
    .boton-date {
        transform: translate(0px, 5px);
        background-color: $color-azul;
        height: 50px;
        width: 50px;
        min-width: 50px;
    }
    .form-campo {
        position: relative;
        width: 95%;
        // height: 50px;
        .campo {
            font-family: Roboto, sans-serif;
            width: 100%;
            // height: 100%;
            height: 50px;
            border-radius: 3px;
            border: solid 1px rgba(26, 26, 26, 0.25);
            background-color: #ffffff;
            padding-left: 12px;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: left;
            color: #001737;
            padding-right: 60px;
        }
        .box-icono {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 0;
            top: 0;
            padding-top: 0px;
            text-align: center;
            background-color: $color-azul;
            pointer-events: none;
            .icono {
                margin: 6px;
                fill: white;
            }
        }
    }
    .campo-buscar {
        height: 41px;
        box-sizing: border-box;
        padding: 0px 12px!important;
    }
    .box {
        position: relative;
        height: 36px;
        margin-right: 58px;
        .mat-form-field {
            position: relative;
            top: -12px;
            width: 242px !important;
        }
    }
    .botones {
        margin-top: 40px;
        .btn {
            width: 192px;
            height: 44.5px;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.06;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
        .btn-guardar {
            font-family: Roboto, sans-serif;
            border: solid 2px #f07e00;
            background-color: #f07e00;
        }
        .btn-cancelar {
            font-family: Roboto, sans-serif;
            border: solid 2px #004a9c;
            background-color: #004a9c;
        }
    }
    .titulo {
        font-family: OpenSans-Bold, sans-serif;
        display: inline-block;
        width: 100%;
        margin-left: 100px;
        max-width: 380px;
        text-align: left;
        border-bottom: 2px solid #f07e00;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.3px;
        color: #f07e00;
        margin-bottom: 50px;
    }
    .box-imagen {
        width: 268px;
        height: 91px;
        border-radius: 8px;
        margin-left: 0px;
        border: 1px #34353d dotted;
        position: relative;
        text-align: center;
        .item-imagen {
            position: relative;
            top: 8px;
        }
    }
    .Rectangle-Copy {
        width: 90%;
        /* height: 10%; */
        /* opacity: 0.5; */
        border-radius: 3px;
        /* border: solid 1px rgba(26, 26, 26, 0.25); */
        .fechaPublic {
             ::ng-deep .mat-form-field-flex {
                height: 55px;
            }
        }
    }
    .icono-select {
        color: #fff;
        position: absolute;
        width: 45px!important;
        height: 45px!important;
        text-align: center;
        line-height: 1.5;
        background: $color-azul;
        top: -11px;
        right: -45px;
        border-radius: 3px;
        .icono {
            margin: 6px;
            fill: white;
        }
    }
    .icono-cam {
        width: 80px;
        height: 80px;
        fill: $color-azul;
    }
    .icono-select-dat {
        color: #fff;
        width: 36px!important;
        height: 36px!important;
        text-align: center;
        line-height: 1.5;
        background: $color-azul;
        top: -51px;
        right: -45px;
        border-radius: 3px;
    }
     ::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
        cursor: pointer;
        height: 50px;
    }
    .list {
        height: 45px;
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 70%;
    }
     ::ng-deep .mat-dialog-container {
        display: block;
        padding: 24px;
        border-radius: 4px;
        box-sizing: border-box;
        /* overflow: auto; */
        outline: 0;
        width: 100%;
        height: 100%;
        min-height: inherit;
        max-height: inherit;
    }
    .div-form-2 {
        width: 100%;
        height: 115px;
        padding-left: 100px;
    }
     ::ng-deep .mat-form-field-flex .ng-tns-c118-10 {
        height: 50px;
    }
     ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0px;
    }
    .error-list {
        margin-top: -50px;
    }
    .error-fecha {
        margin-top: -77px;
    }
    .error {
        margin-top: 0px;
    }
    .Rectngulo-3245 {
        width: 100%;
        height: 70px;
        border: none;
        outline: none;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        background-color: #f8f8f8;
    }
    .box-enlaces {
        position: relative;
        display: inline-block;
        padding-right: 0px;
        max-width: 419px;
        overflow: hidden;
        .enlace {
            text-decoration: underline;
            color: #4682ef;
            margin: 0;
            text-overflow: ellipsis;
            font-size: 12px;
        }
    }
}