<div class="eventos-main">
    <div class="container">
        <div class="row">
            <div class="col">
                <svg-icon key="flechaRetorno"></svg-icon>
                <span class="enlace">
                <a [routerLink]="['']">{{textos.generales.inicio}}</a>
            </span>
                <mat-icon class="icono">
                    keyboard_arrow_right
                </mat-icon>
                <span class="enlace">
                <a *ngIf="!administrar" [routerLink]="['/consultarDirectorios']" [routerLinkActive]="['link-activo']">{{textos.gestion_dir.consultar}}</a>
                <a *ngIf="administrar" [routerLink]="['/gestionDirectorios']" [routerLinkActive]="['link-activo']">{{textos.gestion_dir.titulo}}</a>
            </span>
            </div>
        </div>
    </div>
    <br>
    <div class="filtro" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="end center"
         fxLayoutGap="58px" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem">
        <span fxFlex="40" style="text-align: right;">{{textos.gestion_dir.filtrarPor}}</span>
        <div class="box" fxFlex>
            <form [formGroup]="formFiltroEventos">
                <mat-form-field appearance="outline">
                    <mat-label>{{textos.gestion_dir.pais}}</mat-label>
                    <mat-select formControlName="pais" (valueChange)="filtroPais.setValue('')" style="height: 1vh;">
                        <input class="campo-buscar" matInput [formControl]="filtroPais" placeholder="Buscar" #buscarPais value="">
                        <mat-option #option [ngClass]="optionPais({id:0}, option)"
                                    [ngClass]="{'ocultar': !mostrar(filtroPais.value, 'Todos los paises'),'option-selected' : option._getAriaSelected()}"
                                    [value]="{id:0}">
                            {{textos.gestion_dir.todosPaises}}
                        </mat-option>
                        <mat-option #option [ngClass]="optionPais(pais, option)" *ngFor="let pais of filteredPais | async"
                                    [value]="pais">
                            {{getDescripcionPais(pais)}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icono-select">
                        expand_more
                    </mat-icon>
                </mat-form-field>
            </form>
        </div>
        <div class="box" fxFlex>
            <form [formGroup]="formFiltroEventos">
                <mat-form-field appearance="outline">
                    <mat-label>{{textos.gestion_dir.categoria}}</mat-label>
                    <mat-select formControlName="estado" (valueChange)="bEstado.value = ''">
                        <input class="campo-buscar" [formControl]="buscarEstado" matInput placeholder="Buscar" #bEstado value="">
                        <mat-option #option [ngClass]="optionPais({id:0}, option)"
                                    [ngClass]="{'ocultar': !mostrar(bEstado.value, 'Todos'),'option-selected' : option._getAriaSelected()}"
                                    [value]="{id:0}">
                            {{textos.gestion_dir.todos}}
                        </mat-option>

                        <mat-option *ngFor="let item of categorias" #option [value]="item.id"
                                    [ngClass]="optionCategoria(item.id, option)"
                                    [ngClass]="{'ocultar': !mostrar(buscarEstado.value, item.description),'option-selected' : option._getAriaSelected()}">
                            {{item.description}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icono-select">
                        expand_more
                    </mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="container" *ngIf="administrar && consultar == false">
        <div class="row">
            <div class="col">
                <a class="agregar-item" (click)="openDialogNuevo()">
                    <span>
                        <img src="assets/img/agregar.JPG" alt=""/>
                    </span>
                    {{textos.gestion_dir.nuevoItem}}
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="registrosEncontrados > 0" class="seccion-ultimos-eventos">
        <div fxLayout="row">
            <div fxFlex class="eventos">
                <div class="container">
                    <div class="row">
                        <div class="div-evento col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let directorio of directorios | paginate: configGrupos">
                            <app-tarjetas-directorios (editar)="showEditar($event)" (eliminar)="showEliminar($event)" #card (mouseover)="card.administrar = administrar"
                                                      (mouseleave)="card.administrar = false" [directorio]="directorio" [consulta]="consultar"></app-tarjetas-directorios>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <div fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.xs="center">
                        <pagination-template #p="paginationApi" [id]="configGrupos.id" (pageChange)="pageChanged($event)">
                            <div class="custom-pagination" fxLayout="row">
                                <div *ngIf="!p.isFirstPage()" class="pagination-previous" [class.disabled]="p.isFirstPage()" (click)="p.previous()">
                                    <span>
                                <mat-icon class="flecha">
                                    keyboard_arrow_left
                                </mat-icon>
                                </span>
                                </div>
                                <div class="page-number" (click)="p.setCurrent(page.value)" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                    <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                                    <div *ngIf="p.getCurrent() === page.value">
                                        <span>{{ page.label }}</span>
                                    </div>
                                </div>
                                <div *ngIf="!p.isLastPage()" class="pagination-next" [class.disabled]="p.isLastPage()" (click)="p.next()">
                                    <span *ngIf="!p.isLastPage()" (click)="p.next()">
                                <mat-icon class="flecha">
                                    keyboard_arrow_right
                                </mat-icon>
                                </span>
                                </div>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="registrosEncontrados <= 0" class="sin-eventos">
        <label> {{textos.mensajes.MENSAJE_NO_DATA}}... </label>
    </div>
</div>
