$color-azul: #254b9c;
$color-naranja: #eb7e25;
$color-blanco: #fff;
.icono {
    color: $color-azul;
}

.enlace {
    margin: 0px 8px;
    font-size: 18px;
    a {
        text-decoration: none;
        color: $color-azul;
    }
}

.link-activo {
    font-weight: 600;
}

.icono-select {
    color: #fff;
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    text-align: center;
    line-height: 2;
    background: $color-azul;
    top: -8px;
    right: -61px;
    border-radius: 3px;
}

.icono-select-dat {
    color: #fff;
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    text-align: center;
    line-height: 2;
    background: $color-azul;
    top: -21px;
    right: -61px;
    border-radius: 3px;
}

.mat-select-arrow {
    visibility: hidden!important;
}

.campo-buscar {
    height: 41px;
    box-sizing: border-box;
    padding: 0px 12px!important;
}

.ocultar {
    display: none;
}

.mat-pseudo-checkbox {
    display: none!important;
}

.option-selected {
    color: $color-naranja!important;
    border-bottom: 1px solid $color-naranja;
    .cantidad {
        background: $color-naranja;
        color: $color-blanco;
    }
}

.cantidad {
    background: #e6e6e6;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    top: 10px;
    border-radius: 18px;
    line-height: normal;
    width: 36px;
    height: 20px;
    text-align: center;
    box-shadow: 0px 2px 3px darkgrey;
}

.ngx-pagination .current {
    background: $color-naranja!important;
}

.retorno {
    padding-left: 86px;
}

.detalle {
    width: 100%;
    max-width: 780px;
}

button {
    color: $color-blanco;
    border: none;
    padding: 12px 36px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.1s;
    &:hover {
        box-shadow: 1px 2px 3px 0px #464646;
    }
}

.btn-noticias {
    background-color: $color-azul;
}

.current {
    background: $color-naranja!important;
    color: $color-blanco!important;
}

.custom-pagination {
    margin-top: 24px;
}

.pagination-previous,
.page-number,
.pagination-next {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid darkgrey;
    margin: 2px;
    border-radius: 3px;
    line-height: 2.6;
    color: #525261
}

.flecha {
    position: relative;
    top: 6px;
}

.chips {
    position: relative;
    top: -16px
}

@font-face {
    font-family: OpenSans-Regular;
    src: local(OpenSans-Regular);
    src: url('../../../../../assets/fonts/OpenSans-Regular.eot');
    src: url('../../../../../assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../../../../../assets/fonts/OpenSans-Regular.woff2') format('woff2'), url('../../../../../assets/fonts/OpenSans-Regular.woff') format('woff'), url('../../../../../assets/fonts/OpenSans-Regular.ttf') format('truetype'), url('../../../../../assets/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: OpenSans-Bold;
    src: local(OpenSans-Bold);
    src: url('../../../../../assets/fonts/OpenSans-Bold.eot');
    src: url('../../../../../assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../../../../../assets/fonts/OpenSans-Bold.woff2') format('woff2'), url('../../../../../assets/fonts/OpenSans-Bold.woff') format('woff'), url('../../../../../assets/fonts/OpenSans-Bold.ttf') format('truetype'), url('../../../../../assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

$color-azul: #004a9c;
$color-blanco: #ffffff;
$color-naranja: #eb7e25;
.invalid-feedback1 {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 70%;
    color: #dc3545;
}

.modal-lg,
.modal-xl {
    max-width: 90%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.mar {
    padding-left: 20px;
    position: relative;
    width: 30%
}

tr:nth-child(even) {
    background-color: lightgrey;
}

.dialogC {
    position: relative !important;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

td {
    font-weight: bold;
    height: 70px;
    padding-right: 10px
}

h1 {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 30px;
    padding-left: 160px;
    padding-bottom: 20px;
    color: orange;
}

hr {
    width: 433px;
    padding: 1px;
    margin-left: 157px;
    background-color: orange;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    text-align: center;
}

.guardar {
    background-color: orange;
    margin-right: 10px;
    border: none;
    outline: none;
}

.cancelar {
    background-color: lightseagreen;
    border: none;
    outline: none;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
}

.Rectngulo-2768 {
    width: 780px;
    height: 82px;
    box-shadow: 1px 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.componentes-label {
    width: 50%;
    height: 54px;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    vertical-align: bottom;
    padding-left: 35px;
    padding-top: 25px;
}

.componentes-label-0 {
    width: 168px;
    height: 54px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    vertical-align: bottom;
    padding-left: 40px;
    padding-top: 25px;
}

.componentes-label-1 {
    width: 100%;
    height: 130px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    background-color: #f1f1f1;
    border-radius: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.componentes-label--1 {
    width: 100%;
    height: 80px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    background-color: #f1f1f1;
    border-radius: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.componentes-label-2 {
    width: 100%;
    height: 130px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.componentes-label-3 {
    width: 200px;
    height: 54px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    vertical-align: bottom;
    padding-left: 40px;
}

.Rectngulo-3245 {
    margin-top: 15px;
    width: 430px;
    height: 100px;
    border: none;
    outline: none;
    background-color: #f8f8f8;
}

.Guardar {
    width: 192px;
    height: 44.5px;
    background-color: #f07e00;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-right: 24px;
    margin-top: 10px;
    border: none;
    outline: none;
    margin-left: 200px;
}

.Cancelar {
    width: 192px;
    height: 44.5px;
    background-color: #004a9c;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    border: none;
    outline: none;
}

.Agregar-componente {
    width: 1000px;
    height: 41px;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: left;
    color: #f07e00;
}

.line {
    width: 16.7px;
    height: 16.7px;
    border: solid 2px #34353d;
}

.modal-body {
    width: 100%;
    /* overflow-y: auto;*/
    padding-bottom: 60px !important;
}

.div-form {
    width: 100%;
    height: 115px;
    /*   padding-left: 160px;
        padding-top: 5px;
        padding-bottom: 40px;
           */
    background-color: #f1f1f1;
    padding-left: 100px;
}

.div-form-2 {
    width: 100%;
    height: 115px;
    padding-left: 100px;
}

.flex {
    flex: 1 1 auto !important;
}

.scrollable {
    overflow: auto !important;
    box-sizing: border-box !important;
    position: absolute !important;
    right: 0 !important;
    height: 60% !important;
    margin-top: 20px;
}


/* width */

 ::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    height: 49px;
    background-color: #324050;
}


/* Track */

 ::-webkit-scrollbar-track {
    width: 6px;
    background-color: #324050;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}

.Trazado-3773 {
    border: none;
    outline: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: transparent!important;
}

.close {
    margin-left: -50px;
    border: none;
    outline: none;
}

.Rectngulo-3161 {
    padding: 10px;
    width: 465px;
    height: 100px;
    border-radius: 26px;
    background-color: #f8f8f8;
}


/*
*Estilos filtro
*/

.box {
    position: relative;
    height: 36px;
    margin-right: 58px;
    .mat-form-field {
        position: relative;
        top: -12px;
        width: 242px !important;
    }
}

.Rectangle-Copy {
    width: 274.5px;
    /* height: 10%; */
    /* opacity: 0.5; */
    border-radius: 3px;
    /* border: solid 1px rgba(26, 26, 26, 0.25); */
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 268px;
    height: 91px;
    border-radius: 8px;
    border: dashed 1px #34353d;
    display: inline-block;
    /*padding: 6px 12px; */
    cursor: pointer;
}

.iconoCargueFile .iconoEditar,
.iconoEliminar {
    outline: none;
    width: 74px !important;
    height: 74px !important;
}

.Grupo-7182 {
    width: 85px;
    height: 60px;
    object-fit: contain;
}

.Agrega-documento {
    width: 100%;
    height: 19px;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.14px;
    text-align: center;
    color: #34353d;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.All-Day {
    width: 450px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #5597ba;
}

.line-b {
    width: 4.2px;
    height: 4.2px;
    padding: 0 0px 0 0;
    border: solid 1px #ffffff;
}

.mat-nav-list .mat-list-item {
    height: 12px !important;
}

.Rectangle-data {
    padding-top: 10px;
}

.Trazado-10364 {
    width: 70px;
    height: 70px;
    padding: 13.9px 14px 14px 13.9px;
    background-color: #f07e00;
    border-radius: 34px;
}

.Esta-seguro-que-desea-eliminar-la-alerta-DR-LOOK-PALITO-LSER {
    width: 378px;
    height: 54px;
    margin: 19.2px 104px 8px 11.2px;
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.Eliminar-taller {
    width: 319px;
    height: 41px;
    margin: 12.8px 3px 19.2px 38px;
    font-family: OpenSans, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    text-align: left;
    color: #f07e00;
}

.capa-text {
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.capa-text2 {
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.capa-text3 {
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}