<div *ngIf="mCursos">
    <button class="close" (click)="onNoClick()">
    <mat-icon mat-dialog-close>
      close
    </mat-icon>
  </button>
    <br>
    <br>
    <div class="modal-body" *ngIf="editDelete">
        <h1 *ngIf="!editCreate" mat-dialog-title class="Agregar-componente">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.titulo_1}}</h1>
        <h1 *ngIf="editCreate" mat-dialog-title class="Agregar-componente">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.titulo_2}}</h1>
        <hr id="line" />
        <form>
            <div class="div-form-2">
                <div fxFlex="30" class="componentes-label">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.tipo}}</div>
                <div fxFlex="70">
                    <mat-form-field class="Rectangle-Copy" appearance="outline">
                        <mat-select placeholder="{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.evento}}" [(value)]="curso.type.id" class="Rectangle-Copy" required>
                            <mat-option [value]="evento.id" *ngFor="let evento of tipoEventos">
                                {{evento.description}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icono-select">
                            expand_more
                        </mat-icon>
                    </mat-form-field>
                    <mat-error style="width: 100%; " *ngIf="typeIsEmpty()">
                        {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.campo_obligatorio}}
                    </mat-error>
                </div>
            </div>
            <div class="div-form">
                <label fxFlex="30" class="componentes-label">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.titulo}}</label>
                <div fxFlex="70">
                    <textarea maxlength="800" class="Rectngulo-3161" [ngModelOptions]="{standalone: true}" [(ngModel)]="curso.name" matInput #tituloCurso maxlength="800" cols="50" rows="3" required></textarea>
                    <mat-error *ngIf="tituloCurso.value.trim()==='' ">
                        {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.campo_obligatorio}}
                    </mat-error>
                </div>
            </div>
            <div class="div-form-2">
                <div fxFlex="30" class="componentes-label">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.pais}}</div>
                <div fxFlex="70">
                    <mat-form-field class="Rectangle-Copy" appearance="outline">
                        <mat-select placeholder="{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.pais}}" class="Rectangle-Copy" [(value)]="curso.country.id" required>
                            <input class="Rectangle-Copy" matInput placeholder="{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.buscar}}">
                            <mat-option [value]="pais.id" *ngFor="let pais of paisesList">
                                {{pais.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icono-select">
                            expand_more
                        </mat-icon>
                    </mat-form-field>
                    <mat-error style="width: 100%; " *ngIf="countryIsEmpty()">
                        {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.campo_obligatorio}}
                    </mat-error>
                </div>
            </div>
            <div class="div-form ">
                <div fxFlex="30" class="componentes-label ">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.lugar}}</div>
                <div fxFlex="70">
                    <mat-form-field class="Rectangle-Copy" appearance="outline">
                        <input class="Rectangle-Copy" [ngModelOptions]="{standalone: true}" [(ngModel)]="curso.place" matInput placeholder="{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.lugar}}">
                        <mat-icon class="icono-select">
                            room
                        </mat-icon>
                    </mat-form-field>
                    <mat-error style="width: 100%; " *ngIf="placeIsEmpty()">
                        {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.campo_obligatorio}}
                    </mat-error>
                </div>
            </div>
            <div class="div-form-2 ">
                <div fxFlex="30" class="componentes-label ">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.fecha}}</div>
                <div fxFlex="70">
                    <div class="Rectangle-Copy">
                        <mat-form-field appearance="outline">
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="curso.startDate" matInput [matDatepicker]="startDate" placeholder="{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.fecha}}" disabled>
                            <mat-datepicker-toggle matSuffix [for]="startDate">
                                <mat-icon matDatepickerToggleIcon class="icono-select-dat">date_range</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #startDate disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <mat-error style="width: 100%; " *ngIf="fechaIniEsMayor()">
                        {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.aviso}}
                    </mat-error>
                </div>
            </div>
            <div class="div-form ">
                <div fxFlex="30" class="componentes-label ">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.fecha_fin}}</div>
                <div fxFlex="70">
                    <div class="Rectangle-Copy">
                        <mat-form-field appearance="outline">
                            <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="curso.endDate" [matDatepicker]="endDate" placeholder="{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.fecha_fin}}" disabled>
                            <mat-datepicker-toggle matSuffix [for]="endDate">
                                <mat-icon matDatepickerToggleIcon class="icono-select-dat">date_range</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #endDate disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <mat-error style="width: 100%; " *ngIf="fechaIniEsMayor()">
                        {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.aviso_2}}
                    </mat-error>
                </div>
            </div>
            <div style="padding-left: 100px;" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" class="componentes-label ">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.enlaces}}</div>
                    <div fxFlex="70">
                        <mat-form-field appearance="outline" class="Rectangle-Copy">
                            <input class="Rectangle-Copy" [ngModelOptions]="{standalone: true}" [(ngModel)]="enlaces" (change)="agregarEnlace(enlaces)" matInput placeholder="{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.enlaces}}">
                            <mat-icon class="icono-select">
                                Enlace
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="enlacesList.length > 0" fxLayout="row" style="margin: 15px 0;">
                    <div fxFlex="30"></div>
                    <div fxFlex="70" fxLayout="row wrap" style="width: 100%;">
                        <div fxFlex="80" *ngFor="let item of enlacesList" style="
                display: flex;
                position: relative;
                width: 100%;
                height: 36px;
                border-radius: 18px;
                background: #bcbcbc;
                margin-top: 10px;">
                            <p style="
                    margin: 0;
                    font-family: Roboto, sans-serif;
                    color: #ffffff;
                    align-self: center;
                    padding-left: 20px;">{{item.nombreRecurso}}</p>

                            <div (click)="quitarRecurso(item.nombreRecurso, 'enlaces')" style="
                        display: flex;
                        cursor: pointer;
                        justify-content: center;
                        border-radius: 10px;
                        height: 20px;
                        background-color: #696b6e;
                        position: absolute;
                        top: -5px;
                        right: 10px;
                        width: 20px;">
                                <mat-icon style="
                            font-size: 16px;
                            height: 16px;
                            width: 16px;
                            align-self: center;
                            color: #ffffff;">
                                    close
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left: 100px; background-color: #f1f1f1;" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column">
                    <p fxFlex="30" class="componentes-label">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.Documentos}}</p>
                    <div fxFlex="70" class="container-profile">
                        <label for="file-upload-1" class="custom-file-upload">
              <label class="Agrega-documento">
                <mat-icon class="iconoCargueFile Grupo-7182" svgIcon="iconoCargueFile"></mat-icon>
              </label>
                        <label style="margin-top: 25px !important;" class="Agrega-documento">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.aviso_3}}</label>
                        </label>
                        <input id="file-upload-1" type="file" (change)="handleFileInput($event, 'documentos')" />
                    </div>
                </div>
                <div *ngIf="documentosCargados.length > 0" fxLayout="row" style="margin: 15px 0;">
                    <div fxFlex="30"></div>
                    <div fxFlex="70" fxLayout="row wrap" style="width: 100%;">
                        <div *ngFor="let documento of documentosCargados" fxFlex="80" style="
                                display: flex;
                                position: relative;
                                width: 100%;
                                height: 36px;
                                border-radius: 18px;
                                background: #bcbcbc;
                                margin-top: 10px;">
                            <p style="
                                    margin: 0;
                                    font-family: Roboto, sans-serif;
                                    color: #ffffff;
                                    align-self: center;
                                    padding-left: 20px;">{{ obtenerNombreEnlace(documento.nombreRecurso)}}</p>
                            <div (click)="quitarRecurso(documento.nombreRecurso, 'documentos')" style="
                                    display: flex;
                                    cursor: pointer;
                                    justify-content: center;
                                    border-radius: 10px;
                                    height: 20px;
                                    background-color: #696b6e;
                                    position: absolute;
                                    top: -5px;
                                    right: 10px;
                                    width: 20px;">
                                <mat-icon style="
                                        font-size: 16px;
                                        height: 16px;
                                        width: 16px;
                                        align-self: center;
                                        color: #ffffff;">
                                    close
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left: 100px;" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column">
                    <p fxFlex="30" class="componentes-label ">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.galeria}}</p>

                    <div fxFlex="70" class="container-profile ">
                        <label for="file-upload-2" class="custom-file-upload">
              <label class="Agrega-documento">
                <mat-icon class="iconoCargueFile Grupo-7182" svgIcon="iconoCamara"></mat-icon>
              </label>

                        <label style="margin-top: 25px !important;" class="Agrega-documento">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.agregar_fotos}}</label>
                        </label>
                        <input id="file-upload-2" type="file" (change)="handleFileInput($event, 'imagenes')" />
                    </div>
                </div>
                <div *ngIf="imagenesCargadas.length > 0" fxLayout="row" style="margin: 15px 0;">
                    <div fxFlex="30"></div>

                    <div fxFlex="70" fxLayout="row wrap" style="width: 100%;">
                        <div *ngFor="let imagen of imagenesCargadas" fxFlex="80" style="
                                display: flex;
                                position: relative;
                                width: 100%;
                                height: 36px;
                                border-radius: 18px;
                                background: #bcbcbc;
                                margin-top: 10px;">
                            <p style="
                                    margin: 0;
                                    font-family: Roboto, sans-serif;
                                    color: #ffffff;
                                    align-self: center;
                                    padding-left: 20px;">{{obtenerNombreEnlace(imagen.nombreRecurso)}}</p>

                            <div (click)="quitarRecurso(imagen.nombreRecurso, 'imagenes')" style="
                                    display: flex;
                                    cursor: pointer;
                                    justify-content: center;
                                    border-radius: 10px;
                                    height: 20px;
                                    background-color: #696b6e;
                                    position: absolute;
                                    top: -5px;
                                    right: 10px;
                                    width: 20px;">
                                <mat-icon style="
                                        font-size: 16px;
                                        height: 16px;
                                        width: 16px;
                                        align-self: center;
                                        color: #ffffff;">
                                    close
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left: 100px; background-color: #f1f1f1;" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column">
                    <p fxFlex="30" class="componentes-label">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.videos}}</p>
                    <div fxFlex="70" class="container-profile">
                        <label for="file-upload-3" class="custom-file-upload">
              <label class="Agrega-documento">
                <mat-icon class="iconoCargueFile Grupo-7182" svgIcon="iconoCamaraVideo"></mat-icon>
              </label>

                        <label style="margin-top: 25px !important;" class="Agrega-documento">{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.agregar_videos}}</label>
                        </label>

                        <input id="file-upload-3" type="file" (change)="handleFileInput($event, 'videos')" />
                    </div>
                </div>
                <div *ngIf="videosCargados.length > 0" fxLayout="row" style="margin: 15px 0;">
                    <div fxFlex="30"></div>

                    <div fxFlex="70" fxLayout="row wrap" style="width: 100%;">
                        <div *ngFor="let video of videosCargados" fxFlex="80" style="
                                display: flex;
                                position: relative;
                                width: 100%;
                                height: 36px;
                                border-radius: 18px;
                                background: #bcbcbc;
                                margin-top: 10px;">
                            <p style="
                                    margin: 0;
                                    font-family: Roboto, sans-serif;
                                    color: #ffffff;
                                    align-self: center;
                                    padding-left: 20px;">{{obtenerNombreEnlace(video.nombreRecurso)}}</p>

                            <div (click)="quitarRecurso(video.nombreRecurso, 'videos')" style="
                                    display: flex;
                                    cursor: pointer;
                                    justify-content: center;
                                    border-radius: 10px;
                                    height: 20px;
                                    background-color: #696b6e;
                                    position: absolute;
                                    top: -5px;
                                    right: 10px;
                                    width: 20px;">
                                <mat-icon style="
                                        font-size: 16px;
                                        height: 16px;
                                        width: 16px;
                                        align-self: center;
                                        color: #ffffff;">
                                    close
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-form-2 ">
                <mat-error style="width: 100%;    margin-left: 304px; " *ngIf="nameIsEmpty() || placeIsEmpty() || typeIsEmpty() || countryIsEmpty() || fechaIniEsMayor()">
                    {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.aviso_4}}
                </mat-error>
                <button class="Guardar" (click)="guardarCursoTaller()" type="button " [disabled]="nameIsEmpty() || placeIsEmpty() || typeIsEmpty() || countryIsEmpty() || fechaIniEsMayor()" variant="contained " mat-button>{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.guardar}}</button>
                <button class="Cancelar" (click)="onNoClick()" type="button " variant="contained " mat-button>{{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.cancelar}}</button>
            </div>
        </form>
    </div>
    <div class="modal-body" *ngIf="!editDelete">
        <form>
            <div class="capa-text">
                <mat-icon class="Trazado-10364" svgIcon="iconoEliminar"></mat-icon>
            </div>
            <div class="capa-text2">
                <label class="Eliminar-taller"> {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.eliminar}} </label>
            </div>

            <div class="capa-text3">
                <label class=".Esta-seguro-que-desea-eliminar-la-alerta-DR-LOOK-PALITO-LSER"> {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.aviso_5}} {{curso.name}} </label>
            </div>

            <div class="div-form-2 ">
                <button class="Guardar" (click)="borrarCursoTaller()" type="button " variant="contained " mat-button> {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.aceptar}} </button>
                <button class="Cancelar" (click)="onNoClick()" type="button " variant="contained " mat-button> {{mCursos.cursos_talleres.tarjeta_curso.modal_gestion_cursos.cancelar}} </button>
            </div>
        </form>
    </div>
</div>