<div *ngIf="recuperarInfo">
    <div class="contenedor-login" fxLayout="column">
        <h1>{{recuperarInfo.login.recuperar_contrasena.recuperarCont}} <br> {{recuperarInfo.login.recuperar_contrasena.t_primero}} </h1>
        <form [formGroup]="formularioLogin" class="formularioLogin" autocomplete="off">
            <div class="form-group">
                <div>
                    <div class="row margen-dato">
                        <label for="correo" class="labelLogin" [ngClass]="{'labelLoginInvalid': (correo.invalid && correo.dirty) || (correo.invalid && correo.touched) || (correo.invalid && submit)}">
                        {{recuperarInfo.login.recuperar_contrasena.correoElectronico}}</label>
                        <div class="input-group">
                            <input type="email" class="form-control inputLogin" id="correo" aria-describedby="emailHelp" placeholder="{{recuperarInfo.login.recuperar_contrasena.correoElectronico}}" name="correo" formControlName="correo" [ngClass]="{'inputInvalid': (correo.invalid && correo.dirty) || (correo.invalid && correo.touched) || (correo.invalid && submit)}"
                                (keyup.enter)="ingresar()" (blur)="consultarCorreo()">
                            <div class="input-group-append">
                                <div class="iconoInput" [ngClass]="{'iconoInputInvalid': (correo.invalid && correo.dirty) || (correo.invalid && correo.touched) || (correo.invalid && submit)}">
                                    <svg-icon class="iconoUsuario" key="correo"></svg-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Validaciones campo correo electrónico -->
                    <div class="container-error-message text-danger " *ngIf="(correo.invalid && correo.dirty) || (correo.invalid && correo.touched) || (correo.invalid && submit)">
                        <label class="label-error-login content-login font-weight-bold"> {{recuperarInfo.login.recuperar_contrasena.correo_v}} 
                    </label>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" style="margin: 15% 0px">
                    <re-captcha formControlName="recaptcha" [siteKey]="publicRecaptchaKey" required></re-captcha>
                </div>
                <div class="divBotonIngresar mt-2 margen-dato">
                    <button type="button" [disabled]="formularioLogin.invalid" class="btn botonIngresar" (click)="ingresar()">{{recuperarInfo.login.recuperar_contrasena.aceptar}}</button>
                </div>
            </div>
        </form>
    </div>
</div>