$color-naranja: #f07e00;
$color-azul: #004a9c;
$color-rojo: #d8001d;
$color-blanco: #ffffff;
$color-gris: #c5c5c5;
$color-gris-claro:  rgb(245,245,245,0.8);
$color-plomo: #3e3e3e;
$color-gris-boton: #949494;

.contenedor-login {
    width: 527px;
    height: 533px;
    border-radius: 48px;
    background-color: $color-gris-claro;
    position: relative;
    margin: 89px auto 42px auto;
    padding: 37px 71px 42px 80px;
    h1 {
        width: 100%;
        height: 76px;
        font-family: OpenSans-Regular, sans-serif;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.17;
        letter-spacing: 0.3px;
        text-align: center;
        color: $color-naranja;
    }
    .formularioLogin {
        .row {
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }
}

.label-error-login {
    position: absolute;
    width: 70%;
    height: 1%;
    text-align: right;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    margin: 4px 0;
}

.labelLogin {
    font-family: OpenSans-Regular, sans-serif;
    margin-top: 25px;
    margin-bottom: 1%;
    height: 19px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.14px;
    text-align: left;
    color: #3e3e3e;
}

.labelLoginInvalid {
    color: $color-rojo;
    font-weight: bold;
}

.iconoInput {
    width: 56px;
    height: 50px;
    padding: 25%;
    border-radius: 4px;
    background-color: $color-azul;
    border: solid 1px $color-azul;
}

.iconoInputInvalid {
    background-color: $color-rojo;
    border: solid 1px $color-rojo;
}

.inputInvalid {
    background-color: $color-blanco;
    border: solid 1px $color-rojo;
}

.inputFieldInvalid {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: none;
    border-radius: 4px;
    border: solid 1px $color-rojo;
}

input:-webkit-autofill.inputInvalid {
    animation-delay: 1s;
    /* Safari support - any positive time runs instantly */
    animation-name: autofill;
    animation-fill-mode: both;
}

.botonIngresar {
    width: 192px;
    height: 44.5px;
    background-color: $color-naranja;
    border-radius: 9px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: $color-blanco;
}

.divBotonIngresar {
    text-align: center;
}

.inputLogin {
    height: 50px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: solid 1px $color-gris;
    background-color: $color-blanco;
}

.iconoUsuario {
    width: 100%;
    height: 100%;
}

.btn:disabled {
    background-color: $color-gris-boton;
    opacity: 1;
}