<div *ngIf="textos" class="rcss-main">
    <div fxLayout="row" fxLayoutAlign="center">
        <form class="formulario" [formGroup]="formRegistro">
            <h1 class="titulo">{{titulo}}</h1>

            <div *ngIf="atlasPlantillas">

                <div class="fila" fxLayout="row" *ngIf="readOnly">
                    <div fxLayout="column" fxFlex fxLayout.xs="column" fxLayoutAlign="start start">
                        <p>{{textos.atlas.intro}}</p>
                    </div>
                </div>

                <div class="fila" fxLayout="row" fxLayoutAlign=" center">

                    <div fxFlex="10" class="item">{{textos.generales.f_pais}}:</div>
                    <div fxFlex="40">
                        <mat-form-field appearance="outline">
                            <mat-select [disabled]="!readOnly" formControlName="pais1" (selectionChange)="cambioPais1()">
                                <input class="campo-buscar" matInput placeholder="{{textos.admin_usuarios.buscar}}">
                                <mat-option disabled [value]="''" style="color: #001737 !important;">
                                    {{textos.eventos.dialog_nuevo_evento.seleccionePais}}
                                </mat-option>
                                <mat-option [value]="item.id" *ngFor="let item of paises">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="icono-select">
                                expand_more
                            </mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxFlex="10" class="item" *ngIf="idPais2 !== -1 && readOnly">{{textos.generales.f_pais}} 2:</div>
                    <div fxFlex *ngIf="idPais2 !== -1 && readOnly">

                        <mat-form-field appearance="outline">
                            <mat-select formControlName="pais2" (selectionChange)="cambioPais2()">
                                <input class="campo-buscar" matInput placeholder="{{textos.admin_usuarios.buscar}}">
                                <mat-option disabled [value]="''" style="color: #001737 !important;">
                                    {{textos.eventos.dialog_nuevo_evento.seleccionePais}}
                                </mat-option>
                                <mat-option [value]="item.id" *ngFor="let item of paises">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="icono-select">
                                expand_more
                            </mat-icon>
                        </mat-form-field>

                    </div>

                </div>

                <div class="fila" fxLayout="row" *ngFor="let t of atlasPlantillas; let i = index;" fxLayoutGap="60px">
                    <div fxLayout="column" fxFlex fxLayout.xs="column" fxLayoutAlign="start start">
                        <div class="item">{{t.codigo}} - {{getLabelTemplateLang(t.subdominio.id)}}</div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" *ngIf="t.tieneContenido" style="width: 100% !important; margin-top: 15px;">
                            <div class="form-textarea" *ngIf="pais1.value">
                                <textarea *ngIf="!readOnly" class="textarea" [formControl]="controles.controls[i]" [readOnly]="readOnly" [disabled]="readOnly"></textarea>
                                <div *ngIf="readOnly" class="textarea" [innerHTML]="controles.controls[i].value" style="overflow: scroll"></div>
                            </div>
                            <div class="dMensaje" *ngIf="controles.controls[i].invalid && (controles.controls[i].touched || submit) && !readOnly">
                                <span class="mensaje">{{textos.generales.campo_obligatorio}}</span>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlex fxLayout.xs="column" fxLayoutAlign="start start" *ngIf="idPais2 !== -1 && readOnly">
                        <div class="item" *ngIf="t.tieneContenido" style="height: 17px"></div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" *ngIf="t.tieneContenido" style="width: 100% !important; margin-top: 15px;">
                            <div class="form-textarea" *ngIf="pais2.value">
                                <textarea *ngIf="!readOnly" class="textarea" [formControl]="controlesPais2.controls[i]" [readOnly]="readOnly" [disabled]="readOnly"></textarea>
                                <div *ngIf="readOnly" class="textarea" [innerHTML]="controlesPais2.controls[i].value" style="overflow: scroll"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="botones" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px" style="margin: 5px 0 20px 0;">
                <button class="btn btn-guardar" (click)="guardar()" [disabled]="!formRegistro.valid" *ngIf="!readOnly && idPais2 === -1">{{textos.generales.guardar}}</button>
                <button class="btn btn-cancelar" *ngIf="!readOnly && idPais2 === -1" [routerLink]="['/gestionAtlas']">{{textos.generales.cancelar}}</button>
            </div>
        </form>
    </div>

</div>
