$color-azul: #004a9c;
$color-blanco: #fff;
$color-rojo: #d8001d;

.icono{
  color: $color-azul;
}
.enlace{
  font-family: OpenSans-Bold, sans-serif;
  margin: 0px 8px;
  font-size: 18px;
  a{
    text-decoration: none;
    color: $color-azul;
  }
}

.link-activo{
  font-weight: 600;
}

.boton{
  font-family: Roboto, sans-serif;
  width: 206.6px;
  height: 44.5px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
}

.titulo {
  font-family: OpenSans-Bold, sans-serif;
  display: inline-block;
  width: 100%;
  /*max-width: 380px;*/
  text-align: left;
  border-bottom: 2px solid #f07e00;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.3px;
  color: #f07e00;
}

.formulario {
  width: 100%;
  /*max-width: 780px;*/
  max-width: 0 auto;
}

.enlaces {
  position: relative;
  display: initial;
  .box-enlaces {
    position: relative;
    display: inline-block;
    padding-right: 0px;
    max-width: 419px;
    overflow: hidden;
    .enlace {
      text-decoration: underline;
      color: #4682ef;
      margin: 0;
      text-overflow: ellipsis;
      font-size: 12px;
    }
  }
  .ico-borrar {
    position: absolute;
    right: -25px;
    top: -4px;
    font-size: 10px;
    color: #4682f0;
    cursor: pointer;
  }
}

.fila {
  padding: 18px 44px;
  &:nth-child(even) {
    background-color: #f1f1f1;
  }
  .item {
    font-family: OpenSans-Bold, sans-serif;
    /*font-size: 20px;*/
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
  }
  .item+div {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
  }
}


/* Reset Select */

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #e6e6e6;
  background-image: none;
}

.form-textarea {
  position: relative;
  width: 100%;
  /*max-width: 465px;*/
  height: 300px;
  .textarea {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    outline: none;
    background-color: #f8f8f8;
    resize: none;
    padding: 12px 24px;
    border: none;
  }
  .icon-cerrar {
    position: absolute;
    right: -4px;
    top: -6px;
    width: 22px;
    height: 22px;
    background-color: #696b6e;
    border-radius: 50%;
    .cerrar {
      font-size: 15px;
      position: relative;
      top: 4px;
      left: 4px;
      color: #efefef;
      cursor: pointer;
    }
  }
}

.form-campo {
  position: relative;
  width: 100%;
  min-height: 36px;
  .campo {
    font-family: Roboto, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: solid 1px rgba(26, 26, 26, 0.25);
    background-color: #ffffff;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #001737;
  }
  .box-icono {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0px;
    text-align: center;
    background-color: $color-azul;
    pointer-events: none;
    .icono {
      margin: 0 auto;
      color: #fff;
    }
    .icono-link {
      position: relative;
      top: 5px;
    }
  }
}


/* Reset Select */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #e6e6e6 !important;
  background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
  display: none;
}

.box-select {
  position: relative;
  width: 275px;
  height: 36px;
  .select {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #001737;
    border-radius: 3px;
    border: solid 1px rgba(26, 26, 26, 0.25);
    background-color: #ffffff;
  }
  &:after {
    content: '\2228';
    position: absolute;
    width: 36px;
    height: 36px;
    color: #fff;
    background: $color-azul;
    right: 0;
    pointer-events: none;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
  }
}

.chip {
  position: relative;
  right: 9px;
  background-color: #fff;
  opacity: 1 !important;
  text-decoration: underline;
  color: #4682ef;
  max-width: 400px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .ico-borrar {
    position: absolute;
    right: 4px;
    background-color: #e0e0e0;
    opacity: 1 !important;
    color: #929292 !important;
    border-radius: 50%;
  }
}

.ayuda {
  font-size: 9px;
  margin-left: 34px;
  text-align: center;
  width: 100%;
}

.ico-borrar-imagen {
  position: absolute;
  right: -8px;
  top: 3px;
  font-size: 13px;
  color: #d8d8d8;
  cursor: pointer;
}

.validacion-textarea {
  max-width: 465px!important;
}

.validacion-select {
  margin-top: 10px;
}


.mensaje {
  color: #d8001d;
  position: relative;
  top: 0px;
  font-size: 12px;
}


.botones {
  margin-top: 0px;
  .btn {
    width: 192px;
    height: 44.5px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .btn-guardar {
    font-family: Roboto, sans-serif;
    border: solid 2px #f07e00;
    background-color: #f07e00;
  }
  .btn-cancelar {
    font-family: Roboto, sans-serif;
    border: solid 2px #004a9c;
    background-color: #004a9c;
  }
}


/*
*Estilos filtro
*/

.box {
  position: relative;
  height: 36px;
  margin-right: 50px;
  .mat-form-field {
    position: relative;
    top: -12px;
    width: 100% !important;
  }
}

.icono-calendario {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(276deg) brightness(250%) contrast(100%)
}

.icono-select {
  color: #fff;
  position: absolute;
  width: 50px!important;
  height: 50px!important;
  text-align: center;
  line-height: 2;
  background: $color-azul;
  top: -8px;
  right: -58px;
  border-radius: 3px;
}

.mat-select-arrow {
  visibility: hidden!important;
}

.campo-buscar {
  height: 41px;
  box-sizing: border-box;
  padding: 0px 12px!important;
}

.ocultar {
  display: none;
}

.textarea {
  width: 100%;
  border: 1px solid $color-azul !important;
  /*max-width: 465px;*/
}

.box-imagen {
  width: 268px;
  height: 91px;
  border-radius: 8px;
  margin-left: 34px;
  border: 1px #34353d dotted;
  position: relative;
  text-align: center;
  .item-imagen {
    position: relative;
    top: 8px;
  }
}


/*********************/

.seccion-fechas {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  /* border: solid 1px rgba(26, 26, 26, 0.25); */
  background-color: #ffffff;
  width: 100%;
  ::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
  input {
    text-align: center;
    border: none;
    color: #000000;
  }
}

.boton-date {
  transform: translate(0px, 1px);
  background-color: $color-azul;
  height: 50px;
}

.inputInvalid {
  background-color: $color-blanco !important;
  border: solid 1px $color-rojo !important;
}

input:-webkit-autofill.inputInvalid {
  animation-delay: 1s;
  animation-name: autofill;
  animation-fill-mode: both;
}

/* width */
mat-dialog-content.mat-dialog-content::-webkit-scrollbar {
  width: 5px;
}
/* Track */
mat-dialog-content.mat-dialog-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
mat-dialog-content.mat-dialog-content::-webkit-scrollbar-thumb {
  width: 5px;
  height: 43px;
  opacity: 0.57;
  border-radius: 6px;
  background-color: #324050;
}
/* Handle on hover */
mat-dialog-content.mat-dialog-content::-webkit-scrollbar-thumb:hover {
  background: #324050;
}

.mat-dialog-content{
  margin: 0 24px;
}
