<div *ngIf="textos">
    <div style="position: relative; margin-left: 50px;">
        <div fxLayout="row" style="margin-top: 37px;" >
            <svg-icon key="flechaRetorno"></svg-icon>
            <span class="enlace" style="font-family: OpenSans, sans-serif;">
                <a [routerLink]="['']">{{textos.generales.inicio}}</a>
            </span>
            <mat-icon class="icono">
                keyboard_arrow_right
            </mat-icon>
            <span class="enlace">
                <a [routerLink]="['/ingresarPlantillaAtlas']" [routerLinkActive]="['link_activo']">{{textos.cabecera.ingresar_plantilla_atlas}}</a>
            </span>
        </div>
        <br>
        <app-listar-plantillas></app-listar-plantillas>
        <br>
    </div>
</div>

