$color-azul: #004a9c;
$color-gris: #e6e6e6;
$color-naranja: #f07e00;
$color-blanco: #fff;

#noticias {
  #miga-de-pan {
    margin-top: 42px;
    margin-left: 55px;
  }

  .contenedor {
    max-width: 1250px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .icono {
    color: $color-azul;
  }

  .enlace {
    margin: 0 8px;
    font-size: 18px;

    a {
      text-decoration: none;
      color: $color-azul;
    }

    .actual {
      font-family: OpenSans, sans-serif;
      font-weight: bold;
    }
  }

  .link-activo {
    font-weight: 600;
  }

  .seccion-ultimas-noticias {
    position: relative;
    box-sizing: border-box;
    padding: 12px 0px 64px 0px;
    margin-bottom: 24px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 48%;
      min-width: 572px;
      height: 708px;
      background: $color-gris;
      border-radius: 0px 25px 25px 0px;
      z-index: -1;
    }
    #lista-noticias {
      padding-left: 12px;
    }
    h2 {
      color: $color-azul;
      width: 125px;
      height: 41px;
      font-family: OpenSans-Bold, sans-serif;
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: 0.3px;
      text-align: left;
      margin-left: 27px;
    }
    .noticias {
      box-sizing: border-box;
      border-radius: 20px;
      text-align: center;
      font-size: 1.5em;
      line-height: 1.5;
    }
    .div-noticia {
      //margin-left: 12px;
      //margin-right: 12px;
      padding: 0;
    }
  }

  .sin-noticias {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 40px 0px;
    background: $color-gris;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    label {
      margin: auto;
      color: $color-naranja;
      font-family: OpenSans-Bold, sans-serif;
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: 0.3px;
      text-align: left;
      margin-left: 27px;
    }
  }

  button {
    color: $color-blanco;
    border: none;
    padding: 12px 36px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.1s;
    &:hover {
      box-shadow: 1px 2px 3px 0px #464646;
    }
  }

  .btn-noticias {
    background-color: $color-azul;
  }

  .btn-boletines {
    background-color: $color-naranja;
  }

  .arrow-right {
    font-size: 4em;
    color: $color-azul;
  }

  .box {
    position: relative;
    height: 36px;
    margin-right: 58px;
    mat-form-field {
      position: relative;
      top: -12px;
    }
  }

  .option-selected {
    color: $color-naranja!important;
    border-bottom: 1px solid $color-naranja;
    .cantidad {
      background: $color-naranja;
      color: $color-blanco;
    }
  }

  .campo-buscar {
    height: 41px;
    box-sizing: border-box;
    padding: 0px 12px!important;
  }

  .icono-select {
    color: #fff;
    position: absolute;
    width: 50px!important;
    height: 50px!important;
    text-align: center;
    line-height: 2;
    background: $color-azul;
    top: -8px;
    right: -61px;
    border-radius: 3px;
  }

  .cantidad {
    background: #e6e6e6;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    top: 10px;
    border-radius: 18px;
    line-height: normal;
    width: 36px;
    height: 20px;
    text-align: center;
    box-shadow: 0px 2px 3px darkgrey;
  }

  .current {
    background: $color-naranja!important;
    color: $color-blanco!important;
  }

  .custom-pagination {
    margin-top: 24px;
    cursor: pointer;
  }

  .pagination-previous,
  .page-number,
  .pagination-next {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid darkgrey;
    margin: 2px;
    border-radius: 3px;
    line-height: 2.6;
    color: #525261
  }

  .flecha {
    position: relative;
    top: 6px;
  }

  .chips {
    position: relative;
    top: -16px
  }

  .noticias-main {
    padding: 64px 117px 80px 58px;
    max-width: 1366px;
    margin: auto;
  }
}

@media screen and (max-width: 599px) {
  #noticias {
    #miga-de-pan {
      margin-top: 20px;
      margin-left: 0;
    }

    .seccion-ultimas-noticias {
      &::before {
        min-width: 180px;
      }

      #titulo-noticias {
        font-size: 18px;
      }
    }

    .noticias-main {
      padding: 0px;
    }
  }
}

@media screen and (max-width: 959px) {
  #noticias {
    .noticias-main {
      padding: 0px;
    }
  }
}
