<div *ngIf="miembroInfo" class="dialog-miembro-detalle">
    <div class="bandera" [ngStyle]="{'background-image' : image}">
        <div class="subcontenido" fxFlex="90">
            <div fxLayout="row" fxFlexAlign="space-between center">
                <h2 class="title-modal" fxFlex mat-dialog-title><img class="logo" [src]=logo alt="aa"> {{title}}
                </h2>
            </div>
            <mat-dialog-content class="mat-typography">
                <div *ngFor="let autoridad of autoridades;">
                    <div fxLayout="row" style="width: 100%; text-align: center;margin-bottom: 8px; margin-top: 8px;">
                        <strong fxFlex="100">{{autoridad.name}}</strong>
                    </div>
                    <div class="fila" fxLayout="row" *ngIf="autoridad.contact !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.contacto}}</div>
                        <div fxFlex="60">{{autoridad.contact}}</div>
                    </div>

                    <div class="fila" fxLayout="row" *ngIf="autoridad.address !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.direccion}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.address}}</div>
                        </div>
                    </div>
                    <div class="fila" fxLayout="row" *ngIf="autoridad.state !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.estado}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.state}}</div>
                        </div>
                    </div>
                    <div class="fila" fxLayout="row" *ngIf="autoridad.city !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.ciudad}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.city}}</div>
                        </div>
                    </div>
                    <div class="fila" fxLayout="row" *ngIf="autoridad.fax !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.fax}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.fax}}</div>
                        </div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.pais}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{title}}</div>
                        </div>
                    </div>
                    <div class="fila" fxLayout="row" *ngIf="autoridad.postalCode !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.codigoP}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.postalCode}}</div>
                        </div>
                    </div>

                    <div class="fila" fxLayout="row" *ngIf="autoridad.position !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.posicion}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.position}}</div>
                        </div>
                    </div>

                    <div class="fila" fxLayout="row" *ngIf="autoridad.phone !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.telefono}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.phone}}</div>
                        </div>
                    </div>

                    <div class="fila" fxLayout="row" *ngIf="autoridad.email !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.mail}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.email}}</div>
                        </div>
                    </div>

                    <div class="fila" fxLayout="row" *ngIf="autoridad.webSite !== null">
                        <div fxFlex="30" class="item">{{miembroInfo.miembros.miembro.sitioWeb}}</div>
                        <div fxFlex="60">
                            <div fxFlex="100">{{autoridad.webSite}}</div>
                        </div>
                    </div>

                </div>
            </mat-dialog-content>
        </div>
        <div fxFlex fxLayout="row" fxFlex="10" fxLayoutAlign="center">
            <mat-icon mat-dialog-close class="close-icon">
                close
            </mat-icon>
        </div>
    </div>
</div>