$color-naranja: #eb7e25;
::ng-deep .mat-dialog-miembro-detalle {
    max-width: unset;
    width: 70%;
}

.dialog-miembro-detalle {
    .title-modal {
        color: $color-naranja;
        margin-left: 70px;
        border-bottom: 2px solid $color-naranja;
        font-size: 2em;
        padding-left: 50px;
        padding-bottom: 10px;
    }
    .mat-dialog-content {
        padding: 24px 40px;
        margin: 0px 6%;
        .fila {
            padding: 24px;
            &:nth-child(even) {
                background-color: #f1f1f1;
            }
        }
        div {
            .item {
                font-weight: 600;
            }
        }
    }
    .recurso {
        margin: 0px 8px;
    }
    .logo {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        transform: translate(-50px, -5px);
    }
    .bandera {
        padding: 6% 0% 6% 10%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .subcontenido {
        background-color: #fff;
        padding: 4%;
        border-radius: 15px;
    }
    /* width */
     ::-webkit-scrollbar {
        width: 6px;
        border-radius: 5px;
        padding-right: 60px;
        height: 49px;
        background-color: #324050;
    }
    .close-icon {
        transform: translate(90%, -190%);
    }
    /* Track */
     ::-webkit-scrollbar-track {
        width: 6px;
        padding-right: 60px;
        background-color: #324050;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        padding-right: 60px;
        background: #888;
    }
}

@media screen and (max-width: 599px) {
     ::ng-deep .mat-dialog-miembro-detalle {
        max-width: unset;
        width: 95%;
    }
    .dialog-miembro-detalle {
        .title-modal {
            margin-left: 0px;
            font-size: 1.25rem;
        }
        .margen-tarjeta {
            margin-right: 0px;
        }
        .mat-dialog-content {
            padding: 0px;
            margin: 0px 3%;
            .fila {
                padding: 10px;
                overflow: hidden;
                word-break: break-all;
                &:nth-child(even) {
                    background-color: #f1f1f1;
                }
            }
            div {
                .item {
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .dialog-miembro-detalle {
        .mat-dialog-content {
            padding: 20px;
            margin: 0px 3%;
            .fila {
                overflow: hidden;
                word-break: break-all;
            }
        }
    }
}