$color-azul: #004a9c;
.card-alerta {
    box-sizing: border-box;
    padding: 0;
    background: unset;
    margin-top: 10px;
    cursor: pointer;
    height: 584px;
    width: 292px;
    .box-imagen {
        border-radius: 10px;
        width: 292px;
        max-height: 264px;
        height: calc(50% - 18px);
        display: block;
        margin: auto;
    }
    .card-content {
        height: 320px;
        box-sizing: border-box;
        background: #f5f5f5;
        text-align: left;
        padding: 27px 27px 1rem;
        article {
            h1 {
                color: $color-azul;
                font-family: OpenSans, sans-serif;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: 0.2px;
                text-align: left;
                display: block;
                height: 2.8rem;
                width: 12.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .card-parrafo {
                height: 150px;
                font-family: OpenSans-Bold, sans-serif;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: 0.2px;
                overflow-y: auto;
            }
            .riesgo {
                color: $color-azul;
                height: 1.250rem;
                width: 12.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &::after {
                    content: "";
                    position: absolute;
                    width: 66px;
                    height: 3px;
                    background: $color-azul;
                    left: 13px;
                    bottom: 40px;
                }
                span {
                    font-family: OpenSans-Bold, sans-serif;
                }
            }
            .card-fecha {
                margin-top: 12px;
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    padding-right: 60px;
    height: 49px;
    background-color: #324050;
}


/* Track */

 ::-webkit-scrollbar-track {
    width: 6px;
    padding-right: 60px;
    background-color: #324050;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    padding-right: 60px;
    background: #888;
}

@media screen and (max-width: 599px) {
    .card-alerta {
        max-height: 441px;
        min-width: 158px;
        width: 100%;
        .box-imagen {
            width: 158px;
            max-height: 143px;
            height: calc(50% - 18px);
        }
        .card-content {
            height: 298px;
            padding: 15px;
            article {
                h1 {
                    font-size: 1rem;
                    line-height: 1;
                    letter-spacing: 0.16px;
                    height: 2.5rem;
                    width: 7.75rem;
                }
                .card-parrafo {
                    height: 130px;
                    font-size: 1rem;
                    line-height: 1.13;
                    letter-spacing: 0.16px;
                    overflow-x: hidden;
                }
                .riesgo {
                    height: 1.250rem;
                    width: 7.75rem;
                    &::after {
                        bottom: 55px;
                    }
                }
                .card-fecha {
                    font-size: 1rem;
                }
            }
        }
    }
}