<div *ngIf="textos" class="siar-main">
    <div fxLayout="row">
        <svg-icon key="flechaRetorno"></svg-icon>
        <span class="enlace">
      <a [routerLink]="['']">{{ 'inicio' | translate}}</a>
    </span>
        <mat-icon class="icono">keyboard_arrow_right</mat-icon>
        <span class="enlace">
      <a
          [routerLink]="['/acercaSIAR']"
          [routerLinkActive]="['link_activo']"
      >{{ textos.acerca_siar.que_es_siar }}</a>
    </span>
    </div>
    <br>
    <header class="cabecera" fxLayout="row" fxLayout.lt-md="column">
        <div class="imagen-header" [ngStyle]="{'background-image': 'url(' + IMG_MANOS_SIAR + ')'}" fxFlex="55"></div>
        <div class="titulo" fxFlex="45">
            <div class="grupo-titulo">
                <h1>{{textos.acerca_siar.siar_titulo}}</h1>

                <h2>{{textos.acerca_siar.siar_sub_titulo}}</h2>
            </div>
        </div>
    </header>
    <article class="articulo">
        <mat-divider class="divider"></mat-divider>
        <p class="parrafo">
            {{ textos.acerca_siar.siar_parrafo_1}}
        </p>
        <p class="parrafo">
            {{ textos.acerca_siar.siar_parrafo_2}}
        </p>
        <br><br>
        <section class="estructura">
            <article class="articulo-estructura">
                <div class="box-estructura">
                    <h2 class="titulo-esctructura">
                        {{ textos.acerca_siar.siar_titulo_caracteristicas}}
                    </h2>
                    <ol class="lista">
                        <li>
                            <p>
                                {{ textos.acerca_siar.siar_parrafo_3}}
                            </p>
                        </li>
                        <li>
                            <p>
                                {{ textos.acerca_siar.siar_parrafo_4}}
                            </p>
                        </li>
                    </ol>
                </div>
            </article>
        </section>
        <p class="parrafo">
            {{ textos.acerca_siar.siar_parrafo_5}}
        </p>
        <section class="seccion-rcss">
            <h2>
                {{ textos.acerca_siar.siar_titulo_el_siar}}
            </h2>
            <p class="parrafo">
                {{ textos.acerca_siar.siar_parrafo_6}}
            </p>
        </section>
    </article>
</div>