$color-azul: #254b9c;
.icono {
    color: $color-azul;
}

.enlace {
    margin: 0px 8px;
    font-size: 18px;
    a {
        text-decoration: none;
        color: $color-azul;
    }
}

.link-activo {
    font-weight: 600;
}

.cabecera {
    .imagen-header {
        /*background-image: url("/assets/img/manos-siar.jpg");*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0 20px 20px 0;
        min-height: 330px;
        position: relative;
        left: -58px;
    }
    .titulo {
        position: relative;
        .grupo-titulo {
            color: $color-azul;
            position: absolute;
            bottom: 0;
            box-sizing: border-box;
            padding: 10px;
            h1 {
                margin-bottom: 5px;
                font-weight: 100;
                font-size: 1.3em;
            }
            h2 {
                width: 365px;
                height: 78.5px;
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 0.3px;
            }
        }
    }
}

.articulo {
    box-sizing: border-box;
    padding: 20px 120px;
    .divider {
        margin: 60px 0;
        background: $color-azul;
        height: 1px;
    }
    .parrafo {
        line-height: 1.75;
        font-size: 1.25em;
        .text-bold {
            font-weight: 600;
        }
    }
    .seccion-rcss {
        position: relative;
        box-sizing: border-box;
        padding: 10px 0px 10px 58px;
        margin-bottom: 24px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 220px;
            height: 100%;
            background: $color-azul;
            border-radius: 0px 25px 25px 0px;
            z-index: -1;
        }
        h2 {
            color: #fff;
            font-size: 1.75em;
            font-weight: 600;
        }
        p {
            background: #e6e6e6;
            box-sizing: border-box;
            padding: 20px 120px;
            border-radius: 20px;
            text-align: center;
            font-size: 1.5em;
            line-height: 1.5;
            letter-spacing: 0.17px;
            max-width: 1010px;
        }
    }
    .estructura {
        position: relative;
        width: calc(100% + 200px);
        left: -100px;
        border-radius: 25px;
        .articulo-estructura {
            .box-estructura {
                position: relative;
                background: #e6e6e6;
                padding: 28px 44px 40px 250px;
                border-radius: 0px 25px 25px 0px;
                top: -20px;
                left: -150px;
                width: calc(100% + 94px);
                box-sizing: border-box;
                h2 {
                    z-index: 9999;
                    color: $color-azul;
                }
                .lista {
                    li {
                        p {
                            font-size: 1.25em;
                            line-height: 1.75;
                        }
                    }
                }
                p {
                    z-index: 99999;
                }
            }
            .lista-estructura {
                box-sizing: border-box;
                padding: 20px 67px;
                color: #fff;
                ul {
                    li {
                        text-indent: -5px;
                        list-style: none;
                    }
                }
            }
        }
    }
}

.siar-main {
    padding: 22px 50px 50px;
    max-width: 1366px;
    margin: auto;
}


/**
xs
*/

@media screen and (max-width: 599px) {
    .cabecera {
        .imagen-header {
            min-height: 150px;
        }
        .titulo {
            position: relative;
            .grupo-titulo {
                position: relative;
                h2 {
                    width: 330px;
                    font-size: 20px;
                }
            }
        }
    }
    .articulo {
        padding: 0px;
        .divider {
            margin: 16px 8px;
        }
        .parrafo {
            line-height: 1.75;
            font-size: 12px;
            padding: 8px;
        }
        .seccion-rcss {
            box-sizing: border-box;
            padding: 0px 0px 10px 24px;
            &::before {
                width: calc(100% - 40px);
            }
            h2 {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                padding: 8px;
            }
        }
        .estructura {
            width: 100%;
            left: 0px;
            .articulo-estructura {
                .box-estructura {
                    box-sizing: border-box;
                    padding: 12px;
                    top: -32px;
                    left: 0;
                    width: 95%;
                    h2 {
                        font-size: 18px;
                    }
                    .lista {
                        li {
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
                .lista-estructura {
                    padding: 4px;
                    ul {
                        margin: 0;
                    }
                }
            }
        }
    }
    .siar-main {
        padding: 22px 18px 50px;
    }
}


/**
sm
*/

@media screen and (min-width: 600px) and (max-width: 959px) {
    .cabecera {
        .imagen-header {
            min-height: 150px;
        }
        .titulo {
            position: relative;
            .grupo-titulo {
                position: relative;
            }
        }
    }
    .articulo {
        padding: 0px;
        .divider {
            margin: 16px 8px;
        }
        .parrafo {
            line-height: 1.75;
            font-size: 1.25em;
            padding: 24px;
        }
        .seccion-rcss {
            box-sizing: border-box;
            padding: 0px 0px 10px 24px;
            &::before {
                width: calc(100% - 40px);
            }
            h2 {
                color: #fff;
                font-size: 1.75em;
                font-weight: 600;
            }
            p {
                padding: 24px;
            }
        }
        .estructura {
            width: 100%;
            left: 0px;
            .articulo-estructura {
                .box-estructura {
                    box-sizing: border-box;
                    padding: 12px;
                    top: -32px;
                    left: 0;
                    width: 95%;
                }
                .lista-estructura {
                    padding: 4px;
                    ul {
                        margin: 0;
                    }
                }
            }
        }
    }
}