.tarjeta {
  height: 200px;
  width: 100%;
  background-size: 100% 100%;
  background-color: #fff;
  border-radius: 8px;
}

.contenido {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  height: 200px;
}

.tenue {
  opacity: 0.5;
}

.nombre {
  height: 204px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.3px;
  color: #000000;
  /*position:absolute; */
  position: initial;
  top: 50.2%;
  /*left: 27.7%;*/
  left: 250px;
  transform: translate(0%, -99%);
  text-align: center;
  padding-top: 80px;
}

/* width */

::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
  padding-right: 60px;

  height: 49px;
  background-color: #324050;
}

/* Track */

::-webkit-scrollbar-track {
  width: 6px;
  padding-right: 60px;
  background-color: #324050;
}

/* Handle */

::-webkit-scrollbar-thumb {
  padding-right: 60px;

  background: #888;
}

.margen-tarjeta {
  margin-top: 24px;
  margin-right: 24px;
}

.contenido {
  position: relative;
  .administrar {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #d6d6d696;
    border-radius: 13px;
    .opciones-admin {
      position: absolute;
      top: calc(50% - 20px);
    }
  }
  .noadministrar {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 13px;
    .opciones-admin {
      position: absolute;
      top: calc(50% - 20px);
    }
  }
}

@media screen and (max-width: 599px) {
  .margen-tarjeta {
    margin-right: 0px;
  }
  .nombre {
    height: 154px;
    padding-top: 60px;
  }
  .tarjeta {
    height: 150px;
  }
  .contenido {
    height: 150px;
  }
}

.noadministrar {
  cursor: pointer; /* Esto se aplica correctamente ahora */
}
