$color-naranja: #eb7e25;
$color-azul: #004a9c;
$color-blanco: #fff;
.tarjeta-acerca-rcss {
    background-color: #e6e6e6;
    //height: 342px;
    margin-top: 50px;
    .img-acerca-rcss {
        /*background-image: url('/assets/img/manos-rompecabeza.jpg');*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: inherit;
        border-radius: 0 20px 20px 0;
        min-height: 250px;
        height: 300px;
        width: 100%;
    }
    .acerca-rcss {
        padding: 40px 56px 37px;
        h2 {
            color: $color-azul;
            font-weight: bold;
            font-size: 30px;
            font-family: OpenSans-Bold, sans-serif;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: 0.3px;
            text-align: left;
        }
        p {
            //width: 459px;
            //height: 155px;
            font-size: 17px;
            font-family: OpenSans, sans-serif;
            font-stretch: normal;
            letter-spacing: 0.17px;
            text-align: left;
            color: #000000;
            margin-top: 25px;
        }
        button {
            background-color: $color-azul;
            color: $color-blanco;
            border: none;
            padding: 12px 36px;
            border-radius: 5px;
            font-family: Roboto, sans-serif;
            font-size: 1rem;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.06;
            letter-spacing: normal;
            text-align: center;
            width: 192px;
            height: 42px;
            transition: all 0.1s;
            &:hover {
                box-shadow: 1px 2px 3px 0px #464646;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .tarjeta-acerca-rcss {
        .acerca-rcss {
            padding: 10px;
            h2 {
                font-size: 28px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}