<div *ngIf="nuevaNoticiaInfo">
    <div fxLayout="row" fxLayoutAlign="end">
        <mat-icon mat-dialog-close>
            close
        </mat-icon>
    </div>
    <h2 class="title-modal" mat-dialog-title>{{nuevaNoticiaInfo.noticias.nuevaNoticia.titulo_1}}</h2>
    <mat-dialog-content class="mat-typography">
        <form class="formulario" [formGroup]="formRegistro">
            <div class="fila" fxLayout="row">
                <div fxFlex="30" class="item">{{nuevaNoticiaInfo.noticias.nuevaNoticia.titulo}}</div>
                <div fxFlex="70">
                    <div class="form-textarea">
                        <textarea class="textarea" formControlName="titulo" maxlength="200" matInput #titulo></textarea>
                        <mat-error *ngIf="hasError('titulo', 'required') || titulo.value.trim() === ''">
                            {{nuevaNoticiaInfo.noticias.nuevaNoticia.c_requerido}}</mat-error>
                        <div class="icon-cerrar">
                            <mat-icon class="cerrar" (click)="titulo.setValue('')">
                                close
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fila" fxLayout="row">
                <div fxFlex="30" class="item">{{nuevaNoticiaInfo.noticias.nuevaNoticia.resumen}}</div>
                <div fxFlex="70">
                    <div class="form-textarea">
                        <textarea class="textarea" formControlName="resumen" maxlength="4000"></textarea>
                        <mat-error *ngIf="
                hasError('resumen', 'required') || resumen.value.trim() === ''
              ">{{nuevaNoticiaInfo.noticias.nuevaNoticia.c_requerido}}</mat-error>
                        <div class="icon-cerrar">
                            <mat-icon class="cerrar" (click)="resumen.setValue('')">
                                close
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row">
                <div fxFlex="30" class="item">{{nuevaNoticiaInfo.noticias.nuevaNoticia.fecha_publicacion}}</div>
                <div fxFlex="70">
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" formControlName="fechaPublicacion" />
                        <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon class="icono-select-dat">date_range</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                        <mat-error *ngIf="formRegistro.get('fechaPublicacion').hasError('required')">
                            {{nuevaNoticiaInfo.noticias.nuevaNoticia.c_requerido_f}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="fila" fxLayout="row">
                <div fxFlex="30" class="item">{{nuevaNoticiaInfo.noticias.nuevaNoticia.paises}}</div>
                <div fxFlex="70">
                    <mat-form-field appearance="outline">
                        <mat-label>{{nuevaNoticiaInfo.noticias.nuevaNoticia.paises}}</mat-label>
                        <mat-select required formControlName="pais" multiple matInput #pais>
                            <mat-option [value]="item.id" *ngFor="let item of paises">
                                {{ item.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icono-select">
                            expand_more
                        </mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="paisEsVacio(pais.value)">{{nuevaNoticiaInfo.noticias.nuevaNoticia.c_requerido}}</mat-error>
                </div>
            </div>
            <div class="fila" fxLayout="row">
                <div fxFlex="30" class="item">{{nuevaNoticiaInfo.noticias.nuevaNoticia.enlaces}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <input class="campo" formControlName="enlaces" (change)="agregarEnlace(enlaces.value)" type="text" placeholder="{{nuevaNoticiaInfo.noticias.nuevaNoticia.ingreseEnlace}}" />
                        <div class="box-icono">
                            <mat-icon class="icono icono-link">
                                link
                            </mat-icon>
                        </div>
                    </div>
                    <div style="margin-top: 8px;">
                        <div class="enlaces" *ngFor="let enlace of enlacesUrl">
                            <div class="box-enlaces">
                                <a [href]="enlace" target="_blank" class="enlace">
                  {{ enlace }}
                </a>
                            </div>
                            <mat-icon (click)="removeEnlace(enlace)" class="ico-borrar-imagen">cancel</mat-icon>
                            <br />
                        </div>
                        <div *ngIf="editar">
                            <div class="enlaces" *ngFor="let enlace of getEnlaces(noticia.recursos)">
                                <div class="box-enlaces">
                                    <p class="enlace">
                                        <a [href]="enlace" target="_blank">{{ enlace.path }}</a>
                                    </p>
                                </div>
                                <mat-icon class="ico-borrar-imagen" (click)="agregarEnlaceBorrar(enlace)">cancel</mat-icon>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row">
                <div fxFlex="30" class="item">{{nuevaNoticiaInfo.noticias.nuevaNoticia.anexos}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <div class="box-imagen" (click)="anexo.click()">
                            <div class="item-imagen">
                                <img src="assets/img/camara.JPG" alt="" width="50" height="50" />
                                <p>{{nuevaNoticiaInfo.noticias.nuevaNoticia.agregarAnexo}}</p>
                            </div>
                        </div>
                        <input #anexo style="display: none;" accept="image/jpeg, image/gif, image/png, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/rtf, application/x-rtf, text/richtext, text/plain, application/pdf"
                            class="campo" (change)="onFileChangeAnexo($event)" formControlName="anexos" type="file" multiple />
                        <div style="margin-top: 8px;">
                            <div class="enlaces" *ngFor="let anexo of anexosBase64">
                                <div class="box-enlaces">
                                    <p class="enlace">
                                        {{ anexo.nombre }}
                                    </p>
                                </div>
                                <mat-icon (click)="removeAnexo(anexo)" class="ico-borrar-imagen">cancel</mat-icon>
                                <br />
                            </div>
                            <div *ngIf="editar">
                                <div class="enlaces" *ngFor="let anexo of getAnexos(noticia.recursos)">
                                    <div class="box-enlaces">
                                        <p class="enlace">
                                            <a href="{{ anexo.path }}" target="_blank" rel="noopener noreferrer">{{anexo.name}}</a>
                                        </p>
                                    </div>
                                    <mat-icon class="ico-borrar-imagen" (click)="agregarAnexoBorrar(anexo)">cancel</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fila" fxLayout="row">
                <div fxFlex="30" class="item">{{nuevaNoticiaInfo.noticias.nuevaNoticia.imagenes}}</div>
                <div fxFlex="70">
                    <div class="form-campo">
                        <div class="box-imagen" (click)="imagen.click()">
                            <div class="item-imagen">
                                <img src="assets/img/camara.JPG" alt="" width="50" height="50" />
                                <p>{{nuevaNoticiaInfo.noticias.nuevaNoticia.agregar_f}}</p>
                            </div>
                        </div>
                        <input #imagen style="display: none;" accept="image/x-png,image/gif,image/jpeg" class="campo" (change)="onFileChange($event)" formControlName="imagenes" type="file" multiple />
                        <div style="margin-top: 8px;">
                            <div class="enlaces" *ngFor="let imagen of imagenesBase64">
                                <div class="box-enlaces">
                                    <p class="enlace">
                                        {{ imagen.nombre }}
                                    </p>
                                </div>
                                <mat-icon (click)="removeImagen(imagen)" class="ico-borrar-imagen">cancel</mat-icon>
                                <br />
                            </div>
                            <div *ngIf="editar">
                                <div class="enlaces" *ngFor="let imagen of getImagenes(noticia.recursos)">
                                    <div class="box-enlaces">
                                        <img width="200px" src="{{ imagen.path }}" alt="" />
                                        <mat-icon class="ico-borrar-imagen" (click)="agregarImagenBorrar(imagen)">cancel</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="botones" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="24px">
                <button class="btn btn-guardar" (click)="guardarNoticia(formRegistro.value)" [disabled]="
            !formRegistro.valid ||
            paisEsVacio(pais.value) ||
            errorNumArchivoAnexo ||
            errorPesoAnexo ||
            errorTipoAnexo ||
            errorNumArchivoImagenes ||
            errorPesoImagenes ||
            errorTipoImagenes ||
            titulo.value.trim() === '' ||
            resumen.value.trim() === ''
          ">
          {{nuevaNoticiaInfo.noticias.nuevaNoticia.guardar}}
        </button>
                <button class="btn btn-cancelar" mat-dialog-close>{{nuevaNoticiaInfo.noticias.nuevaNoticia.cancelar}}</button>
            </div>
        </form>
    </mat-dialog-content>
</div>
