<div *ngIf="miembrosInfo">
    <div class="main-miembros">
        <div fxLayout="row" class="margen-link">
            <svg-icon key="flechaRetorno"></svg-icon>
            <span class="enlace">
                <a [routerLink]="['']">{{miembrosInfo.miembros.inicio}}</a>
            </span>
            <mat-icon class="icono">
                keyboard_arrow_right
            </mat-icon>
            <span class="enlace">
                <a [routerLink]="['/miembros']" [routerLinkActive]="['link-activo']">{{miembrosInfo.miembros.miembros}}</a>
            </span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly left" class="margen-parrafo">
            <div class="titulo" [ngStyle]="{'background-image': 'url(' + IMG_BANDERAS + ')'}">
                <a>{{miembrosInfo.miembros.miembros}}</a>
                <hr>
            </div>
            <div class="texto">
                {{miembrosInfo.miembros.parrafo_1}}
                <a class="subrayado" [href]="urlOAS" target="blank"> {{miembrosInfo.miembros.parrafo_1_2}}</a> {{miembrosInfo.miembros.parrafo_1_3}}
                <a class="subrayado" [href]="urlFormato" target="blank1">{{miembrosInfo.miembros.formato}}</a> {{miembrosInfo.miembros.parrafo_1_4}}
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="5" fxLayout="row" fxLayoutAlign="start center" fxHide.xs="true">
                <mat-icon class="arrow-left" (click)="seleccionPagina( pagina - 1 );" *ngIf="pagina !== 1">
                    keyboard_arrow_left
                </mat-icon>
            </div>

            <div class="seccion-ultimas-noticias" fxLayout="column" fxLayoutAlign="none start" fxFlex="90" fxFlex.xs="100">
                <div fxLayout="row" fxLayoutGap="15px">
                    <div fxFlex="60" fxFlex.xs="90" fxFlex.sm="80" class="texto-miembros">
                        {{miembrosInfo.miembros.parrafo_2}}
                        <hr class="sub-blanco">
                    </div>
                    <div *ngIf="administrar" fxFlex="40" fxFlex.xs="10" fxFlex.sm="20" fxLayout="row" fxLayoutAlign="end center">
                        <a class="agregar-item"  (click)="openDialogNuevoMiembro()">
                            <span>
                            <img src="assets/img/agregar.JPG" alt="">
                        </span> {{miembrosInfo.eventos.nuevoItem}}
                        </a>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-xs="50" class="noticias" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let miembro of miembrosRender">
                        <!--<app-tarjeta-miembro class="margen-tarjeta" [miembro]="miembro"></app-tarjeta-miembro>-->
                        <app-tarjeta-miembro class="margen-tarjeta" (editar)="showEditar($event)" (eliminar)="showEliminar($event)" #card (mouseover)="card.administrar = administrar" (mouseleave)="card.administrar = false" [miembro]="miembro"></app-tarjeta-miembro>
                    </div>
                </div>
            </div>
            <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center" fxHide.xs="true">
                <mat-icon class="arrow-right" (click)="seleccionPagina( pagina + 1 );" *ngIf="pagina !== numeroPaginas">
                    keyboard_arrow_right
                </mat-icon>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="5"></div>
            <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs="true" style="margin-bottom: 80px;">
                <mat-icon class="arrow-right" (click)="seleccionPagina( pagina - 1 );" *ngIf="pagina !== 1 ">
                    keyboard_arrow_left
                </mat-icon>
            </div>
            <div fxLayout="row" fxFlex="100" class="dops" fxLayoutAlign="center center">
                <div *ngFor="let n of numSequence(numeroPaginas); let i = index" class="dop" [ngClass]="{'dop-selected' : pagina === i + 1}" (click)="seleccionPagina(i + 1);"></div>
            </div>
            <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs="true" style="margin-bottom: 80px;">
                <mat-icon class="arrow-right" (click)="seleccionPagina( pagina + 1 );" *ngIf="pagina !== numeroPaginas">
                    keyboard_arrow_right
                </mat-icon>
            </div>
            <div fxFlex="5"></div>
        </div>

    </div>
</div>
