$color-azul: #254b9c;
$color-naranja: #f07e00;
$color-blanco: #fff;
.icono {
    color: $color-azul;
}

.enlace {
    margin: 0px 8px;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 18px;
    a {
        text-decoration: none;
        color: $color-azul;
    }
}

.link-activo {
    font-weight: 600;
}

.test {
    background-color: green;
}

.titulo {
    /*background-image: url("/assets/img/banderas.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: OpenSans-Bold, sans-serif;
    height: 333px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.3px;
    text-align: left;
    color: $color-naranja;
    padding: 265px 0px 0px 39px;
    border-radius: 0px 30px 30px 0px;
}

.texto {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: 0.17px;
    text-align: left;
    color: #000000;
    margin-top: 40px;
}

.subrayado {
    text-decoration: underline;
    color: #5597ba
}

.agregar-item {
    border: none;
    background-color: none;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #f07e00;
    &:hover {
        color: #f07e00;
        text-decoration: none;
        cursor: pointer;
    }
}

.seccion-ultimas-noticias {
    position: relative;
    box-sizing: border-box;
    padding: 12px 0px 64px 0px;
    margin-bottom: 24px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 85%;
        background: $color-azul;
        border-radius: 0px 25px 25px 0px;
        z-index: -1;
        transform: translateX(-20%);
    }
    h2 {
        color: $color-azul;
        font-size: 1.75em;
        font-weight: 600;
        margin-left: 36px;
    }
    .noticias {
        box-sizing: border-box;
        border-radius: 20px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5;
    }
}

.dops {
    text-align: center;
    margin-bottom: 80px;
    .dop {
        width: 20px;
        height: 20px;
        background-color: #d0ecfb;
        float: left;
        border-radius: 50%;
        margin: 10px;
        cursor: pointer;
    }
    .dop-selected {
        background-color: $color-azul;
    }
}

.arrow-right {
    display: contents;
    font-size: 4em;
    color: $color-azul;
    cursor: pointer;
}

.arrow-left {
    display: contents;
    font-size: 4em;
    color: $color-blanco;
    cursor: pointer;
}

hr {
    background-color: $color-naranja;
    height: 2px;
    margin-top: 5px;
    border: none;
    margin-left: 0;
}

.sub-blanco {
    background-color: $color-blanco;
}

.texto-miembros {
    font-family: OpenSans-Regular, sans-serif;
    color: $color-blanco;
    font-size: 17px;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    padding-right: 60px;
    height: 49px;
    background-color: #324050;
}


/* Track */

 ::-webkit-scrollbar-track {
    width: 6px;
    padding-right: 60px;
    background-color: #324050;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    padding-right: 60px;
    background: #888;
}

.main-miembros {
    max-width: 1366px;
    margin: auto;
    padding: 0px 5%;
    width: 100%;
}

.margen-tarjeta {
    margin-top: 24px;
    margin-right: 24px;
}

.margen-link {
    margin-top: 37px;
}

.margen-parrafo {
    margin: 42px 0px 62px 0px;
}

@media screen and (max-width: 599px) {
    .margen-tarjeta {
        margin-right: 0px;
    }
    .main-miembros {
        padding: 15px;
    }
    .seccion-ultimas-noticias {
        padding: 12px 0px 0px 0px;
        &::before {
            width: 118%;
            height: 95%;
        }
    }
    .texto {
        font-size: 13px;
        margin-top: 20px;
    }
    .texto-miembros {
        font-size: 13px;
    }
    .margen-link {
        margin-top: 0px;
    }
    .margen-parrafo {
        margin: 20px 0px;
    }
    .titulo {
        height: 150px;
        padding: 85px 0px 0px 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .main-miembros {
        padding: 40px;
    }
    .arrow-left {
        display: flex;
        transform: translate(-10px, 0px);
        font-size: 4em;
        color: $color-blanco;
        cursor: pointer;
    }
    .seccion-ultimas-noticias {
        padding: 12px 0px 0px 0px;
        &::before {
            width: 108%;
            height: 95%;
        }
    }
    .texto {
        font-size: 15px;
    }
    .texto-miembros {
        font-size: 15px;
    }
    .titulo {
        height: 200px;
        padding: 140px 0px 0px 39px;
    }
}


.iconoEditar,
.iconoMas,
.iconoEliminar {
    order: none;
    outline: none;
}

.nuevo-registro{text-align:right}