<div
  *ngIf="textos"
  style="position: relative;"
  [ngClass]="{ 'imagen-banner': mostrarBanner }"
  [ngStyle]="{ 'background-image': 'url(' + IMG_BANNER_HOME + ')' }"
>
  <header class="cabecera" fxLayout="row" fxLayoutAlign="center center">
    <!--Menu de rutas-->
    <div
      fxFlex.gt-xs="110px"
      fxFlex.lt-sm="42px"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxFlexAlign="center start"
    >
      <div class="menu" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon
          *ngIf="!mostrarMenu"
          class="icono-menu"
          (click)="mostrarMenu = !mostrarMenu"
          >menu</mat-icon
        >
        <mat-icon
          *ngIf="mostrarMenu"
          class="icono-menu"
          (click)="mostrarMenu = !mostrarMenu"
          >close</mat-icon
        >
      </div>
      <p fxHide.lt-sm class="txt-menu">{{ textos.menu }}</p>
      <ul
        class="lista-menu"
        [ngClass]="{ 'hide-menu': !mostrarMenu }"
        (mouseover)="mostrarMenu = true"
        (mouseout)="mostrarMenu = false"
      >
        <li>
          <a
            [ngClass]="{ 'item-selected': itemShow === 1 }"
            (mouseover)="iconoAcerca = true"
            (mouseout)="iconoAcerca = false"
            (click)="itemShow == 1 ? (itemShow = undefined) : (itemShow = 1)"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="acerca"
              *ngIf="!iconoAcerca"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="acercaNaranja"
              *ngIf="iconoAcerca"
            ></svg-icon>
            {{ textos.acerca }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 1,
              'show-submenu': itemShow === 1
            }"
          >
            <li>
              <a
                [routerLink]="['acercaSIAR']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.que_es_siar }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['acercaRCSS']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.que_es_rcss }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['miembros']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.miembros }}</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            [ngClass]="{ 'item-selected': itemShow === 2 }"
            (mouseover)="iconoSiar = true"
            (mouseout)="iconoSiar = false"
            (click)="itemShow == 2 ? (itemShow = undefined) : (itemShow = 2)"
            class="item-focus"
          >
            <svg
              *ngIf="!iconoSiar"
              style="height: 24px; padding-right: 14px;"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 4.54 12.94"
            >
              <defs>
                <style>
                  .cls-10 {
                    fill: none;
                    stroke: #34353c;
                    stroke-linecap: round;
                  }

                  .cls-20 {
                    fill: #fbbd06;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <g>
                <path
                  class="cls-10"
                  d="M681.63,387.51h2l.69-9.41H680.8l.36,5.57"
                  transform="translate(-680.26 -377.6)"
                />
                <line
                  class="cls-10"
                  x1="1.49"
                  y1="12.44"
                  x2="3.49"
                  y2="12.44"
                />
                <path
                  class="cls-20"
                  d="M681.32,384.49a.57.57,0,0,1,.57.57.58.58,0,1,1-1.15,0h0A.57.57,0,0,1,681.32,384.49Z"
                  transform="translate(-680.26 -377.6)"
                />
              </g>
            </svg>
            <svg
              *ngIf="iconoSiar"
              style="height: 24px; padding-right: 14px;"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 22.27 71.54"
            >
              <defs>
                <style>
                  .cls-100 {
                    fill: none;
                    stroke: #f07e00;
                    stroke-linecap: round;
                    stroke-width: 2px;
                  }

                  .cls-200 {
                    fill: #f07e00;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <g>
                <path
                  class="cls-100"
                  d="M643.64,404.26h11.27l4-54.8H638.8l2.09,32.42"
                  transform="translate(-637.74 -348.46)"
                />
                <line
                  class="cls-100"
                  x1="6.62"
                  y1="70.54"
                  x2="18.21"
                  y2="70.54"
                />
                <path
                  class="cls-200"
                  d="M641.81,386.66a3.35,3.35,0,1,1-3.34,3.35h0A3.35,3.35,0,0,1,641.81,386.66Z"
                  transform="translate(-637.74 -348.46)"
                />
              </g>
            </svg>
            {{ textos.siar }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 2,
              'show-submenu': itemShow === 2
            }"
          >
            <li>
              <a
                [routerLink]="['alertas']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.alertas }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['reporteDinamico']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.reportes_personalizados }}</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            [ngClass]="{ 'item-selected': itemShow === 3 }"
            (mouseover)="iconoBiblioteca = true"
            (mouseout)="iconoBiblioteca = false"
            (click)="itemShow == 3 ? (itemShow = undefined) : (itemShow = 3)"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="documentosPrivados"
              *ngIf="!iconoBiblioteca"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="bibliotecaNaranja"
              *ngIf="iconoBiblioteca"
            ></svg-icon>
            {{ textos.biblioteca }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 3,
              'show-submenu': itemShow === 3
            }"
          >
            <li>
              <a
                [routerLink]="['/documentos']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.documentos_publicaciones }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['/codigoLesiones']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.codigo_lesiones }}</a
              >
            </li>

              <li>
                  <a [routerLink]="['/consultarDirectorios']" routerLinkActive="link-actived" (click)="mostrarMenu = !mostrarMenu">{{textos.consultar_directorios}}</a>
              </li>
              <li>
                  <a [routerLink]="['gestionAtlas/consultar']" routerLinkActive="link-actived" (click)="mostrarMenu = !mostrarMenu">
                      {{ textos.consultar_atlas }}
                  </a>
              </li>
          </ul>
        </li>
        <li>
          <a
            [ngClass]="{ 'item-selected': itemShow === 4 }"
            (mouseover)="iconoEventos = true"
            (mouseout)="iconoEventos = false"
            (click)="itemShow == 4 ? (itemShow = undefined) : (itemShow = 4)"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="eventos"
              *ngIf="!iconoEventos"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="eventosNaranja"
              *ngIf="iconoEventos"
            ></svg-icon>
            {{ textos.eventos }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 4,
              'show-submenu': itemShow === 4
            }"
          >
            <li>
              <a
                [routerLink]="['eventos']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.eventos }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['calendario']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.calendario_global }}</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            [ngClass]="{ 'item-selected': itemShow === 5 }"
            (mouseover)="iconoNoticias = true"
            (mouseout)="iconoNoticias = false"
            (click)="itemShow == 5 ? (itemShow = undefined) : (itemShow = 5)"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="noticias"
              *ngIf="!iconoNoticias"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="noticiasNaranja"
              *ngIf="iconoNoticias"
            ></svg-icon>
            {{ textos.noticias }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 5,
              'show-submenu': itemShow === 5
            }"
          >
            <li>
              <a
                [routerLink]="['noticias/seccion/', 1]"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.noticias }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['boletines']"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.boletines }}</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            [ngClass]="{ 'item-selected': itemShow === 6 }"
            (mouseover)="iconoInstitucional = true"
            (mouseout)="iconoInstitucional = false"
            (click)="itemShow == 6 ? (itemShow = undefined) : (itemShow = 6)"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="documentosYPublicaciones"
              *ngIf="!iconoInstitucional"
            >
            </svg-icon>
            <svg-icon
              class="iconos-menu"
              key="institucionalNaranja"
              *ngIf="iconoInstitucional"
            ></svg-icon>
            {{ textos.fortalecimiento_institucional }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 6,
              'show-submenu': itemShow === 6
            }"
          >
            <li>
              <a
                [routerLink]="['cursosTalleres/seccion/', 1]"
                routerLinkActive="link-actived"
                (click)="mostrarMenu = !mostrarMenu"
                >{{ textos.cursos_talleres }}</a
              >
            </li>
          </ul>
        </li>
        <li *ngIf="authMenu(10)">
          <!-- Sincronización de Alertas solo para Administración Principal -->
          <a
            [ngClass]="{ 'item-selected': itemShow === 7 }"
            (mouseover)="iconoSincronizacion = true"
            (mouseout)="iconoSincronizacion = false"
            (click)="mostrarMenu = !mostrarMenu"
            class="item-focus"
            [routerLink]="['sincronizacionAlertas']"
            routerLinkActive="link-actived"
          >
            <svg-icon
              class="iconos-menu"
              key="sincronizacionDeAlertas"
              *ngIf="!iconoSincronizacion"
            >
            </svg-icon>
            <svg-icon
              class="iconos-menu"
              key="sinconizacionNaranja"
              *ngIf="iconoSincronizacion"
            ></svg-icon>
            {{ textos.sincronizacion_de_alertas }}
          </a>
        </li>
        <li *ngIf="authMenu(1)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 8 }"
            (mouseover)="iconoUsuarios = true"
            (mouseout)="iconoUsuarios = false"
            [routerLink]="['adminUsuario']"
            routerLinkActive="link-actived"
            (click)="mostrarMenu = !mostrarMenu"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="administracionDeUsuarios"
              *ngIf="!iconoUsuarios"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="usuariosNaranja"
              *ngIf="iconoUsuarios"
            ></svg-icon>
            {{ textos.administracion_de_usuarios }}
          </a>
        </li>
        <li *ngIf="authMenu(2)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 9 }"
            (mouseover)="iconoAlertas = true"
            (mouseout)="iconoAlertas = false"
            (click)="itemShow == 9 ? (itemShow = undefined) : (itemShow = 9)"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="alertas"
              *ngIf="!iconoAlertas"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="alertasNaranja"
              *ngIf="iconoAlertas"
            ></svg-icon>
            {{ textos.gestion_alertas }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 9,
              'show-submenu': itemShow === 9
            }"
          >
            <li *ngIf="!authMenu(14)">
              <a
                [routerLink]="['alertas']"
                routerLinkActive="link-actived"
                (click)="enrutar('/alertas')"
                >{{ textos.creacion_de_alertas }}</a
              >
            </li>
            <li *ngIf="authMenu(13)">
              <a
                [routerLink]="['gestionAlertas']"
                routerLinkActive="link-actived"
                (click)="enrutar('/gestionAlertas')"
                >{{ textos.gestion_parametrizacion_de_alertas }}</a
              >
            </li>
            <li *ngIf="authMenu(17)">
              <a
                [routerLink]="['ingresarAlertas']"
                routerLinkActive="link-actived"
                (click)="enrutar('/ingresarAlertas')"
                >{{ textos.ingresar_alertas }}</a
              >
            </li>
          </ul>
        </li>
        <li *ngIf="authMenu(3)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 10 }"
            (mouseover)="iconoDocumentos = true"
            (mouseout)="iconoDocumentos = false"
            (click)="itemShow == 10 ? (itemShow = undefined) : (itemShow = 10)"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="documentosPrivados"
              *ngIf="!iconoDocumentos"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="bibliotecaNaranja"
              *ngIf="iconoDocumentos"
            ></svg-icon>
            {{ textos.documentos_privados }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 10,
              'show-submenu': itemShow === 10
            }"
          >
            <li *ngIf="authMenu(16)">
              <a
                [routerLink]="['documentosPrivados']"
                routerLinkActive="link-actived"
                (click)="enrutar('/documentosPrivados')"
              >
                {{ textos.consulta_documentos_privados }}</a
              >
            </li>
            <li *ngIf="authMenu(15)">
              <a
                [routerLink]="['gestionDocPrivados']"
                routerLinkActive="link-actived"
                (click)="enrutar('/gestionDocPrivados')"
              >
                {{ textos.gestion_documentos_privados }}</a
              >
            </li>
          </ul>
        </li>
        <li *ngIf="authMenu(4)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 11 }"
            (mouseover)="iconoGestionEventos = true"
            (mouseout)="iconoGestionEventos = false"
            (click)="itemShow == 11 ? (itemShow = undefined) : (itemShow = 11)"
            class="item-focus"
            [routerLink]="['gestionEventos']"
          >
            <svg-icon
              class="iconos-menu"
              key="eventos"
              *ngIf="!iconoGestionEventos"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="eventosNaranja"
              *ngIf="iconoGestionEventos"
            ></svg-icon>
            {{ textos.gestion_eventos }}
          </a>
        </li>
        <li *ngIf="authMenu(5)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 12 }"
            (mouseover)="iconoGestionNoticias = true"
            (mouseout)="iconoGestionNoticias = false"
            (click)="itemShow == 12 ? (itemShow = undefined) : (itemShow = 12)"
            [routerLink]="['gestionNoticias']"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="noticias"
              *ngIf="!iconoGestionNoticias"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="noticiasNaranja"
              *ngIf="iconoGestionNoticias"
            ></svg-icon>
            {{ textos.gestion_noticias }}
          </a>
        </li>
        <li *ngIf="authMenu(6)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 13 }"
            (mouseover)="iconoBoletin = true"
            (mouseout)="iconoBoletin = false"
            (click)="itemShow == 13 ? (itemShow = undefined) : (itemShow = 13)"
            class="item-focus"
            [routerLink]="['gestionBoletines']"
          >
            <svg-icon
              class="iconos-menu"
              key="boletin"
              *ngIf="!iconoBoletin"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="boletinesNaranja"
              *ngIf="iconoBoletin"
            ></svg-icon>
            {{ textos.gestion_de_boletines }}
          </a>
        </li>
        <li *ngIf="authMenu(7)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 14 }"
            (click)="enrutar('/cursosTalleres')"
            (mouseover)="iconoCursoTalleres = true"
            (mouseout)="iconoCursoTalleres = false"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="cursosYTalleres"
              *ngIf="!iconoCursoTalleres"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="cursosTalleresNaranja"
              *ngIf="iconoCursoTalleres"
            ></svg-icon>
            {{ textos.gestion_cursos_y_talleres }}
          </a>
        </li>
        <li *ngIf="authMenu(8)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 15 }"
            (click)="mostrarMenu = !mostrarMenu"
            (mouseover)="iconoDocumentosPublicaciones = true"
            (mouseout)="iconoDocumentosPublicaciones = false"
            [routerLink]="['gestionDocumentos']"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu "
              key="documentosYPublicaciones"
              *ngIf="!iconoDocumentosPublicaciones"
            ></svg-icon>
            <svg-icon
              class="iconos-menu "
              key="institucionalNaranja"
              *ngIf="iconoDocumentosPublicaciones"
            >
            </svg-icon>
            {{ textos.gestion_documentos_y_publicaciones }}
          </a>
        </li>
        <li *ngIf="authMenu(8)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 16 }"
            (click)="mostrarMenu = !mostrarMenu"
            (mouseover)="iconoMiembros = true"
            (mouseout)="iconoMiembros = false"
            [routerLink]="['miembros']"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu "
              key="miembros"
              *ngIf="!iconoMiembros"
            ></svg-icon>
            <svg-icon
              class="iconos-menu "
              key="miembrosNaranja"
              *ngIf="iconoMiembros"
            >
            </svg-icon>
            {{ textos.gestion_de_miembros }}
          </a>
        </li>
        <li *ngIf="authMenu(18)">
          <a
            [ngClass]="{ 'item-selected': itemShow === 17 }"
            (mouseover)="iconoAlertas = true"
            (mouseout)="iconoAlertas = false"
            (click)="itemShow == 17 ? (itemShow = undefined) : (itemShow = 17)"
            class="item-focus"
          >
            <svg-icon
              class="iconos-menu"
              key="alertas"
              *ngIf="!iconoAlertas"
            ></svg-icon>
            <svg-icon
              class="iconos-menu"
              key="alertasNaranja"
              *ngIf="iconoAlertas"
            ></svg-icon>
            {{ textos.historial_proveedores }}
          </a>
          <ul
            [ngClass]="{
              'hide-submenu': itemShow !== 17,
              'show-submenu': itemShow === 17
            }"
          >
            <li *ngIf="authMenu(19)">
              <a
                [routerLink]="['gestionProveedores']"
                routerLinkActive="link-actived"
                (click)="enrutar('/gestionProveedores')"
                >{{ textos.gestion_historial_proveedores }}</a
              >
            </li>
            <li *ngIf="authMenu(20)">
              <a
                [routerLink]="['consultarProveedores']"
                routerLinkActive="link-actived"
                (click)="enrutar('/consultarProveedores')"
                >{{ textos.consultar_historial_proveedores }}</a
              >
            </li>
          </ul>
        </li>
          <li *ngIf="authMenu(21)">
              <a [ngClass]="{ 'item-selected' : itemShow===21}" (click)="itemShow==21 ? itemShow=undefined :itemShow=21 " [routerLink]="['gestionDirectorios']" class="item-focus ">
                  <svg-icon class="iconos-menu" key="libreta"></svg-icon>{{textos.gestion_directorios}}
              </a>
          </li>
          <li *ngIf="authMenu(22)">
              <a [ngClass]="{ 'item-selected' : itemShow===22}" (click)="itemShow==22 ? itemShow=undefined :itemShow=22 " [routerLink]="['gestionAtlas']" class="item-focus ">
                  <svg-icon class="iconos-menu" key="atlasIcono"></svg-icon>
                  {{textos.gestion_atlas}}
              </a>
          </li>
          <li *ngIf="authMenu(23)">
              <a [ngClass]="{ 'item-selected' : itemShow===23}" (click)="itemShow==23 ? itemShow=undefined :itemShow=23 " [routerLink]="['ingresarPlantillaAtlas']" class="item-focus ">
                  <svg-icon class="iconos-menu" key="iconoPlantilla"></svg-icon>
                  {{textos.ingresar_plantilla_atlas}}
              </a>
          </li>
      </ul>
    </div>

    <!--Barra de búsqueda-->
    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <form id="buscar-form" fxLayout="row" fxLayoutAlign="start center">
        <button class="btn-buscar" (click)="buscar()">
          <mat-icon class="iconoBuscador" svgIcon="iconoBuscador"> </mat-icon>
        </button>
        <input
          [(ngModel)]="palabraClave"
          name="palabraClave"
          class="input-buscar"
          type="text"
          placeholder="{{ textos.buscar_pagina }}"
        />
      </form>
    </div>

    <!--Idiomas -->
    <div
      fxFlex
      fxFlex.lt-sm="50px"
      fxLayout="row"
      fxLayoutAlign="center center"
      class="box-seleccionar-idioma"
    >
      <button
        mat-button
        [matMenuTriggerFor]="menuIdioma"
        class="btn-seleccion-idioma"
        fxLayout="row"
        fxHide.lt-sm
        fxLayoutAlign="center center"
      >
        <mat-icon>language</mat-icon> {{ textos.idioma }}
      </button>
      <button
        fxHide.gt-xs
        class="boton-idioma"
        [matMenuTriggerFor]="menuIdioma"
      >
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu class="aqui" #menuIdioma="matMenu" yPosition="below">
        <button
          mat-menu-item
          (click)="cambiarIdiomar(idioma.id)"
          *ngFor="let idioma of listaIdiomas"
        >
          <label class="label-idioma">{{
            nombreIdiomaTraduccion(idioma.descripcion)
          }}</label>
        </button>
      </mat-menu>
    </div>

    <!--Botón Inicio de sesión-->
    <div
      *ngIf="!usuarioLogueado"
      fxFlex
      fxFlex.lt-sm="50px"
      fxLayout="row"
      fxLayoutAlign="center center"
      class="box-iniciar-sesion"
    >
      <button
        class="btn-iniciar-sesion"
        fxLayout="row"
        fxHide.lt-sm
        fxLayoutAlign="center center"
        [routerLink]="['/login']"
      >
        {{ textos.iniciar_sesion }}
      </button>
      <button fxHide.gt-xs class="boton-usuario" [routerLink]="['/login']">
        <mat-icon svgIcon="iconoUsuarioBlanco"></mat-icon>
      </button>
    </div>

    <!--Botón opciones de usuario-->
    <div
      *ngIf="usuarioLogueado"
      fxFlex
      fxFlex.lt-sm="50px"
      fxLayout="row"
      fxLayoutAlign="center center"
      class="box-sesion-iniciada"
    >
      <button
        class="btn-sesion-iniciada"
        fxLayout="row"
        fxHide.lt-sm
        fxLayoutAlign="center center"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon fxFlex="20" class="arrow-up">keyboard_arrow_up</mat-icon>
        <div class="divMenuUsuariolbl" fxFlex="60">
          <p>{{ textos.bienvenido }}</p>
          <p class="nombreLogueado">{{ nombreUsuario }}</p>
        </div>
      </button>
      <button fxHide.gt-xs class="boton-usuario" [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="iconoUsuarioBlanco"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/editarPerfil']">
          <div class="divIconMenu">
            <mat-icon
              class="my-auto ml-auto p-2 iconoUsuario"
              svgIcon="iconoUsuario"
            ></mat-icon>
          </div>
          <div class="divLabelIcon">
            <span class="label-menu">{{ textos.mi_perfil }}</span>
          </div>
        </button>
        <button mat-menu-item (click)="cerrarSesion()">
          <div class="divIconMenu">
            <mat-icon
              class="my-auto ml-auto p-2 iconoApagar"
              svgIcon="iconoApagar"
            ></mat-icon>
          </div>
          <div class="divLabelIcon">
            <span class="label-menu">{{ textos.cerrar_sesion }}</span>
          </div>
        </button>
      </mat-menu>
    </div>

    <!--Menu de países-->
    <div
      *ngIf="!usuarioLogueado"
      fxFlex="90px"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxFlexAlign="center end"
    >
      <img class="logo-pais-actual" [src]="paisActual" alt="País Actual" />
      <mat-icon class="arrow-down" (click)="mostrarMenuPais = !mostrarMenuPais"
        >keyboard_arrow_down</mat-icon
      >
      <ul class="lista-menu-pais" [ngClass]="{ 'hide-menu': !mostrarMenuPais }">
        <li class="lista-pais">
          <a
            class="cursor-pointer"
            (click)="selectPais(pais)"
            *ngFor="let pais of paises"
            [class.item-selected]="selectedPais && pais.id === selectedPais.id"
          >
            <img
              class="logo"
              src="{{ pais.recursos.length ? pais.recursos[0].path : '' }}"
              alt="{{
                pais.recursos.length
                  ? pais.recursos[0].resourceTypeId.description
                  : ''
              }}"
            />{{ pais.nombre }}
          </a>
        </li>
      </ul>
    </div>
  </header>
  <div
    *ngIf="mostrarBanner"
    class="cabecera-logos-banner"
    fxLayout="column"
    fxLayout.lt-sm="row"
    fxLayoutGap.lt-sm="10px"
  >
    <mat-icon
      fxFlex="50"
      fxFlex.lt-sm="30"
      fxFlexOffset.lt-sm="10px"
      class="iconoLogos"
      [svgIcon]="iconoRCSS"
    >
    </mat-icon>
    <div
      fxFlex="50"
      fxFlex.lt-sm="60"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutGap.lt-sm="10px"
      fxLayoutAlign="center center"
    >
      <mat-icon
        class="iconoLogos"
        fxFlex="40"
        fxFlex.lt-sm="50"
        [svgIcon]="iconoOEA"
      ></mat-icon>
    </div>
  </div>
</div>
