$color-azul: #254b9c;
.icono {
    color: $color-azul;
}

.enlace {
    margin: 0px 8px;
    font-size: 18px;
    a {
        text-decoration: none;
        color: $color-azul;
    }
}

.link-activo {
    font-weight: 600;
}

.breadcrumb {
    background-color: white;
}

.breadcrumb>li+li:before {
    content: "\f054";
    color: #254b9c;
}

.breadcrumb>li {
    color: #004a9c;
    font-weight: bold;
}

.breadcrumb>li>a {
    color: #254b9c;
    font-weight: 400;
}

.separator {
    background: #7070709c;
}

.breadcrumb>li .start:after {
    content: "\f015";
    color: #254b9c;
}

.calendar-controls {
    margin-left: -25px;
}

.calendar-controls h1 {
    color: #254b9c;
}

.calendar-controls i {
    margin-left: 10px;
    color: #254b9c;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.month-card {
    background-color: #f2f2f2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    margin-left: 70px;
    h1 {
        color: #0099cc;
        margin-left: 25px;
    }
    p {
        margin-left: 25px;
        font-weight: 600;
    }
}

.main {
    position: relative;
}

img {
    position: absolute;
    right: 90%;
    top: -10px;
    z-index: 99;
}

.event-list {
    margin-top: 100px;
    h1 {
        color: #0099cc;
    }
    p {
        font-weight: 600;
    }
    hr {
        background: #0099cc;
        width: 95%;
    }
    hr::before {
        content: "●";
        color: #0099cc;
        position: absolute;
        margin-left: -16px;
        margin-top: -13px;
        font-size: 30px;
    }
}

h2.fc-toolbar-title {
    font-family: 'OpenSans-Bold', sans-serif !important;
    font-size: 30px !important;
    color: #004A9C;
}