<div *ngIf="calendarioInfo">
  <br>
  <div class="container">
    <div fxLayout="row" style="margin-top: 37px;">
      <svg-icon key="flechaRetorno"></svg-icon>
      <span class="enlace">
        <a [routerLink]="['']">{{calendarioInfo.generales.inicio}}</a>
      </span>
      <mat-icon class="icono">
        keyboard_arrow_right
      </mat-icon>
      <span class="enlace">
        <a [routerLink]="['/calendario']"
          [routerLinkActive]="['link-activo']">{{calendarioInfo.calendario.calendario_g}}</a>
      </span>
    </div>

    <div class="col-md-12 mt-5 mb-3">
      {{calendarioInfo.calendario.parrafo_1}}
      <hr class="separator" />
    </div>

    <!-- Calendario -->
    <div class="col-md-12 mt-5 mb-3">
      <div class='tableauPlaceholder' id='viz1717677779625' style='position: relative'>
        <noscript>
          <a href='#'>
            <img alt='Calendario eventos internacionales 2024 '
              src='https://public.tableau.com/static/images/Ca/Calendarioeventosinternacionales2024/Calendarioeventosinternacionales2024/1_rss.png'
              style='border: none' />
          </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Calendarioeventosinternacionales2024/Calendarioeventosinternacionales2024' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https://public.tableau.com/static/images/Ca/Calendarioeventosinternacionales2024/Calendarioeventosinternacionales2024/1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object>
      </div>
    </div>
  </div>
</div>
