<div *ngIf="textos" s>
    <mat-card class="card-documento" (click)="openDialogDetalle(directorio)">
        <mat-card-content class="card-content">
            <div fxLayout="column">
                <article>
                    <h1>{{directorio.direccion}}</h1>
                    <div class="ubicacion" fxLayout="row">
                        <svg-icon key="locacionBold"></svg-icon>
                        <h2>{{directorio.ciudad}}, {{getDescripcionPais()}}</h2>
                    </div>

                    <p class="doc-titulo">
                        {{directorio.agencia}}
                    </p>
                </article>
            </div>
            <div class="card-fecha">
                <p class="titulo">
                    <!-- {{documento.summary}} -->
                    {{textos.gestion_dir.categoria}}
                </p>
                <hr>
                <div class="footer-card">
                    <div>{{directorio.categoryId.description}}</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="administrar" *ngIf="administrar && consulta == false">
        <div class="container opciones-admin">
            <div class="row justify-content-center align-items-center">
                <div class="col-6 opcion editar" (click)="edita()">
                    <svg-icon class="opcion-icono ico-editar" key="iconoEditar"></svg-icon>
                </div>
                <div class="col-6 opcion eliminar" (click)="elimina()">
                    <svg-icon class="opcion-icono ico-eliminar" key="iconoEliminar"></svg-icon>
                </div>
            </div>
        </div>
    </div>
</div>
