$color-azul: #254b9c;
$color-naranja: #eb7e25;
$color-blanco: #fff;
table {
    width: 100%;
}

.table-header {
    font-family: OpenSans-Bold, sans-serif;
    height: 58px;
    border-radius: 14px;
    background-color: #004a9c;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 5%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    .item-header {
        text-align: left;
    }
}

.iconoEditar,
.iconoMas,
.iconoEliminar {
    order: none;
    outline: none;
}

.table-content {
    margin-top: 10px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f2f2f2;
    padding: 15px 0px 15px 5%;
    .fila-content {
        height: 35px;
        margin: 5px 0px;
        .item-content {
            font-family: OpenSans-Regular, sans-serif;
            text-align: left;
            width: 100%;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            .texto-largo {
                text-overflow: ellipsis;
                width: 90%;
                display: inline-block;
            }
        }
    }
}

.centrado {
    text-align: left;
    .butt {
        border: none;
        background-color: transparent;
    }
}

.form-campo {
    width: 100%;
    max-width: 275px;
    height: 36px;
    .campo {
        font-family: Roboto, sans-serif;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border: solid 1px rgba(26, 26, 26, 0.25);
        background-color: #ffffff;
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #001737;
    }
    .box-icono {
        width: 36px;
        height: 36px;
        right: 0;
        cursor: pointer;
        top: 0;
        padding-top: 0px;
        text-align: center;
        background-color: $color-azul;
        transform: translate(0px, -1px);
        .icono {
            margin: 6px;
        }
    }
}

::ng-deep .img-1 {
    fill: white;
}

.container {
    width: "95%";
}

.separador {
    background-color: #707070;
    max-width: 1px!important;
    height: 30px;
}

.documentos {
    font-family: OpenSans, sans-serif;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
}

.current {
    font-family: OpenSans, sans-serif;
    background: $color-naranja!important;
    color: $color-blanco!important;
}

.custom-pagination {
    font-family: OpenSans, sans-serif;
    margin-top: 24px;
}

.pagination-previous,
.page-number,
.pagination-next {
    font-family: OpenSans, sans-serif;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid darkgrey;
    margin: 2px;
    border-radius: 3px;
    line-height: 2.6;
    color: #525261;
    cursor: pointer;
}

.flecha {
    position: relative;
    top: 6px;
}

.enlace-filtro {
    font-family: OpenSans-Regular, sans-serif;
    text-decoration: underline;
    color: #5597ba;
    cursor: pointer;
}

.nuevo-registro {
    cursor: pointer;
}