<div *ngIf="tCursoInfo">
    <mat-card *ngIf="!userIsAdmin() || idTipoSecion==='1'" class="tarjeta-curso mat-elevation-z3" [ngClass]="{'tarjeta-hover' : hover && !isAdmin}" (click)="abrirDetalle()" (mouseenter)="hover = true" (mouseleave)="hover = false">
        <mat-card-header class="cabecera" fxLayout="column">
            <h1>{{curso?.country ? paisCurso : ''}}</h1>

            <div [ngClass]="{'mouse-hover' : hover && !isAdmin}">
                <h2>{{curso?.type ? tipoCursoTaller : ''}}</h2>
            </div>
        </mat-card-header>

        <mat-card-content class="content">
            <p class="descripcion">
                {{curso.name}}
            </p>
            <p class="fechas">
                <span>{{curso.startDate | date : "dd MMM, yyyy"}}</span> -
                <span>{{curso.endDate | date : "dd MMM, yyyy"}}</span>
            </p>
            <div fxLayout="row">
                <svg-icon class="estrella" key="{{this.calificacion >= 1 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <svg-icon class="estrella" key="{{this.calificacion >= 2 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <svg-icon class="estrella" key="{{this.calificacion >= 3 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <svg-icon class="estrella" key="{{this.calificacion >= 4 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <svg-icon class="estrella" key="{{this.calificacion >= 5 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <span class="calificacion">{{this.calificacion}}</span>
                <span class="barra"></span>
                <span class="comentario">{{this.curso.comentarios.length}}</span>
                <span class="comment">{{tCursoInfo.cursos_talleres.tarjeta_curso.comentarios}}</span>
            </div>
        </mat-card-content>

    </mat-card>



    <mat-card (mouseenter)="over = true;" *ngIf="userIsAdmin() && idTipoSecion !== '1'" class="tarjeta-curso mat-elevation-z3" [ngClass]="{'tarjeta-hover' : hover && !isAdmin}" (click)="abrirDetalle()" (mouseenter)="hover = true" (mouseleave)="hover = true">
        <mat-card-header class="cabecera" fxLayout="column">
            <h1>{{curso?.country ? paisCurso : ''}}</h1>

            <div [ngClass]="{'mouse-hover' : hover && !isAdmin}">
                <h2>{{curso?.type ? tipoCursoTaller : ''}}</h2>
            </div>
        </mat-card-header>

        <mat-card-content class="content">
            <p class="descripcion">
                {{curso.name}}
            </p>
            <p class="fechas">
                <span>{{curso.startDate | date : "dd MMM, yyyy"}}</span> -
                <span>{{curso.endDate | date : "dd MMM, yyyy"}}</span>
            </p>
            <div fxLayout="row">
                <svg-icon class="estrella" key="{{this.calificacion >= 1 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <svg-icon class="estrella" key="{{this.calificacion >= 2 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <svg-icon class="estrella" key="{{this.calificacion >= 3 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <svg-icon class="estrella" key="{{this.calificacion >= 4 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <svg-icon class="estrella" key="{{this.calificacion >= 5 ? 'estrellaActiva': 'estrellaInactiva'}}">
                </svg-icon>
                <span class="calificacion">{{this.calificacion}}</span>
                <span class="barra"></span>
                <span class="comentario">{{this.curso.comentarios.length}}</span>
                <span class="comment">{{tCursoInfo.cursos_talleres.tarjeta_curso.comentarios}}</span>
            </div>
        </mat-card-content>
        <div *ngIf="over && isAdmin" (mouseleave)="over = false;" fxLayoutAlign="center center" class=" nombre tarjeta-edicion mat-elevation-z3">
            <mat-icon (click)="openDialog(1)" class="iconoEditar" svgIcon="iconoEditar"></mat-icon>
            <div class="separador-icono"></div>
            <mat-icon (click)="openDialog(2)" class="iconoEliminar" svgIcon="iconoEliminar"></mat-icon>
        </div>
    </mat-card>
</div>