$color-naranja: #eb7e25;
::ng-deep .mat-detalle-alerta {
    .mat-dialog-container {
        border-radius: 15px;
    }
    width: 80%;
    .title-modal {
        color: $color-naranja;
        font-family: OpenSans-Bold, sans-serif;
        margin-left: 70px;
        text-align: center;
        font-size: 30px;
    }
    .imagen {
        margin: 8px;
        float: left;
    }
    .fila {
        padding: 24px;
        &:nth-child(odd) {
            background-color: #f1f1f1;
        }
        .item {
            font-family: OpenSans-Bold, sans-serif;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 0.2px;
            text-align: left;
            color: #000000;
        }
        .item+div {
            font-family: OpenSans, sans-serif;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 0.2px;
            text-align: left;
            color: #000000;
        }
    }
    .txt-compartir {
        position: relative;
        top: -11px;
    }
    .ampliar-imagen {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        text-align: center;
        background-color: #00000099;
        z-index: 99999999999999;
        .cerrar {
            position: relative;
            color: #f1f1f1;
            cursor: pointer;
            right: 50px;
            top: 50px;
        }
        img {
            margin: auto;
        }
    }
    .item-acordeon {
        font-family: OpenSans, sans-serif;
        width: 332px;
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.25px;
        text-align: left;
        color: #324050;
        position: relative;
        span {
            .mat-icon {
                position: absolute;
                right: 8px;
                top: 10px;
            }
        }
    }
    .accordion-open {
        color: $color-naranja;
        border-bottom: 1px solid $color-naranja;
        span {
            .mat-icon {
                transform: rotate(180deg);
                transform-origin: 50% 50%
            }
        }
    }
    .box-compartir {
        width: 211.2px;
        height: 46.6px;
        border-radius: 23px;
        background-color: #f07e00;
        text-align: center;
        position: relative;
        margin-right: 75px;
        p {
            font-family: OpenSans-Bold, sans-serif;
            width: 100%;
            height: 20px;
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.34;
            letter-spacing: 0.15px;
            text-align: center;
            color: #ffffff;
            .icono-compartir {
                position: relative;
                font-size: 18px;
                top: 4px;
            }
        }
        div {
            border-radius: 50%;
            background: #fff;
            z-index: 9999;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
            .link-shared,
            .facebook,
            .twitter {
                position: absolute;
                width: 54px;
                height: 54px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
            }
            .facebook {
                /*background-image: url('/assets/img/facebook.png');*/
                left: 70px;
                background-size: 40px;
            }
            .twitter {
                /*background-image: url('/assets/img/twitter.png');*/
                left: 135px;
                background-size: 23px;
            }
        }
    }
    .mat-dialog-content {
        padding: 0 100px 60px;
    }
    /* width */
    mat-dialog-content.mat-dialog-content::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    mat-dialog-content.mat-dialog-content::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
    mat-dialog-content.mat-dialog-content::-webkit-scrollbar-thumb {
        width: 5px;
        height: 43px;
        opacity: 0.57;
        border-radius: 6px;
        background-color: #324050;
    }
    /* Handle on hover */
    mat-dialog-content.mat-dialog-content::-webkit-scrollbar-thumb:hover {
        background: #324050;
    }
    .mat-expansion-panel-content {
        transition: 1s;
    }
     ::ng-deep .mat-expansion-panel-content {
        visibility: visible !important;
    }
}

@media screen and (max-width:800px) {
     ::ng-deep .mat-detalle-alerta {
        width: 90%;
        height: 90%;
        .mat-dialog-content {
            padding: 0;
        }
        .title-modal {
            margin-left: 0;
            font-size: 1.25em;
        }
        .fila {
            padding: 16px;
            .item,
            .item+div {
                font-size: 14px;
                line-height: 1.2;
                letter-spacing: 0.16px;
            }
            .item {
                margin-bottom: 0.5rem;
            }
        }
        .item-acordeon {
            width: 100%;
            font-size: 1rem;
            line-height: 1;
            letter-spacing: 0.16px;
            span {
                .mat-icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
        .box-compartir {
            width: 100%;
            height: 2.5rem;
            position: relative;
            margin-right: 0;
            p {
                width: 100%;
                font-size: 14px;
                .icono-compartir {
                    font-size: 18px;
                    top: 4px;
                }
            }
            div {
                .facebook,
                .twitter {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .linea-br {
            display: none;
        }
    }
}